.light {
  --md-sys-color-primary: rgb(0 104 116);
  --md-sys-color-surface-tint: rgb(0 104 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(158 239 253);
  --md-sys-color-on-primary-container: rgb(0 79 88);
  --md-sys-color-secondary: rgb(74 98 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(205 231 236);
  --md-sys-color-on-secondary-container: rgb(51 75 79);
  --md-sys-color-tertiary: rgb(82 94 125);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(218 226 255);
  --md-sys-color-on-tertiary-container: rgb(59 70 100);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(63 72 74);
  --md-sys-color-outline: rgb(111 121 122);
  --md-sys-color-outline-variant: rgb(191 200 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(130 211 224);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 31 36);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 88);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(5 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 79);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(14 27 55);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(59 70 100);
  --md-sys-color-surface-dim: rgb(213 219 220);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(233 239 240);
  --md-sys-color-surface-container-high: rgb(227 233 234);
  --md-sys-color-surface-container-highest: rgb(222 227 229);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(0 60 68);
  --md-sys-color-surface-tint: rgb(0 104 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(24 120 132);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(34 58 62);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(89 113 118);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(42 53 83);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(97 108 141);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(12 18 19);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(47 56 57);
  --md-sys-color-outline: rgb(75 84 86);
  --md-sys-color-outline-variant: rgb(101 111 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(130 211 224);
  --md-sys-color-primary-fixed: rgb(24 120 132);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 94 104);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(89 113 118);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(65 89 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(97 108 141);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(73 84 115);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 199 201);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(227 233 234);
  --md-sys-color-surface-container-high: rgb(216 222 223);
  --md-sys-color-surface-container-highest: rgb(205 211 212);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(0 50 56);
  --md-sys-color-surface-tint: rgb(0 104 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 81 90);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(23 48 52);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(53 77 81);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(32 43 72);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(61 72 103);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(37 46 47);
  --md-sys-color-outline-variant: rgb(65 75 76);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(130 211 224);
  --md-sys-color-primary-fixed: rgb(0 81 90);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 57 63);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(53 77 81);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(30 54 58);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(61 72 103);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(38 50 79);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(180 186 187);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(236 242 243);
  --md-sys-color-surface-container: rgb(222 227 229);
  --md-sys-color-surface-container-high: rgb(207 213 214);
  --md-sys-color-surface-container-highest: rgb(194 199 201);
}
.dark {
  --md-sys-color-primary: rgb(130 211 224);
  --md-sys-color-surface-tint: rgb(130 211 224);
  --md-sys-color-on-primary: rgb(0 54 61);
  --md-sys-color-primary-container: rgb(0 79 88);
  --md-sys-color-on-primary-container: rgb(158 239 253);
  --md-sys-color-secondary: rgb(177 203 208);
  --md-sys-color-on-secondary: rgb(28 52 56);
  --md-sys-color-secondary-container: rgb(51 75 79);
  --md-sys-color-on-secondary-container: rgb(205 231 236);
  --md-sys-color-tertiary: rgb(186 198 234);
  --md-sys-color-on-tertiary: rgb(36 48 77);
  --md-sys-color-tertiary-container: rgb(59 70 100);
  --md-sys-color-on-tertiary-container: rgb(218 226 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(222 227 229);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(191 200 202);
  --md-sys-color-outline: rgb(137 146 148);
  --md-sys-color-outline-variant: rgb(63 72 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(43 49 51);
  --md-sys-color-inverse-primary: rgb(0 104 116);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 31 36);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 88);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(5 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 79);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(14 27 55);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(59 70 100);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(52 58 59);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(27 33 34);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(152 233 247);
  --md-sys-color-surface-tint: rgb(130 211 224);
  --md-sys-color-on-primary: rgb(0 42 48);
  --md-sys-color-primary-container: rgb(73 156 169);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(199 225 230);
  --md-sys-color-on-secondary: rgb(16 41 45);
  --md-sys-color-secondary-container: rgb(124 149 154);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(209 220 255);
  --md-sys-color-on-tertiary: rgb(25 37 65);
  --md-sys-color-tertiary-container: rgb(132 144 178);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(212 222 224);
  --md-sys-color-outline: rgb(170 180 181);
  --md-sys-color-outline-variant: rgb(136 146 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(37 43 44);
  --md-sys-color-inverse-primary: rgb(0 80 89);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 20 23);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 68);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(0 20 23);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 58 62);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(3 16 44);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(42 53 83);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(63 70 71);
  --md-sys-color-surface-container-lowest: rgb(4 8 9);
  --md-sys-color-surface-container-low: rgb(25 31 32);
  --md-sys-color-surface-container: rgb(35 41 42);
  --md-sys-color-surface-container-high: rgb(45 52 53);
  --md-sys-color-surface-container-highest: rgb(57 63 64);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(205 247 255);
  --md-sys-color-surface-tint: rgb(130 211 224);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(126 207 220);
  --md-sys-color-on-primary-container: rgb(0 14 16);
  --md-sys-color-secondary: rgb(218 245 250);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(173 199 204);
  --md-sys-color-on-secondary-container: rgb(0 14 16);
  --md-sys-color-tertiary: rgb(237 239 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(182 194 230);
  --md-sys-color-on-tertiary-container: rgb(0 9 37);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 243);
  --md-sys-color-outline-variant: rgb(187 196 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 80 89);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 23);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 23);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(3 16 44);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(75 81 82);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 34);
  --md-sys-color-surface-container: rgb(43 49 51);
  --md-sys-color-surface-container-high: rgb(54 60 62);
  --md-sys-color-surface-container-highest: rgb(66 72 73);
}
