//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

.micl-textfield-filled > select {
    --md-comp-select-line-height: calc(var(--md-sys-textfield-height) - 18px - 3px);
}
.micl-textfield-outlined > select {
    --md-comp-select-line-height: var(--md-sys-textfield-height);
}
.micl-textfield-filled > select,
.micl-textfield-outlined > select {
    --md-sys-divider-space: 8px;
    --md-comp-list-motion-duration: #{motion.$md-sys-motion-expressive-default-effects-duration};
    --md-comp-select-picker-origin: left top;

    appearance: base-select;
    line-height: var(--md-comp-select-line-height);

    &::picker-icon {
      color: var(--md-sys-color-on-surface-variant);
      transition: motion.$md-sys-motion-duration-medium4 rotate;
      transform-origin: 50% calc((var(--md-comp-select-line-height) / 2) - 1px);
    }
    &:disabled::picker-icon {
        color: rgb(from var(--md-sys-color-on-surface-variant) r g b/var(--md-sys-state-disabled-state-layer-opacity, 38%));
    }
    &:open::picker-icon {
      rotate: 180deg;
    }

    &::picker(select) {
        --md-comp-list-motion-effects: #{motion.$md-sys-motion-expressive-fast-spatial};
        --md-comp-list-motion-duration: #{motion.$md-sys-motion-expressive-default-effects-duration};
        --md-sys-divider-space: 0.5px;
        --_list-shape: var(--md-comp-list-container-shape, var(--md-sys-shape-corner-large, 16px));
        --_list-item-background-color: var(--md-comp-list-item-container-color, transparent);
        --_list-item-background-opacity: 0%;

        appearance: base-select;
        display: flex;
        flex-direction: column;
        position-try-order: most-block-size;
        position-try-fallbacks: flip-block, flip-inline;
        min-inline-size: max(anchor-size(self-inline), var(--md-comp-menu-width-min, 112px));
        max-inline-size: var(--md-comp-menu-width-max, 320px);
        gap: var(--md-comp-menu-gap, 2px);
        padding: 4px;
        border-radius: var(--_list-shape);
        border: none;
        outline: none;
        background-color: var(--md-comp-menu-standard-container-color, var(--md-sys-color-surface-container-low));
        box-shadow: var(--md-comp-menu-container-elevation, var(--md-sys-elevation-level2));
        opacity: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transform: scaleY(0);
        transform-origin: var(--md-comp-select-picker-origin, left top);
        transition:
            opacity var(--md-comp-menu-motion-spatial-duration-reverse) linear,
            transform var(--md-comp-menu-motion-spatial-duration-reverse) var(--md-comp-menu-motion-spatial),
            overlay var(--md-comp-menu-motion-spatial-duration-reverse) linear allow-discrete,
            display var(--md-comp-menu-motion-spatial-duration-reverse) linear allow-discrete;

        &:popover-open {
            opacity: 1;
            transform: scaleY(1);
            transition:
                opacity var(--md-comp-menu-motion-spatial-duration) motion.$md-sys-motion-easing-emphasized-decelerate,
                transform var(--md-comp-menu-motion-spatial-duration) var(--md-comp-menu-motion-spatial),
                overlay var(--md-comp-menu-motion-spatial-duration) linear allow-discrete,
                display var(--md-comp-menu-motion-spatial-duration) linear allow-discrete;

            @starting-style {
                opacity: 0;
                transform: scaleY(0);
            }
        }
    }

    option {
        line-height: normal;

        .micl-list-item__text::after {
            content: attr(aria-description);
        }
        &::checkmark {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
}

[inert] .micl-textfield-filled > select::picker-icon,
[inert] .micl-textfield-outlined > select::picker-icon {
    display: none;
}

[dir=rtl] {
    .micl-textfield-filled > select,
    .micl-textfield-outlined > select {
        &:open::picker-icon {
          rotate: -180deg;
        }
    }
}
