//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shape';
@use '../../styles/statelayer';
@use '../../styles/typography';

@include elevation.level(2);

@include shape.corner('large');

@include statelayer.token('disabled-state-layer-opacity');

// Each selector group compiles to a single selector.
$selects: ':is(.micl-textfield-filled, .micl-textfield-outlined) > select';

.micl-textfield-filled > select {
    --_line-height: calc(var(--md-comp-text-field-container-height, 56px) - 18px - 3px);
}
.micl-textfield-outlined > select {
    --_line-height: var(--md-comp-text-field-container-height, 56px);
}
#{$selects} {
    --md-comp-list-motion-effects: #{motion.$md-sys-motion-expressive-fast-spatial};
    --md-comp-list-motion-duration: #{motion.$md-sys-motion-expressive-default-effects-duration};

    appearance: base-select;
    line-height: var(--_line-height);

    &::picker-icon {
      color: var(--md-comp-text-field-icon-color, var(--md-sys-color-on-surface-variant));
      transition: motion.$md-sys-motion-duration-medium4 rotate;
      transform-origin: 50% calc((var(--_line-height) / 2) - 1px);
    }
    &:disabled::picker-icon {
        color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
    }
    &:open::picker-icon {
      rotate: 180deg;
    }

    &::picker(select) {
        --md-comp-divider-space: 0.5px;
        --_list-shape: var(--md-comp-list-container-shape, var(--md-sys-shape-corner-large, 16px));
        --_list-item-background-color: var(--md-comp-list-item-container-color, transparent);
        --_list-item-background-opacity: 0%;
        --micl-duration: var(--md-comp-menu-motion-spatial-duration-reverse);
        --micl-easing: linear;

        appearance: base-select;
        display: flex;
        flex-direction: column;
        position-try-order: most-block-size;
        position-try-fallbacks: flip-block, flip-inline;
        min-inline-size: max(anchor-size(self-inline), var(--md-comp-menu-width-min, 112px));
        max-inline-size: var(--md-comp-menu-width-max, 320px);
        gap: var(--md-comp-menu-gap, 2px);
        padding: 4px;
        border-radius: var(--_list-shape);
        border: none;
        outline: none;
        background-color: var(--md-comp-menu-standard-container-color, var(--md-sys-color-surface-container-low));
        box-shadow: var(--md-comp-menu-container-elevation, var(--md-sys-elevation-level2));
        opacity: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transform: scaleY(0);
        transform-origin: var(--micl-select-picker-origin, top);
        transition:
            opacity var(--micl-duration) var(--micl-easing),
            transform var(--micl-duration) var(--md-comp-menu-motion-spatial),
            overlay var(--micl-duration) linear allow-discrete,
            display var(--micl-duration) linear allow-discrete;

        &:popover-open {
            --micl-duration: var(--md-comp-menu-motion-spatial-duration);
            --micl-easing: #{motion.$md-sys-motion-easing-emphasized-decelerate};

            opacity: 1;
            transform: scaleY(1);

            @starting-style {
                opacity: 0;
                transform: scaleY(0);
            }
        }
    }

    option {
        line-height: normal;

        .micl-list-item__text::after {
            content: attr(aria-description);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &::checkmark {
            color: var(--_trailing-icon-color);
        }
    }
}

[inert] #{$selects}::picker-icon {
    display: none;
}

#{$selects}:dir(rtl):open::picker-icon {
    rotate: -180deg;
}
