//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/shape';
@use '../../styles/statelayer';
@use '../../styles/typography';
@include motion.token('expressive-default-effects-duration', 'expressive-slow-effects', 'expressive-slow-effects-duration');

@include shape.corner('extra-small');

@include statelayer.token('hover-state-layer-opacity');
@include statelayer.token('disabled-state-layer-opacity');
@include statelayer.property;

@include typography.scale('body-large');
@include typography.scale('body-small');

$textfields: ':is(.micl-textfield-filled, .micl-textfield-outlined)';
$fields: ':is(input, select, textarea)';
$focused: ':has(> :focus, > :where(select:open))';
$populated: ':has(> :focus, > :where(select:open), > [data-miclvalue="1"], > :autofill, > select[multiple], > :is([type=date], [type=datetime-local], [type=month], [type=time], [type=week]), > input[value]:not([value=""], [data-miclvalue]), > select option:checked:is(:not(:empty), [label]:not([label=""])), > textarea:not(:empty, [data-miclvalue]))';

#{$textfields} {
    --_textfield-height: var(--md-comp-text-field-container-height, 56px);
    --_textfield-shape: var(--md-sys-shape-corner-extra-small);
    --_textfield-icon-size: var(--md-comp-text-field-icon-size, 24px);
    --_textfield-icon-space: var(--md-comp-text-field-icon-space, 12px);
    --_textfield-input-space: var(--md-comp-text-field-input-space, 16px);
    --_textfield-icon-leading: 0px;
    --_textfield-icon-trailing: 0px;
    --_textfield-prefix: 0px;
    --_textfield-suffix: 0px;
    --_textfield-outline-width: 1px;
    --_textfield-label-color: var(--md-comp-text-field-label-color, var(--md-sys-color-on-surface-variant));
    --_textfield-effects: var(--md-comp-text-field-motion-effects, var(--md-sys-motion-expressive-slow-effects));
    --_textfield-duration: var(--md-comp-text-field-motion-duration, var(--md-sys-motion-expressive-slow-effects-duration));
    --_textfield-duration-reverse: var(--md-comp-text-field-motion-duration-reverse, var(--md-sys-motion-expressive-default-effects-duration));

    display: grid;
    grid-template-areas: "textfield" "supporting";
    align-items: center;

    &> label {
        @include typography.body-large;

        box-sizing: content-box;
        grid-area: textfield;
        align-self: flex-start;
        width: fit-content;
        padding-inline: 4px;
        margin-block-start: calc((var(--_textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
        color: var(--_textfield-label-color);
        z-index: 1;
        transition:
            margin var(--_textfield-duration) var(--_textfield-effects),
            font-size var(--_textfield-duration) linear,
            letter-spacing var(--_textfield-duration) linear;
    }
    &> #{$fields} {
        @include typography.body-large;

        box-sizing: border-box;
        grid-area: textfield;
        inline-size: auto;
        margin: 0;
        padding-inline:
            calc(var(--_textfield-input-space) - var(--_textfield-border, 0px) + var(--_textfield-icon-leading) + var(--_textfield-prefix))
            calc(var(--_textfield-input-space) - var(--_textfield-border, 0px) + var(--_textfield-icon-trailing) + var(--_textfield-suffix));
        border: none;
        border-radius: var(--_textfield-shape);
        outline: none;
        color: var(--md-comp-text-field-input-color, var(--md-sys-color-on-surface));
        background-color: transparent;
        text-overflow: ellipsis;
        caret-color: var(--_textfield-caret-color, var(--md-comp-text-field-caret-color, var(--md-sys-color-primary)));

        &:disabled {
            color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));

            &::placeholder {
                color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
            }
        }
        &::placeholder {
            color: var(--md-comp-text-field-input-placeholder-color, var(--md-sys-color-on-surface-variant));
        }
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
    }
    &> :is(input, select) {
        height: var(--_textfield-height);
        padding-block: 0;
    }
    &> textarea {
        min-height: var(--_textfield-height);
        padding-block: calc((var(--_textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
        resize: none;

        &[rows] {
            padding-block-start: 0;
            border-block-start: calc((var(--_textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2) solid transparent;
        }
        &:not([rows]) {
            field-sizing: content;
        }
    }
    &> .micl-textfield__prefix,
    &> .micl-textfield__suffix {
        @include typography.body-large;

        grid-area: textfield;
        align-content: center;
        height: var(--_textfield-height);
        opacity: 0;
        z-index: 1;
        transition: opacity var(--_textfield-duration-reverse) linear;
    }
    &> .micl-textfield__prefix {
        width: var(--md-comp-text-field-prefix-space, 1em);
        color: var(--md-comp-text-field-input-prefix-color, var(--md-sys-color-on-surface-variant));
        padding-inline-start: calc(var(--_textfield-input-space) + var(--_textfield-icon-leading));
    }
    &> .micl-textfield__suffix {
        width: var(--md-comp-text-field-suffix-space, 1em);
        color: var(--md-comp-text-field-input-suffix-color, var(--md-sys-color-on-surface-variant));
        padding-inline-end: calc(var(--_textfield-input-space) + var(--_textfield-icon-trailing));
        margin-inline: auto 0;
    }
    &> .micl-textfield__icon-leading,
    &> .micl-textfield__icon-trailing {
        grid-area: textfield;
        width: 1em;
        margin-inline: var(--_textfield-icon-space) auto;
        font-size: var(--_textfield-icon-size);
        color: var(--md-comp-text-field-icon-color, var(--md-sys-color-on-surface-variant));
        z-index: 1;
    }
    &> .micl-textfield__icon-trailing {
        margin-inline: auto var(--_textfield-icon-space);
        color: var(--_textfield-icon-trailing-color, var(--md-comp-text-field-icon-color, var(--md-sys-color-on-surface-variant)));
    }
    &> :is(.micl-textfield__icon-leading, .micl-textfield__icon-trailing, .micl-textfield__prefix, .micl-textfield__suffix):not(a, button) {
        pointer-events: none;
    }

    &:has(> .micl-textfield__prefix) {
        --_textfield-prefix: var(--md-comp-text-field-prefix-space, 1em);
    }
    &:has(> .micl-textfield__suffix) {
        --_textfield-suffix: var(--md-comp-text-field-suffix-space, 1em);
    }
    &:has(> .micl-textfield__icon-leading) {
        --_textfield-icon-leading: calc(var(--_textfield-icon-size) + var(--_textfield-icon-space));
    }
    &:has(> .micl-textfield__icon-trailing) {
        --_textfield-icon-trailing: calc(var(--_textfield-icon-size) + var(--_textfield-icon-space));
    }

    &:has(> label):not(#{$populated}) > #{$fields}::placeholder {
        color: transparent;
    }

    &> .micl-textfield__supporting-text,
    &> .micl-textfield__character-counter {
        @include typography.body-small;

        grid-area: supporting;
        padding-block: 4px 0;
        padding-inline: 16px;
        color: var(--md-comp-text-field-supporting-text-color, var(--md-sys-color-on-surface-variant));
    }
    &> .micl-textfield__supporting-text--focus {
        visibility: hidden;
    }
    &> .micl-textfield__character-counter {
        justify-self: flex-end;
    }
    &:has(> :is(input, textarea):not([maxlength]), > select) > .micl-textfield__character-counter {
        display: none;
    }
    &:has(> :is(input, textarea)[maxlength]:not(:disabled)):has(> .micl-textfield__character-counter) > .micl-textfield__supporting-text {
        padding-inline-end: 64px;
    }

}

.micl-textfield-filled {
    --_textfield-outline-color: var(--md-comp-filled-text-field-active-indicator-color, var(--md-sys-color-on-surface-variant));
    --_focus-outline-color: var(--md-comp-filled-text-field-focus-active-indicator-color, var(--md-sys-color-primary));
    --_textfield-input-top: 18px;

    &> label {
        margin-inline: 12px 4px;
    }
    &:hover > #{$fields}:not(:disabled) {
        --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);
    }
    &> #{$fields} {
        --statelayer-color: var(--md-sys-color-on-surface);

        padding-block-start: var(--_textfield-input-top);
        padding-block-end: calc(3px - var(--_textfield-outline-width));
        border-block-end: var(--_textfield-outline-width) solid var(--_textfield-outline-color);
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        background-color: var(--md-comp-filled-text-field-container-color, var(--md-sys-color-surface-container-highest));
        background-image: linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        transition: --statelayer-opacity var(--_textfield-duration) linear;

        &:disabled {
            background-color: rgb(from var(--md-sys-color-on-surface) r g b / 4%);
        }
    }
    &> textarea {
        padding-block-start: 24px;

        &[rows] {
            border-block-start-width: 24px;
            background-origin: border-box;
        }
    }
    &:not(:has(> label)) {
        --_textfield-input-top: 3px;

        &> textarea {
            padding-block-start: calc((var(--_textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);

            &[rows] {
                border-block-start-width: calc((var(--_textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
            }
        }
    }
    &:has(> .micl-textfield__icon-leading) > label {
        margin-inline-start: calc(var(--_textfield-input-space) + var(--_textfield-icon-leading) - 4px);
    }
    &#{$populated} {
        &> label {
            margin-block-start: 8px;
        }
        &:has(> label) > .micl-textfield__prefix,
        &:has(> label) > .micl-textfield__suffix {
            height: 40px;
            margin-block-start: 16px;
        }
    }
}

.micl-textfield-outlined {
    --_textfield-outline-color: var(--md-comp-outlined-text-field-outline-color, var(--md-sys-color-outline));
    --_focus-outline-color: var(--md-comp-outlined-text-field-focus-outline-color, var(--md-sys-color-primary));
    --_disabled-outline-opacity: 12%;
    --_textfield-border: var(--_textfield-outline-width);
    --_textfield-outline-extra: calc(var(--_textfield-outline-width) - 1px);

    grid-template:
        "textfield textfield textfield"
        "supporting supporting supporting"
        / 12px fit-content(calc(100% - 24px)) 1fr;

    &:where(:has(> label)) {
        margin-block-start: calc(2px + var(--md-sys-typescale-body-small-line-height) / 2);
    }

    &::before,
    &::after {
        content: '';
        grid-area: textfield;
        align-self: start;
        height: var(--_textfield-shape);
        border-block-start: var(--_textfield-outline-width) solid var(--_textfield-outline-color);
    }
    &::before {
        grid-column: 1 / 3;
        border-start-start-radius: var(--_textfield-shape);
    }
    &::after {
        grid-column: 3;
        border-start-end-radius: var(--_textfield-shape);
    }
    &:hover {
        --_textfield-label-color: var(--md-sys-color-on-surface);
    }
    &> label {
        grid-column: 2;
    }
    &:has(> .micl-textfield__icon-leading) > label {
        margin-inline-start: calc(var(--_textfield-input-space) + var(--_textfield-icon-leading) - 16px);
    }
    &> #{$fields} {
        border-block-end: var(--_textfield-border) solid var(--_textfield-outline-color);
        border-inline: var(--_textfield-border) solid var(--_textfield-outline-color);
    }

    &> input {
        padding-block-start: calc(var(--_textfield-border) - 1px);
    }

    &> textarea {
        --_textfield-border: 1px;

        box-shadow:
            inset var(--_textfield-outline-extra) 0 var(--_textfield-outline-color),
            inset calc(0px - var(--_textfield-outline-extra)) 0 var(--_textfield-outline-color),
            inset 0 calc(0px - var(--_textfield-outline-extra)) var(--_textfield-outline-color);
    }
    &#{$populated} {
        &::before {
            grid-column: 1;
        }
        &> label {
            margin-block-start: calc(-2px - var(--md-sys-typescale-body-small-line-height) / 2);
            margin-inline-start: 0;
        }
    }
}

#{$textfields} {
    &:hover {
        --_textfield-outline-color: var(--md-sys-color-on-surface);
    }
    &#{$focused} {
        --_textfield-outline-width: 3px;
        --_textfield-outline-color: var(--_focus-outline-color);
        --_textfield-label-color: var(--md-comp-text-field-focus-label-color, var(--md-sys-color-primary));

        &> .micl-textfield__supporting-text--focus {
            visibility: visible;
        }
    }
    &#{$populated} {
        &> label {
            @include typography.body-small;
        }
    }
    &#{$populated},
    &:not(:has(> label)) {
        &> .micl-textfield__prefix,
        &> .micl-textfield__suffix {
            opacity: 1;
        }
    }
    &:has(> :disabled) {
        --_textfield-outline-color: rgb(from var(--md-sys-color-on-surface) r g b / var(--_disabled-outline-opacity, 38%));

        &> :is(label, [class*=micl-textfield__]:not(.micl-textfield__character-counter)) {
            color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
        }
        &> .micl-textfield__character-counter {
            display: none;
        }
    }
}

#{$textfields}:has(> [aria-invalid=true]:not(:disabled)) {
    --_textfield-outline-color: var(--md-sys-color-error);
    --_textfield-caret-color: var(--md-sys-color-error);
    --_textfield-label-color: var(--md-sys-color-error);
    --_textfield-icon-trailing-color: var(--md-sys-color-error);

    &> .micl-textfield__supporting-text,
    &> .micl-textfield__character-counter {
        color: var(--md-sys-color-error);
    }
    &:hover:not(#{$focused}) {
        --_textfield-outline-color: var(--md-sys-color-on-error-container);
        --_textfield-label-color: var(--md-sys-color-on-error-container);
        --_textfield-icon-trailing-color: var(--md-sys-color-on-error-container);
    }
}

#{$textfields}:dir(rtl) {
    &> .micl-textfield__icon-leading {
        margin-inline: auto var(--_textfield-icon-space);
    }
    &> .micl-textfield__icon-trailing {
        margin-inline: var(--_textfield-icon-space) auto;
    }
}
