//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

.micl-textfield-filled,
.micl-textfield-outlined {
    --md-sys-textfield-height: 56px;
    --md-sys-textfield-icon-size: 24px;
    --md-sys-textfield-icon-space: 12px;
    --md-sys-textfield-input-space: 16px;
    --md-sys-textfield-prefix-space: 1em;
    --md-sys-textfield-suffix-space: 1em;
    --md-sys-textfield-motion-effects: #{motion.$md-sys-motion-expressive-slow-effects};
    --md-sys-textfield-motion-duration: #{motion.$md-sys-motion-expressive-slow-effects-duration};
    --md-sys-textfield-motion-duration-reverse: #{motion.$md-sys-motion-expressive-default-effects-duration};

    display: grid;
    grid-template-areas: "textfield" "supporting";
    align-items: center;
    background-color: inherit;

    &> label {
        @include typography.body-large;

        box-sizing: content-box;
        grid-area: textfield;
        align-self: flex-start;
        width: fit-content;
        padding-inline: 4px;
        margin-block-start: calc((var(--md-sys-textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
        margin-inline-start: 12px;
        border-radius: 4px;
        background-color: inherit;
        color: var(--md-sys-color-on-surface-variant);
        z-index: 1;
        transition:
            margin-block-start var(--md-sys-textfield-motion-duration) var(--md-sys-textfield-motion-effects),
            margin-inline-start var(--md-sys-textfield-motion-duration) var(--md-sys-textfield-motion-effects),
            font-size var(--md-sys-textfield-motion-duration) linear,
            letter-spacing var(--md-sys-textfield-motion-duration) linear;
    }
    &> input,
    &> select,
    &> textarea {
        @include typography.body-large;

        box-sizing: border-box;
        grid-area: textfield;
        margin: 0;
        padding-inline: var(--md-sys-textfield-input-space);
        border: none;
        border-block-end: 1px solid var(--md-sys-color-on-surface-variant);
        border-radius: var(--md-sys-shape-corner-extra-small);
        outline: none;
        color: var(--md-sys-color-on-surface);
        background-color: transparent;
        text-overflow: ellipsis;
        caret-color: var(--md-sys-color-primary);

        &:disabled {
            border-block-end-color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
            color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
        }
        &::placeholder {
            color: var(--md-sys-color-on-surface-variant);
        }
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
    }
    &> input,
    &> select {
        height: var(--md-sys-textfield-height);
        padding-block: 0;
    }
    &> textarea {
        min-height: var(--md-sys-textfield-height);
        padding-block: calc((var(--md-sys-textfield-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
        resize: none;

        &[rows] {
            padding-block-start: 0;
            border-block-start: 8px solid transparent;
            overflow: hidden;
        }
        &:not([rows]) {
            field-sizing: content;
        }
    }
    &> .micl-textfield__prefix,
    &> .micl-textfield__suffix {
        @include typography.body-large;

        grid-area: textfield;
        align-content: center;
        height: var(--md-sys-textfield-height);
        color: var(--md-sys-color-on-surface-variant);
        opacity: 0;
        z-index: 1;
        transition: opacity var(--md-sys-textfield-motion-duration-reverse) linear;
    }
    &> .micl-textfield__prefix {
        width: var(--md-sys-textfield-prefix-space);
        padding-inline-start: var(--md-sys-textfield-input-space);
    }
    &> .micl-textfield__suffix {
        width: var(--md-sys-textfield-suffix-space);
        padding-inline-end: var(--md-sys-textfield-input-space);
        margin-inline: auto 0;
    }
    &> .micl-textfield__icon-leading,
    &> .micl-textfield__icon-trailing {
        grid-area: textfield;
        width: 1em;
        margin-inline: var(--md-sys-textfield-icon-space) auto;
        font-size: var(--md-sys-textfield-icon-size);
        color: var(--md-sys-color-on-surface-variant);
        z-index: 1;
    }
    &> .micl-textfield__icon-trailing {
        margin-inline: auto var(--md-sys-textfield-icon-space);
    }
    &:has(> .micl-textfield__prefix) {
        &> input,
        &> textarea {
            padding-inline-start: calc(var(--md-sys-textfield-input-space) + var(--md-sys-textfield-prefix-space));
        }
    }
    &:has(> .micl-textfield__suffix) {
        &> input,
        &> textarea {
            padding-inline-end: calc(var(--md-sys-textfield-suffix-space) + var(--md-sys-textfield-input-space));
        }
    }
    &:has(> .micl-textfield__icon-leading) {
        &> label {
            margin-inline-start: calc(var(--md-sys-textfield-icon-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-input-space));
        }
        &> .micl-textfield__prefix,
        &> input,
        &> textarea {
            padding-inline-start: calc(var(--md-sys-textfield-icon-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-input-space));
        }
        &:has(> .micl-textfield__prefix) > input,
        &:has(> .micl-textfield__prefix) > textarea {
            padding-inline-start: calc(var(--md-sys-textfield-input-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-icon-space) + var(--md-sys-textfield-prefix-space));
        }
    }
    &:has(> .micl-textfield__icon-trailing) {
        &> .micl-textfield__suffix,
        &> input,
        &> textarea {
            padding-inline-end: calc(var(--md-sys-textfield-input-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-icon-space));
        }
        &:has(> .micl-textfield__suffix) > input,
        &:has(> .micl-textfield__suffix) > textarea {
            padding-inline-end: calc(var(--md-sys-textfield-input-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-prefix-space) + var(--md-sys-textfield-icon-space));
        }
    }
    &> .micl-textfield__supporting-text,
    &> .micl-textfield__character-counter {
        @include typography.body-small;

        grid-area: supporting;
        padding-block: 4px 0;
        padding-inline: 16px;
        color: var(--md-sys-color-on-surface-variant);

        &.micl-textfield__supporting-text--focus {
            visibility: hidden;
        }
    }
    &> .micl-textfield__character-counter {
        justify-self: flex-end;
    }
    &:has(> input:active),
    &:has(> select:active),
    &:has(> textarea:active),
    &:has(> input:focus),
    &:has(> select:focus),
    &:has(> textarea:focus),
    &:has(> input:focus-visible),
    &:has(> select:focus-visible),
    &:has(> textarea:focus-visible) {
        &> label {
            color: var(--md-sys-color-primary);
        }
        &> .micl-textfield__supporting-text.micl-textfield__supporting-text--focus {
            visibility: visible;
        }
    }
    &:has(> input:disabled),
    &:has(> select:disabled),
    &:has(> textarea:disabled) {
        &> label {
            color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
        }
        &> .micl-textfield__icon-leading,
        &> .micl-textfield__icon-trailing,
        &> .micl-textfield__supporting-text {
            color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
        }
        &> .micl-textfield__character-counter {
            display: none;
        }
    }
    &:has(> input:not([maxlength])),
    &:has(> textarea:not([maxlength])) {
        &> .micl-textfield__character-counter {
            display: none;
        }
    }
    &:has(> input[maxlength]:not(:disabled)):has(> .micl-textfield__character-counter),
    &:has(> textarea[maxlength]:not(:disabled)):has(> .micl-textfield__character-counter) {
        &> .micl-textfield__supporting-text {
            padding-inline-end: 64px;
        }
    }
}

.micl-textfield-filled {
    &> label {
        background-color: transparent;
    }
    &:hover {
        &> input:not(:disabled),
        &> select:not(:disabled),
        &> textarea:not(:disabled) {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);

            border-block-end-color: var(--md-sys-color-on-surface);
        }
    }
    &> input,
    &> select,
    &> textarea {
        --statelayer-color: var(--md-sys-color-on-surface);

        padding-block-start: 18px;
        padding-block-end: 2px;
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        outline: none;
        background-color: var(--md-sys-color-surface-container-highest);
        background-image: linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        transition: --statelayer-opacity var(--md-sys-textfield-motion-duration) linear;

        &:disabled {
            background-color: rgb(from var(--md-sys-color-on-surface) r g b / 4%);
        }
        &:not(:disabled):focus,
        &:not(:disabled):focus-visible,
        &:not(:disabled):active {
            padding-block-end: 0px;
            border-block-end-width: 3px;
            border-block-end-color: var(--md-sys-color-primary);
        }
    }
    &> textarea {
        padding-block-start: 24px;
    }
    &:has(
        > input:focus,
        > input[value]:not([value='']):not([data-miclinitialized]),
        > input[data-miclvalue],
        > input[type=date],
        > input[type=datetime-local],
        > input[type=month],
        > input[type=time],
        > input[type=week],
        > select:focus,
        > select:not([data-miclinitialized]) option:checked:not([value='']),
        > select[data-miclvalue],
        > textarea:focus,
        > textarea:not(:empty):not([data-miclinitialized]),
        > textarea[data-miclvalue]
    ) {
        &> label {
            @include typography.body-small;

            margin-block-start: 8px;
            margin-inline-start: 12px;
        }
        &:has(> .micl-textfield__icon-leading) > label {
            margin-inline-start: calc(var(--md-sys-textfield-input-space) + var(--md-sys-textfield-icon-size) + var(--md-sys-textfield-icon-space) - 4px);
        }
        &> .micl-textfield__prefix,
        &> .micl-textfield__suffix {
            height: 40px;
            margin-block-start: 16px;
            opacity: 1;
        }
    }
}
.micl-textfield-outlined {
    margin-block-start: calc(2px + var(--md-sys-typescale-body-small-line-height)/2);

    &:hover {
        &> label {
            color: var(--md-sys-color-on-surface);
        }
        &> input:not(:disabled),
        &> select:not(:disabled),
        &> textarea:not(:disabled) {
            outline-color: var(--md-sys-color-on-surface);
            color: var(--md-sys-color-on-surface);
        }
    }
    &> input,
    &> select,
    &> textarea {
        margin: 0px 3px 3px 3px;
        border: none;
        outline: 1px solid var(--md-sys-color-outline);

        &:disabled {
            outline-color: rgb(from var(--md-sys-color-on-surface) r g b / 12%);
        }
        &:not(:disabled):focus,
        &:not(:disabled):focus-visible,
        &:not(:disabled):active {
            outline-width: 3px;
            outline-color: var(--md-sys-color-primary);
        }
    }
    &:has(
        > input:focus,
        > input[value]:not([value='']):not([data-miclinitialized]),
        > input[data-miclvalue],
        > input[type=date],
        > input[type=datetime-local],
        > input[type=month],
        > input[type=time],
        > input[type=week],
        > select:focus,
        > select:not([data-miclinitialized]) option:checked:not([value='']),
        > select[data-miclvalue],
        > textarea:focus,
        > textarea:not(:empty):not([data-miclinitialized]),
        > textarea[data-miclvalue]
    ) {
        &> label {
            @include typography.body-small;

            margin-block-start: calc(-2px - var(--md-sys-typescale-body-small-line-height) / 2);
            margin-inline-start: 12px;
        }
        &> .micl-textfield__prefix,
        &> .micl-textfield__suffix {
            opacity: 1;
        }
    }
}

.micl-textfield-filled.micl-textfield--error,
.micl-textfield-outlined.micl-textfield--error {
    &> label,
    &> .micl-textfield__icon-trailing,
    &> .micl-textfield__supporting-text,
    &> .micl-textfield__character-counter {
        color: var(--md-sys-color-error);
    }
    &> input,
    &> textarea {
        border-block-end-color: var(--md-sys-color-error);
        outline-color: var(--md-sys-color-error);
        caret-color: var(--md-sys-color-error);

        &:active,
        &:focus,
        &:focus-visible {
            border-block-end-color: var(--md-sys-color-error);
            outline-color: var(--md-sys-color-error);
        }
    }
    &:hover {
        &> label,
        &> .micl-textfield__icon-trailing {
            color: var(--md-sys-color-on-error-container);
        }
        &> input,
        &> textarea {
            border-block-end-color: var(--md-sys-color-on-error-container);
            outline-color: var(--md-sys-color-on-error-container);
        }
    }
    &:has(> input:active),
    &:has(> input:focus),
    &:has(> input:focus-visible),
    &:has(> textarea:active),
    &:has(> textarea:focus),
    &:has(> textarea:focus-visible) {
        &> label,
        &> .micl-textfield__icon-trailing {
            color: var(--md-sys-color-error);
        }
    }
}

[dir=rtl] .micl-textfield-filled,
[dir=rtl] .micl-textfield-outlined {
    &> .micl-textfield__icon-leading {
        margin-inline: auto var(--md-sys-textfield-icon-space);
    }
    &> .micl-textfield__icon-trailing {
        margin-inline: var(--md-sys-textfield-icon-space) auto;
    }
}
