//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.


@use '../../foundations/layout/tokens' as layout;
@use '../../styles/typography';

@include typography.scale('display-small');
@include typography.scale('headline-medium');
@include typography.scale('title-large');
@include typography.scale('title-medium');
@include typography.scale('label-large');
@include typography.scale('label-medium');

@property --micl-appbar-progress {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@mixin appbar-sticky() {
    --_stick: env(safe-area-inset-top, 0px);
    --_stick-animation: micl-appbar-background var(--_collapse, );
}

.micl-appbar {
    --_height: 64px;
    --_small-font: #{typography.font('title-large')};
    --_small-tracking: #{typography.tracking('title-large')};
    --_small-subtitle-font: #{typography.font('label-medium')};
    --_small-subtitle-tracking: #{typography.tracking('label-medium')};

    box-sizing: border-box;
    position: sticky;
    display: grid;
    grid-template-columns: 0fr 1fr repeat(5, auto);
    grid-template-rows: 64px max-content;
    align-content: space-between;
    align-items: center;
    min-block-size: var(--_height);
    inset-block-start: var(--_stick, auto);
    padding-inline: var(--md-sys-layout-window-margin);
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    background-color: var(--md-comp-app-bar-container-color, inherit);
    z-index: 8;

    &::before {
        content: '';
        grid-area: 1 / 1 / 2 / 3;
    }
    .micl-appbar__leading-icon,
    .micl-appbar__trailing-icon {
        --_icon-offset: calc((var(--micl-width, var(--md-sys-icon-size, 24px)) - var(--md-sys-icon-size, 24px)) / 2);

        z-index: 1;
    }
    .micl-appbar__leading,
    .micl-appbar__leading-icon {
        grid-area: 1 / 1;
        margin-inline-end: 4px;
    }
    .micl-appbar__leading-icon {
        margin-inline-start: calc(-1 * var(--_icon-offset));
        color: var(--md-comp-app-bar-leading-icon-color, var(--md-sys-color-on-surface));
    }
    .micl-appbar__headline {
        display: flex;
        grid-area: 1 / 2;
        flex-direction: column;
        align-items: flex-start;
        min-inline-size: 0;
        margin-block: 8px;
        margin-inline-end: 4px;
        color: var(--md-comp-app-bar-title-color, var(--md-sys-color-on-surface));
        white-space: nowrap;

        &.micl-appbar__headline--center {
            align-items: center;
            text-align: center;
        }
        > * {
            max-inline-size: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
            font: var(--_small-font);
            letter-spacing: var(--_small-tracking);
            margin: 0;
        }
        .micl-appbar__subtitle {
            font: var(--_small-subtitle-font);
            letter-spacing: var(--_small-subtitle-tracking);
            margin: 0;
            color: var(--md-comp-app-bar-subtitle-color, var(--md-sys-color-on-surface-variant));
        }
    }
    &:not(.micl-appbar--medium, .micl-appbar--large) .micl-appbar__headline--center {
        position: absolute;
        grid-area: auto;
        inset: 0;
        justify-content: center;
        margin: 0;
    }
    .micl-appbar__trailing,
    .micl-appbar__trailing-icon {
        grid-row: 1;
    }
    .micl-appbar__trailing-icon {
        color: var(--md-comp-app-bar-trailing-icon-color, var(--md-sys-color-on-surface-variant));

        &:last-child {
            margin-inline-end: calc(-1 * var(--_icon-offset));
        }
    }
}

@supports (anchor-name: --micl-appbar-lead) {
    .micl-appbar--medium,
    .micl-appbar--large {
        --_collapse: #{', micl-appbar-collapse'};
    }
}

.micl-appbar--medium,
.micl-appbar--large {
    padding-block-end: 12px;

    .micl-appbar__headline {
        grid-area: 2 / 1 / 3 / -1;
        align-self: end;
        margin: 0;
        white-space: normal;
    }
}
.micl-appbar--medium {
    --_height: 112px;
    --_title-size: #{'var(--md-sys-typescale-headline-medium-size)'};
    --_title-line: #{'var(--md-sys-typescale-headline-medium-line-height)'};
    --_subtitle-size: #{'var(--md-sys-typescale-label-large-size)'};
    --_subtitle-line: #{'var(--md-sys-typescale-label-large-line-height)'};
    --_subtitle-track: #{'var(--md-sys-typescale-label-large-tracking)'};

    .micl-appbar__headline {
        :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
            @include typography.headline-medium;
        }
        .micl-appbar__subtitle {
            @include typography.label-large;
        }
    }
    &:has(.micl-appbar__subtitle) {
        --_height: 136px;
    }
}
.micl-appbar--large {
    --_height: 120px;
    --_title-size: #{'var(--md-sys-typescale-display-small-size)'};
    --_title-line: #{'var(--md-sys-typescale-display-small-line-height)'};
    --_subtitle-size: #{'var(--md-sys-typescale-title-medium-size)'};
    --_subtitle-line: #{'var(--md-sys-typescale-title-medium-line-height)'};
    --_subtitle-track: #{'var(--md-sys-typescale-title-medium-tracking)'};

    .micl-appbar__headline {
        :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
            @include typography.display-small;
        }
        .micl-appbar__subtitle {
            @include typography.title-medium;
        }
    }
    &:has(.micl-appbar__subtitle) {
        --_height: 152px;
    }
}

@container style(--_collapsing: 1) {
    .micl-appbar {
        anchor-scope: --micl-appbar-lead, --micl-appbar-content;
    }
    .micl-appbar::before {
        anchor-name: --micl-appbar-content;
    }
    .micl-appbar :is(.micl-appbar__leading, .micl-appbar__leading-icon) {
        anchor-name: --micl-appbar-lead;
    }
    .micl-appbar .micl-appbar__headline {
        --_lines: var(--md-sys-typescale-title-large-line-height);
        --_p: var(--micl-appbar-progress);

        position: absolute;
        grid-area: 1 / 1 / 3 / -1;
        margin: 0;
        inset-inline-start: calc(var(--_p) * (anchor-size(--micl-appbar-lead inline, -4px) + 4px - var(--_trim, 0px)));
        inset-inline-end: calc(min(1, var(--_p) * 5) * (anchor(--micl-appbar-content end, -4px) + 4px));
        inset-block-end: calc(var(--_p) * (64px - var(--_lines)) / 2);
        white-space: nowrap;

        :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
            font-size: calc(var(--_title-size) + var(--_p) * (var(--md-sys-typescale-title-large-size) - var(--_title-size)));
            line-height: calc(var(--_title-line) + var(--_p) * (var(--md-sys-typescale-title-large-line-height) - var(--_title-line)));
        }
        .micl-appbar__subtitle {
            font-size: calc(var(--_subtitle-size) + var(--_p) * (var(--md-sys-typescale-label-medium-size) - var(--_subtitle-size)));
            line-height: calc(var(--_subtitle-line) + var(--_p) * (var(--md-sys-typescale-label-medium-line-height) - var(--_subtitle-line)));
            letter-spacing: calc(var(--_subtitle-track) + var(--_p) * (var(--md-sys-typescale-label-medium-tracking) - var(--_subtitle-track)));
        }
    }
    .micl-appbar:has(> .micl-appbar__leading-icon) .micl-appbar__headline {
        --_trim: calc((anchor-size(--micl-appbar-lead inline, 24px) - var(--md-sys-icon-size, 24px)) / 2);
    }
    .micl-appbar:has(.micl-appbar__subtitle) .micl-appbar__headline {
        --_lines: calc(var(--md-sys-typescale-title-large-line-height) + var(--md-sys-typescale-label-medium-line-height));
    }
}

@supports (animation-timeline: scroll()) {
    .micl-appbar {
        animation-name: var(--_stick-animation, none);
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 0 8px, 0 calc(var(--_height) - 64px);
    }
}

.micl-appbar.micl-appbar--sticky,
.micl-panes:not(:has(> .micl-pane:nth-child(2))) .micl-appbar:not(.micl-appbar--not-sticky) {
    @include appbar-sticky;
}
.micl-panes:has(> .micl-pane:nth-child(2)) {
    @media (max-width: layout.$md-sys-breakpoint-compact-max) {
        .micl-appbar:not(.micl-appbar--not-sticky) {
            @include appbar-sticky;
        }
    }
    @media (min-width: layout.$md-sys-breakpoint-medium-min) and (max-width: layout.$md-sys-breakpoint-medium-max) {
        &.micl-panes--stacked-to-expanded,
        &.micl-panes--stacked-to-large,
        &.micl-panes--stacked-to-extralarge {
            .micl-appbar:not(.micl-appbar--not-sticky) {
                @include appbar-sticky;
            }
        }
    }
    @media (min-width: layout.$md-sys-breakpoint-expanded-min) and (max-width: layout.$md-sys-breakpoint-expanded-max) {
        &.micl-panes--stacked-to-large,
        &.micl-panes--stacked-to-extralarge {
            .micl-appbar:not(.micl-appbar--not-sticky) {
                @include appbar-sticky;
            }
        }
    }
    @media (min-width: layout.$md-sys-breakpoint-large-min) and (max-width: layout.$md-sys-breakpoint-large-max) {
        &.micl-panes--stacked-to-extralarge {
            .micl-appbar:not(.micl-appbar--not-sticky) {
                @include appbar-sticky;
            }
        }
    }
}

@keyframes micl-appbar-background {
    to {
        background-color: var(--md-comp-app-bar-on-scroll-container-color, var(--md-sys-color-surface-container));
        border-start-start-radius: 0;
        border-start-end-radius: 0;
    }
}

@keyframes micl-appbar-collapse {
    from {
        grid-template-rows: 64px 0;
        --_collapsing: 1;
    }
    to {
        grid-template-rows: 64px 0;
        min-block-size: 64px;
        margin-block-end: calc(var(--_height) - 64px);
        padding-block-end: 0;
        --micl-appbar-progress: 1;
        --_collapsing: 1;
    }
}
