//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use 'foundations/layout';

@use 'styles/typography';
@use 'styles/shapes';
@use 'styles/elevation';
@use 'styles/motion';
@use 'styles/statelayer';

@use 'components/divider';
@use 'components/alert';
@use 'components/radio';
@use 'components/checkbox';
@use 'components/switch';
@use 'components/textfield';
@use 'components/slider';
@use 'components/button';
@use 'components/iconbutton';
@use 'components/list';
@use 'components/menu';
@use 'components/select';
@use 'components/card';
@use 'components/dialog';
@use 'components/badge';
@use 'components/appbar';
@use 'components/sidesheet';
@use 'components/bottomsheet';
@use 'components/navigationrail';
@use 'components/stepper';
@use 'components/timepicker';

@property --micl-ripple {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}
@property --micl-x {
    syntax: '<length>';
    inherits: false;
    initial-value: -100000px;
}
@property --micl-y {
    syntax: '<length>';
    inherits: false;
    initial-value: -100000px;
}
@property --micl-width {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}
@property --micl-height {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}
