//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

:root {
    --md-sys-card-margin: 8px;
    --md-sys-card-padding-inline: 16px;
    --md-sys-card-content-padding-block: 16px;
    --md-sys-card-outlined-border-width: 1px;
}

.micl-card-elevated,
.micl-card-filled,
.micl-card-outlined {
    --md-sys-card-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-sys-card-motion-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};

    display: block;
    block-size: fit-content;
    margin: 0;
    padding-block-end: var(--md-sys-card-content-padding-block);
    border-radius: var(--md-sys-shape-corner-medium);
    outline: none;
    overflow: hidden;
    interpolate-size: allow-keywords;

    &[tabindex='0']:not(.micl-card--disabled) {
        --micl-ripple: 1;
        --statelayer-color: var(--md-sys-color-on-surface);

        background-image:
            radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
            linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        background-size: 10000%, 100%;
        transition:
            background-size 3000ms,
            --statelayer-opacity var(--md-sys-card-motion-duration) linear;

        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);

            box-shadow: var(--md-sys-elevation-level1);
            cursor: pointer;
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);

            outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);
            outline-offset: var(--md-sys-state-focus-indicator-outer-offset);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);

            background-size: 0%, 100%;
            transition: background-size 0ms;
        }
        &.micl-card--dragging {
            --statelayer-opacity: var(--md-sys-state-dragged-state-layer-opacity);

            box-shadow: var(--md-sys-elevation-level3);
            cursor: grabbing;
        }
        .micl-card__content {
            background-color: transparent;
        }
    }
    &:not([tabindex='0']):not(.micl-card--disabled):has(> summary:focus-visible) {
        outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);
        outline-offset: var(--md-sys-state-focus-indicator-outer-offset);
    }
    &::details-content {
        block-size: 0;
        overflow: hidden;
        transition:
            block-size var(--md-sys-card-motion-duration) var(--md-sys-card-motion-spatial),
            content-visibility var(--md-sys-card-motion-duration) linear allow-discrete;
    }
    &[open]::details-content {
        block-size: auto;
    }
    &> summary {
        outline: none;
        list-style: none;
        cursor: pointer
    }
    &:not([open]):has(> summary.micl-card--compact) {
        padding-block-end: 0;
    }
}

.micl-card-elevated {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);

    &[tabindex='0']:not(.micl-card--disabled) {
        &:hover {
            box-shadow: var(--md-sys-elevation-level2);
        }
        &.micl-card--dragging {
            box-shadow: var(--md-sys-elevation-level4);
        }
    }
}
.micl-card-filled {
    background-color: var(--md-sys-color-surface-container-highest);
    box-shadow: var(--md-sys-elevation-level0);
}
.micl-card-outlined {
    background-color: var(--md-sys-color-surface);
    box-shadow: var(--md-sys-elevation-level0);
    border: var(--md-sys-card-outlined-border-width) solid var(--md-sys-color-outline-variant);

    &[tabindex='0']:not(.micl-card--disabled) {
        &:focus-visible {
            border-color: var(--md-sys-color-on-surface);
        }
        &:active {
            border-color: var(--md-sys-color-outline-variant);
        }
    }
}

.micl-card--disabled {
    opacity: 38%;
    pointer-events: none;

    &.micl-card-elevated {
        background-color: var(--md-sys-color-surface);
    }
    &.micl-card-filled {
        background-color: var(--md-sys-color-surface-variant);
    }
    &.micl-card-outlined {
        box-shadow: var(--md-sys-elevation-level0);
        border-color: rgb(from var(--md-sys-color-outline) r g b / 12%);
    }
}
.micl-card--compact {
    display: grid;
    grid-template-areas:
        "card-media card-headline"
        "card-media card-subhead"
        "card-media card-supporting"
        "card-content card-content";
    grid-template-columns: 20% 1fr;

    .micl-card__image {
        grid-area: card-media;
        block-size: 100%;
        object-fit: cover;
        background-size: cover;
    }
    .micl-card__headline-s,
    .micl-card__headline-m,
    .micl-card__headline-l {
        grid-area: card-headline;
    }
    .micl-card__subhead {
        grid-area: card-subhead;
    }
    .micl-card__supporting-text {
        grid-area: card-supporting;
    }
    .micl-card__content {
        grid-area: card-content;
    }
}

.micl-card__image {
    display: block;
    inline-size: 100%;
    border-radius: var(--md-sys-shape-corner-medium);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.micl-card__headline-s,
.micl-card__headline-m,
.micl-card__headline-l {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-block: 8px;
    color: var(--md-sys-color-on-surface-variant);

    h1, h2, h3, h4, h5, h6, .micl-heading {
        flex: 1 2 fit-content;
        margin: 0;
        padding-inline: var(--md-sys-card-padding-inline);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:has(+ button) {
            padding-inline-end: 0;
        }
    }
    &:has(button) {
        margin-block: 0;
    }
}
.micl-card__headline-s {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-small;
    }
}
.micl-card__headline-m {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-medium;
    }
}
.micl-card__headline-l {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-large;
    }
}

.micl-card__subhead {
    @include typography.title-medium;

    display: block;
    margin-block: 0 8px;
    padding-inline: var(--md-sys-card-padding-inline);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--md-sys-color-on-surface-variant);
}

.micl-card__supporting-text {
    @include typography.body-small;

    display: block;
    margin-block: 0 8px;
    padding-inline: var(--md-sys-card-padding-inline);
    color: var(--md-sys-color-on-surface-variant);
}

.micl-card-elevated[tabindex='0']:not(.micl-card--disabled),
.micl-card-filled[tabindex='0']:not(.micl-card--disabled),
.micl-card-outlined[tabindex='0']:not(.micl-card--disabled) {
    &:hover,
    &:focus-visible,
    &:active,
    &.micl-card--dragging {
        .micl-card__headline-s,
        .micl-card__headline-m,
        .micl-card__headline-l {
            color: var(--md-sys-color-on-surface);

            button {
                color: var(--md-sys-color-on-surface);
            }
        }
        .micl-card__subhead,
        .micl-card__supporting-text {
            color: var(--md-sys-color-on-surface);
        }
    }
}

.micl-card__content {
    box-sizing: border-box;
    padding-block: var(--md-sys-card-content-padding-block) 0;
    padding-inline: var(--md-sys-card-padding-inline);
    background-color: inherit;
    overflow: clip visible;
}
