//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

:root {
    --md-comp-card-gap: 8px;
    --md-comp-card-margin: 8px;
    --md-comp-card-padding-inline: 16px;
    --md-comp-card-content-padding-block: 16px;
    --md-comp-elevated-card-container-shape: var(--md-sys-shape-corner-medium);
    --md-comp-elevated-card-disabled-container-opacity: 38%;
    --md-comp-elevated-card-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-elevated-card-disabled-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-elevated-card-hover-container-elevation: var(--md-sys-elevation-level2);
    --md-comp-elevated-card-focus-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-elevated-card-pressed-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-elevated-card-dragged-container-elevation: var(--md-sys-elevation-level4);
    --md-comp-filled-card-container-shape: var(--md-sys-shape-corner-medium);
    --md-comp-filled-card-disabled-container-opacity: 38%;
    --md-comp-filled-card-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-filled-card-disabled-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-filled-card-hover-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-filled-card-focus-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-filled-card-pressed-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-filled-card-dragged-container-elevation: var(--md-sys-elevation-level3);
    --md-comp-outlined-card-container-shape: var(--md-sys-shape-corner-medium);
    --md-comp-outlined-card-disabled-container-opacity: 38%;
    --md-comp-outlined-card-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-outlined-card-disabled-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-outlined-card-hover-container-elevation: var(--md-sys-elevation-level1);
    --md-comp-outlined-card-focus-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-outlined-card-pressed-container-elevation: var(--md-sys-elevation-level0);
    --md-comp-outlined-card-dragged-container-elevation: var(--md-sys-elevation-level3);
    --md-comp-outlined-card-outline-width: 1px;
    --md-comp-outlined-card-disabled-outline-opacity: 12%;
}
body {
    --md-comp-elevated-card-container-color: var(--md-sys-color-surface-container-low);
    --md-comp-elevated-card-disabled-container-color: var(--md-sys-color-surface);
    --md-comp-filled-card-container-color: var(--md-sys-color-surface-container-highest);
    --md-comp-filled-card-disabled-container-color: var(--md-sys-color-surface-variant);
    --md-comp-outlined-card-container-color: var(--md-sys-color-surface);
    --md-comp-outlined-card-disabled-container-color: var(--md-sys-color-surface);
    --md-comp-outlined-card-outline-color: var(--md-sys-color-outline-variant);
    --md-comp-outlined-card-disabled-outline-color: var(--md-sys-color-outline);
    --md-comp-outlined-card-hover-outline-color: var(--md-sys-color-outline-variant);
    --md-comp-outlined-card-focus-outline-color: var(--md-sys-color-on-surface);
    --md-comp-outlined-card-pressed-outline-color: var(--md-sys-color-outline-variant);
    --md-comp-outlined-card-dragged-outline-color: var(--md-sys-color-outline-variant);
}

.micl-card-elevated,
.micl-card-filled,
.micl-card-outlined {
    --md-sys-card-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-sys-card-motion-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};

    display: flex;
    flex-direction: column;
    block-size: fit-content;
    margin: 0;
    outline: none;
    overflow: hidden;
    interpolate-size: allow-keywords;

    &:not(.micl-card--compact):not(:has(>summary)) {
        row-gap: var(--md-comp-card-gap, 8px);
    }

    &[tabindex='0']:not(.micl-card--disabled),
    &:not(.micl-card--disabled) > summary {
        --micl-ripple: 1;
        --statelayer-color: var(--md-sys-color-on-surface);

        background-image:
            radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / calc(var(--statelayer-opacity) / 2)) 10%, transparent 10%),
            linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        background-size: 10000%, 100%;
        transition:
            background-size 3000ms,
            --statelayer-opacity var(--md-sys-card-motion-duration) linear;

        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            cursor: pointer;
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);

            outline: var(--md-sys-state-focus-indicator-thickness, 3px) solid var(--md-sys-color-secondary);
            outline-offset: var(--md-sys-state-focus-indicator-outer-offset, 2px);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);

            background-size: 0%, 100%;
            transition: background-size 0ms;
        }
        &.micl-card--dragging {
            --statelayer-opacity: var(--md-sys-state-dragged-state-layer-opacity, 16%);

            cursor: grabbing;
        }
        .micl-card__content {
            background-color: transparent;
        }
    }
    &:not([tabindex='0']):not(.micl-card--disabled):has(> summary:focus-visible) {
        outline: var(--md-sys-state-focus-indicator-thickness, 3px) solid var(--md-sys-color-secondary);
        outline-offset: var(--md-sys-state-focus-indicator-outer-offset, 2px);
    }
    &::details-content {
        block-size: 0;
        overflow: hidden;
        transition:
            block-size var(--md-sys-card-motion-duration) var(--md-sys-card-motion-spatial),
            content-visibility var(--md-sys-card-motion-duration) linear allow-discrete;
    }
    &[open]::details-content {
        block-size: auto;
    }
    &> summary {
        display: flex;
        flex-direction: column;
        padding-block-end: var(--md-comp-card-content-padding-block, 16px);
        outline: none;
        list-style: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &:not(.micl-card--compact) {
            row-gap: var(--md-comp-card-gap, 8px);
        }
    }

    &.micl-card--compact, summary.micl-card--compact {
        display: grid;
        grid-template-columns: 20% 1fr;
        padding-block-end: 0;

        .micl-card__image {
            grid-column: 1;
            grid-row: 1 / 5;
            block-size: 100%;
            background-size: cover;
        }
        .micl-card__headline-s,
        .micl-card__headline-m,
        .micl-card__headline-l {
            grid-column: 2;
            min-inline-size: 0;
            margin-block-start: var(--md-comp-card-gap, 8px);
        }
        .micl-card__subhead {
            grid-column: 2;
            min-inline-size: 0;
            margin-block-start: 0;
        }
        .micl-card__supporting-text {
            grid-column: 2;
            min-inline-size: 0;
            margin-block-start: var(--md-comp-card-gap, 8px);
        }
        .micl-card__content {
            grid-column: 1 / span 2;
        }
        &:not(:has(.micl-card__content)) {
            & > :last-child {
                margin-block-end: var(--md-comp-card-gap, 8px);
            }
        }
    }
}

.micl-card-elevated {
    border-radius: var(--md-comp-elevated-card-container-shape, var(--md-sys-shape-corner-medium));
    background-color: var(--md-comp-elevated-card-container-color, var(--md-sys-color-surface-container-low));
    box-shadow: var(--md-comp-elevated-card-container-elevation, var(--md-sys-elevation-level1));

    &[tabindex='0']:not(.micl-card--disabled),
    &:not(.micl-card--disabled) > summary {
        &:hover {
            box-shadow: var(--md-comp-elevated-card-hover-container-elevation, var(--md-sys-elevation-level2));
        }
        &:focus-visible {
            box-shadow: var(--md-comp-elevated-card-focus-container-elevation, var(--md-sys-elevation-level1));
        }
        &:active {
            box-shadow: var(--md-comp-elevated-card-pressed-container-elevation, var(--md-sys-elevation-level1));
        }
        &.micl-card--dragging {
            box-shadow: var(--md-comp-elevated-card-dragged-container-elevation, var(--md-sys-elevation-level4));
        }
    }
}
.micl-card-filled {
    border-radius: var(--md-comp-filled-card-container-shape, var(--md-sys-shape-corner-medium));
    background-color: var(--md-comp-filled-card-container-color, var(--md-sys-color-surface-container-highest));
    box-shadow: var(--md-comp-filled-card-container-elevation, var(--md-sys-elevation-level0));

    &[tabindex='0']:not(.micl-card--disabled),
    &:not(.micl-card--disabled) > summary {
        &:hover {
            box-shadow: var(--md-comp-filled-card-hover-container-elevation, var(--md-sys-elevation-level1));
        }
        &:focus-visible {
            box-shadow: var(--md-comp-filled-card-focus-container-elevation, var(--md-sys-elevation-level0));
        }
        &:active {
            box-shadow: var(--md-comp-filled-card-pressed-container-elevation, var(--md-sys-elevation-level0));
        }
        &.micl-card--dragging {
            box-shadow: var(--md-comp-filled-card-dragged-container-elevation, var(--md-sys-elevation-level3));
        }
    }
}
.micl-card-outlined {
    border-radius: var(--md-comp-outlined-card-container-shape, var(--md-sys-shape-corner-medium));
    background-color: var(--md-comp-outlined-card-container-color, var(--md-sys-color-surface));
    box-shadow: var(--md-comp-outlined-card-container-elevation, var(--md-sys-elevation-level0));
    border: var(--md-comp-outlined-card-outline-width, 1px) solid var(--md-comp-outlined-card-outline-color, var(--md-sys-color-outline-variant));

    &[tabindex='0']:not(.micl-card--disabled),
    &:not(.micl-card--disabled) > summary {
        &:hover {
            border-color: var(--md-comp-outlined-card-hover-outline-color, var(--md-sys-color-outline-variant));
            box-shadow: var(--md-comp-outlined-card-hover-container-elevation, var(--md-sys-elevation-level1));
        }
        &:focus-visible {
            border-color: var(--md-comp-outlined-card-focus-outline-color, var(--md-sys-color-on-surface));
            box-shadow: var(--md-comp-outlined-card-focus-container-elevation, var(--md-sys-elevation-level0));
        }
        &:active {
            border-color: var(--md-comp-outlined-card-pressed-outline-color, var(--md-sys-color-outline-variant));
            box-shadow: var(--md-comp-outlined-card-pressed-container-elevation, var(--md-sys-elevation-level0));
        }
        &.micl-card--dragging {
            border-color: var(--md-comp-outlined-card-dragged-outline-color, var(--md-sys-color-outline-variant));
            box-shadow: var(--md-comp-outlined-card-dragged-container-elevation, var(--md-sys-elevation-level3));
        }
    }
}

.micl-card--disabled {
    pointer-events: none;

    &.micl-card-elevated {
        background-color: var(--md-comp-elevated-card-disabled-container-color, var(--md-sys-color-surface));
        box-shadow: var(--md-comp-elevated-card-disabled-container-elevation, var(--md-sys-elevation-level1));
        opacity: var(--md-comp-elevated-card-disabled-container-opacity, var(--md-sys-state-disabled-state-layer-opacity));
    }
    &.micl-card-filled {
        background-color: var(--md-comp-filled-card-disabled-container-color, var(--md-sys-color-surface-variant));
        box-shadow: var(--md-comp-filled-card-disabled-container-elevation, var(--md-sys-elevation-level0));
        opacity: var(--md-comp-filled-card-disabled-container-opacity, var(--md-sys-state-disabled-state-layer-opacity));
    }
    &.micl-card-outlined {
        border-color: rgb(from var(--md-comp-outlined-card-disabled-outline-color, var(--md-sys-color-outline)) r g b / var(--md-comp-outlined-card-disabled-outline-opacity, 12%));
        background-color: var(--md-comp-outlined-card-disabled-container-color, var(--md-sys-color-surface));
        box-shadow: var(--md-comp-outlined-card-container-elevation, var(--md-sys-elevation-level0));
        opacity: var(--md-comp-outlined-card-disabled-container-opacity, var(--md-sys-state-disabled-state-layer-opacity));
    }
}

.micl-card__image {
    display: block;
    inline-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.micl-card-elevated .micl-card__image {
    border-radius: var(--md-comp-elevated-card-container-shape, var(--md-sys-shape-corner-medium));
}
.micl-card-filled .micl-card__image {
    border-radius: var(--md-comp-filled-card-container-shape, var(--md-sys-shape-corner-medium));
}
.micl-card-outlined .micl-card__image {
    border-radius: var(--md-comp-outlined-card-container-shape, var(--md-sys-shape-corner-medium));
}

.micl-card-elevated,
.micl-card-filled,
.micl-card-outlined,
.micl-card-elevated > summary,
.micl-card-filled > summary,
.micl-card-outlined > summary {
    &> .micl-card__headline-s:first-child,
    &> .micl-card__headline-m:first-child,
    &> .micl-card__headline-l:first-child {
        padding-block-start: var(--md-comp-card-content-padding-block, 16px);
    }
}

.micl-card__headline-s,
.micl-card__headline-m,
.micl-card__headline-l {
    display: flex;
    align-items: center;
    column-gap: var(--md-comp-card-gap, 8px);
    color: var(--md-sys-color-on-surface-variant);

    h1, h2, h3, h4, h5, h6, .micl-heading {
        flex: 1 2 fit-content;
        margin: 0;
        padding-inline: var(--md-comp-card-padding-inline);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:has(+ button) {
            padding-inline-end: 0;
        }
    }
    &:has(button) {
        margin-block: 0;
    }
}
.micl-card__headline-s {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-small;
    }
}
.micl-card__headline-m {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-medium;
    }
}
.micl-card__headline-l {
    h1, h2, h3, h4, h5, h6, .micl-heading {
        @include typography.headline-large;
    }
}

.micl-card__subhead {
    @include typography.title-medium;

    display: block;
    margin: calc(-1 * var(--md-comp-card-gap)) 0 var(--md-comp-card-gap) 0;
    padding: 0 var(--md-comp-card-padding-inline);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--md-sys-color-on-surface-variant);
}

.micl-card__supporting-text {
    @include typography.body-small;

    display: block;
    margin: 0;
    padding: 0 var(--md-comp-card-padding-inline);
    color: var(--md-sys-color-on-surface-variant);
}

.micl-card-elevated[tabindex='0']:not(.micl-card--disabled),
.micl-card-filled[tabindex='0']:not(.micl-card--disabled),
.micl-card-outlined[tabindex='0']:not(.micl-card--disabled),
.micl-card-elevated:not(.micl-card--disabled) > summary,
.micl-card-filled:not(.micl-card--disabled) > summary,
.micl-card-outlined:not(.micl-card--disabled) > summary {
    &:hover,
    &:focus-visible,
    &:active,
    &.micl-card--dragging {
        .micl-card__headline-s,
        .micl-card__headline-m,
        .micl-card__headline-l {
            color: var(--md-sys-color-on-surface);

            button {
                color: var(--md-sys-color-on-surface);
            }
        }
        .micl-card__subhead,
        .micl-card__supporting-text {
            color: var(--md-sys-color-on-surface);
        }
    }
}

.micl-card__content {
    box-sizing: border-box;
    padding-block: var(--md-comp-card-content-padding-block);
    padding-inline: var(--md-comp-card-padding-inline);
    background-color: inherit;
    overflow: clip visible;
}
