//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use 'sass:meta';
@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

@mixin card-variant(
    $name,
    $bg-default,
    $elev-default,
    $hover-elev-default,
    $focus-elev-default,
    $pressed-elev-default,
    $dragged-elev-default,
    $inert-bg-default,
    $inert-elev-default
) {
    --_card-shape: var(--md-comp-#{$name}-card-container-shape, var(--md-sys-shape-corner-medium));
    --_card-background-color: var(--md-comp-#{$name}-card-container-color, #{$bg-default});
    --_card-elevation: var(--md-comp-#{$name}-card-container-elevation, #{$elev-default});

    --_card-hover-state-color: var(--md-comp-#{$name}-card-hover-state-layer-color, var(--md-sys-color-on-surface));
    --_card-hover-state-opacity: var(--md-comp-#{$name}-card-hover-state-layer-opacity, var(--md-sys-state-hover-state-layer-opacity));
    --_card-hover-elevation: var(--md-comp-#{$name}-card-hover-container-elevation, #{$hover-elev-default});

    --_card-focus-state-color: var(--md-comp-#{$name}-card-focus-state-layer-color, var(--md-sys-color-on-surface));
    --_card-focus-state-opacity: var(--md-comp-#{$name}-card-focus-state-layer-opacity, var(--md-sys-state-focus-state-layer-opacity));
    --_card-focus-elevation: var(--md-comp-#{$name}-card-focus-container-elevation, #{$focus-elev-default});

    --_card-pressed-state-color: var(--md-comp-#{$name}-card-pressed-state-layer-color, var(--md-sys-color-on-surface));
    --_card-pressed-state-opacity: var(--md-comp-#{$name}-card-pressed-state-layer-opacity, var(--md-sys-state-pressed-state-layer-opacity));
    --_card-pressed-elevation: var(--md-comp-#{$name}-card-pressed-container-elevation, #{$pressed-elev-default});

    --_card-dragged-state-color: var(--md-comp-#{$name}-card-dragged-state-layer-color, var(--md-sys-color-on-surface));
    --_card-dragged-state-opacity: var(--md-comp-#{$name}-card-dragged-state-layer-opacity, var(--md-sys-state-dragged-state-layer-opacity));
    --_card-dragged-elevation: var(--md-comp-#{$name}-card-dragged-container-elevation, #{$dragged-elev-default});

    &[inert] {
        --_card-background-color: var(--md-comp-#{$name}-card-disabled-container-color, #{$inert-bg-default});
        --_card-elevation: var(--md-comp-#{$name}-card-disabled-container-elevation, #{$inert-elev-default});
        --_card-opacity: var(--md-comp-#{$name}-card-disabled-container-opacity, var(--md-sys-state-disabled-state-layer-opacity));
        --_card-pointer-events: none;
    }
}

@mixin card-focus-outline($name) {
    --_card-focus-outline-thickness: var(--md-comp-#{$name}-card-focus-indicator-thickness, var(--md-sys-state-focus-indicator-thickness));
    --_card-focus-outline-color: var(--md-comp-#{$name}-card-focus-indicator-color, var(--md-sys-color-secondary));
    --_card-focus-outline-offset: var(--md-comp-#{$name}-card-focus-indicator-outline-offset, var(--md-sys-state-focus-indicator-outer-offset));
}

@mixin card-interactive($state) {
    &[tabindex='0']:not([inert]):#{$state},
    &:not([tabindex='0']):not([inert]):has(> summary:#{$state}) {
        @content;
    }
}

:root {
    --md-comp-card-gap: 8px;
    --md-comp-card-margin: 8px;
    --md-comp-card-padding-inline: 16px;
    --md-comp-card-content-padding-block: 16px;
}

.micl-card-elevated,
.micl-card-filled,
.micl-card-outlined {
    --md-comp-card-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-comp-card-motion-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};

    --_card-color: var(--md-sys-color-on-surface-variant);

    display: flex;
    flex-direction: column;
    block-size: fit-content;
    margin: 0;
    outline: none;
    overflow: hidden;
    interpolate-size: allow-keywords;

    border-radius: var(--_card-shape);
    background-color: var(--_card-background-color);
    box-shadow: var(--_card-elevation);
    border: var(--_card-border, none);
    opacity: var(--_card-opacity, 1);
    pointer-events: var(--_card-pointer-events, auto);

    &:not(.micl-card--compact):not(:has(>summary)) {
        row-gap: var(--md-comp-card-gap, 8px);
    }

    &[tabindex='0']:not([inert]),
    &:not([inert]) > summary {
        --micl-ripple: 1;

        background-image:
            radial-gradient(
                circle at var(--micl-x, center) var(--micl-y, center),
                transparent 0%,
                rgb(from var(--statelayer-color) r g b / calc(var(--statelayer-opacity) * var(--md-sys-state-ripple-opacity-factor))) 10%,
                transparent 10%
            ),
            linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        background-size: 0%, 100%;
        transition:
            background-size 0ms,
            --statelayer-opacity var(--md-comp-card-motion-duration) linear;

        &:hover {
            --statelayer-color: var(--_card-hover-state-color);
            --statelayer-opacity: var(--_card-hover-state-opacity);
            --_card-color: var(--md-sys-color-on-surface);
            cursor: pointer;
        }
        &:focus-visible {
            --statelayer-color: var(--_card-focus-state-color);
            --statelayer-opacity: var(--_card-focus-state-opacity);
            --_card-color: var(--md-sys-color-on-surface);
        }
        &:active {
            --statelayer-color: var(--_card-pressed-state-color);
            --statelayer-opacity: var(--_card-pressed-state-opacity);
            --_card-color: var(--md-sys-color-on-surface);
        }
        &.micl-card--dragging {
            --statelayer-color: var(--_card-dragged-state-color);
            --statelayer-opacity: var(--_card-dragged-state-opacity);
            --_card-color: var(--md-sys-color-on-surface);
            cursor: grabbing;
        }
        &.micl-rippling {
            animation: micl-ripple calc(var(--md-sys-state-ripple-duration) / 2) motion.$md-sys-motion-easing-standard;
        }

        .micl-card__content {
            background-color: transparent;
        }
    }

    @include card-interactive('hover') {
        box-shadow: var(--_card-hover-elevation);
        border-color: var(--_card-hover-border-color, var(--_card-border-color, transparent));
    }
    @include card-interactive('focus-visible') {
        box-shadow: var(--_card-focus-elevation);
        border-width: var(--_card-focus-border-width, var(--_card-border-width, 0));
        border-color: var(--_card-focus-border-color, transparent);
        outline: var(--_card-focus-outline-thickness, 0px) solid var(--_card-focus-outline-color, transparent);
        outline-offset: var(--_card-focus-outline-offset, 0px);
    }
    @include card-interactive('active') {
        box-shadow: var(--_card-pressed-elevation);
        border-color: var(--_card-pressed-border-color, transparent);
    }
    &[tabindex='0']:not([inert]).micl-card--dragging {
        box-shadow: var(--_card-dragged-elevation);
        border-color: var(--_card-dragged-border-color, transparent);
    }

    &::details-content {
        block-size: 0;
        overflow: hidden;
        transition:
            block-size var(--md-comp-card-motion-duration) var(--md-comp-card-motion-spatial),
            content-visibility var(--md-comp-card-motion-duration) linear allow-discrete;
    }
    &[open]::details-content {
        block-size: auto;
    }
    &> summary {
        display: flex;
        flex-direction: column;
        padding-block-end: var(--md-comp-card-content-padding-block, 16px);
        outline: none;
        list-style: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &:not(.micl-card--compact) {
            row-gap: var(--md-comp-card-gap, 8px);
        }
    }

    &.micl-card--compact, summary.micl-card--compact {
        display: grid;
        grid-template-columns: 20% 1fr;
        padding-block-end: 0;

        .micl-card__image {
            grid-column: 1;
            grid-row: 1 / -1;
            block-size: 100%;
            background-size: cover;
        }
        .micl-card__headline-s, .micl-card__headline-m, .micl-card__headline-l,
        .micl-card__subhead, .micl-card__supporting-text {
            grid-column: 2;
            min-inline-size: 0;
        }
        .micl-card__headline-s, .micl-card__headline-m, .micl-card__headline-l, .micl-card__supporting-text {
            margin-block-start: var(--md-comp-card-gap, 8px);
        }
        .micl-card__subhead {
            margin-block-start: 0;
        }
        .micl-card__content {
            grid-column: 1 / span 2;
        }

        &:not(:has(.micl-card__content)) > :last-child {
            margin-block-end: var(--md-comp-card-gap, 8px);
        }
    }
}

.micl-card-elevated {
    @include card-variant(
        $name                : 'elevated',
        $bg-default          : var(--md-sys-color-surface-container-low),
        $elev-default        : var(--md-sys-elevation-level1),
        $hover-elev-default  : var(--md-sys-elevation-level2),
        $focus-elev-default  : var(--md-sys-elevation-level1),
        $pressed-elev-default: var(--md-sys-elevation-level1),
        $dragged-elev-default: var(--md-sys-elevation-level4),
        $inert-bg-default    : var(--md-sys-color-surface),
        $inert-elev-default  : var(--md-sys-elevation-level1)
    );
    @include card-focus-outline('elevated');
}

.micl-card-filled {
    @include card-variant(
        $name                : 'filled',
        $bg-default          : var(--md-sys-color-surface-container-highest),
        $elev-default        : var(--md-sys-elevation-level0),
        $hover-elev-default  : var(--md-sys-elevation-level1),
        $focus-elev-default  : var(--md-sys-elevation-level0),
        $pressed-elev-default: var(--md-sys-elevation-level0),
        $dragged-elev-default: var(--md-sys-elevation-level3),
        $inert-bg-default    : var(--md-sys-color-surface-variant),
        $inert-elev-default  : var(--md-sys-elevation-level0)
    );
    @include card-focus-outline('filled');
}

.micl-card-outlined {
    @include card-variant(
        $name                : 'outlined',
        $bg-default          : var(--md-sys-color-surface),
        $elev-default        : var(--md-sys-elevation-level0),
        $hover-elev-default  : var(--md-sys-elevation-level1),
        $focus-elev-default  : var(--md-sys-elevation-level0),
        $pressed-elev-default: var(--md-sys-elevation-level0),
        $dragged-elev-default: var(--md-sys-elevation-level3),
        $inert-bg-default    : var(--md-sys-color-surface),
        $inert-elev-default  : var(--md-sys-elevation-level0)
    );

    --_card-border-width: var(--md-comp-outlined-card-outline-width, 1px);
    --_card-border: var(--_card-border-width) solid var(--_card-border-color, var(--md-comp-outlined-card-outline-color, var(--md-sys-color-outline-variant)));

    --_card-hover-border-color: var(--md-comp-outlined-card-hover-outline-color, var(--md-sys-color-outline-variant));

    --_card-focus-border-color: var(--md-comp-outlined-card-focus-indicator-color, var(--md-sys-color-secondary));
    --_card-focus-border-width: var(--md-comp-outlined-card-focus-indicator-thickness, var(--md-sys-state-focus-indicator-thickness));

    --_card-pressed-border-color: var(--md-comp-outlined-card-pressed-outline-color, var(--md-sys-color-outline-variant));

    --_card-dragged-border-color: var(--md-comp-outlined-card-dragged-outline-color, var(--md-sys-color-outline-variant));

    &[inert] {
        --_card-border-color: rgb(from var(--md-comp-outlined-card-disabled-outline-color, var(--md-sys-color-outline)) r g b / var(--md-comp-outlined-card-disabled-outline-opacity, 12%));
    }
}

.micl-card__image {
    display: block;
    inline-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--_card-shape);
}

.micl-card-elevated,
.micl-card-filled,
.micl-card-outlined,
.micl-card-elevated > summary,
.micl-card-filled > summary,
.micl-card-outlined > summary {
    &> .micl-card__headline-s:first-child,
    &> .micl-card__headline-m:first-child,
    &> .micl-card__headline-l:first-child {
        padding-block-start: var(--md-comp-card-content-padding-block, 16px);
    }
}

.micl-card__headline-s,
.micl-card__headline-m,
.micl-card__headline-l {
    display: flex;
    align-items: center;
    column-gap: var(--md-comp-card-gap, 8px);
    color: var(--_card-color);

    h1, h2, h3, h4, h5, h6, .micl-heading {
        flex: 1 2 fit-content;
        margin: 0;
        padding-inline: var(--md-comp-card-padding-inline, 16px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:has(+ button) {
            padding-inline-end: 0;
        }
    }
    &:has(button) {
        margin-block: 0;
    }
}

@each $abbrev, $size in ('s': 'small', 'm': 'medium', 'l': 'large') {
    .micl-card__headline-#{$abbrev} :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
        @include meta.apply(meta.get-mixin('headline-' + $size, $module: 'typography'));
    }
}

.micl-card__subhead {
    @include typography.title-medium;
    display: block;
    margin: calc(-1 * var(--md-comp-card-gap, 8px)) 0 var(--md-comp-card-gap, 8px) 0;
    padding: 0 var(--md-comp-card-padding-inline, 16px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--_card-color);
}

.micl-card__supporting-text {
    @include typography.body-smallmedium;
    display: block;
    margin: 0;
    padding: 0 var(--md-comp-card-padding-inline, 16px);
    color: var(--_card-color);
}

.micl-card__content {
    box-sizing: border-box;
    padding-block: var(--md-comp-card-content-padding-block, 16px);
    padding-inline: var(--md-comp-card-padding-inline, 16px);
    overflow: clip visible;
}

.micl-card__actions {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 8px;
    padding-block: 0 var(--md-comp-card-content-padding-block, 16px);
    padding-inline: var(--md-comp-card-padding-inline, 16px);
}
