.dark-medium-contrast {
  --md-sys-color-primary: rgb(216 227 144);
  --md-sys-color-surface-tint: rgb(194 205 124);
  --md-sys-color-on-primary: rgb(35 40 0);
  --md-sys-color-primary-container: rgb(141 151 76);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(220 223 188);
  --md-sys-color-on-secondary: rgb(36 39 16);
  --md-sys-color-secondary-container: rgb(144 147 116);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 230 216);
  --md-sys-color-on-tertiary: rgb(0 44 35);
  --md-sys-color-tertiary-container: rgb(109 154 141);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 214);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(222 221 204);
  --md-sys-color-outline: rgb(179 179 163);
  --md-sys-color-outline-variant: rgb(145 145 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 214);
  --md-sys-color-inverse-on-surface: rgb(42 43 34);
  --md-sys-color-inverse-primary: rgb(68 76 7);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(16 19 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(51 58 0);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(16 19 1);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 56 31);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 16);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 61 51);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(69 69 60);
  --md-sys-color-surface-container-lowest: rgb(7 8 3);
  --md-sys-color-surface-container-low: rgb(29 30 22);
  --md-sys-color-surface-container: rgb(40 40 32);
  --md-sys-color-surface-container-high: rgb(51 51 43);
  --md-sys-color-surface-container-highest: rgb(62 62 53);
}
