.light {
  --md-sys-color-primary: rgb(90 99 30);
  --md-sys-color-surface-tint: rgb(90 99 30);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(223 233 149);
  --md-sys-color-on-primary-container: rgb(67 75 6);
  --md-sys-color-secondary: rgb(93 97 69);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(227 229 194);
  --md-sys-color-on-secondary-container: rgb(70 73 47);
  --md-sys-color-tertiary: rgb(59 102 91);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 236 222);
  --md-sys-color-on-tertiary-container: rgb(34 78 68);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 250 237);
  --md-sys-color-on-background: rgb(27 28 20);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-on-surface: rgb(27 28 20);
  --md-sys-color-surface-variant: rgb(228 227 210);
  --md-sys-color-on-surface-variant: rgb(71 72 59);
  --md-sys-color-outline: rgb(120 120 106);
  --md-sys-color-outline-variant: rgb(200 199 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(194 205 124);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(25 30 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(67 75 6);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(26 29 7);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 73 47);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 26);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 78 68);
  --md-sys-color-surface-dim: rgb(220 218 206);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(240 238 225);
  --md-sys-color-surface-container-high: rgb(234 233 220);
  --md-sys-color-surface-container-highest: rgb(228 227 214);
}
