.light-medium-contrast {
  --md-sys-color-primary: rgb(51 58 0);
  --md-sys-color-surface-tint: rgb(90 99 30);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(105 114 44);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(53 56 31);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(108 111 82);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(14 61 51);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(74 117 105);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 250 237);
  --md-sys-color-on-background: rgb(27 28 20);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-on-surface: rgb(17 18 11);
  --md-sys-color-surface-variant: rgb(228 227 210);
  --md-sys-color-on-surface-variant: rgb(54 55 43);
  --md-sys-color-outline: rgb(83 83 70);
  --md-sys-color-outline-variant: rgb(109 110 96);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(194 205 124);
  --md-sys-color-primary-fixed: rgb(105 114 44);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(81 89 21);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(108 111 82);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(84 87 60);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(74 117 105);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(49 93 81);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(200 199 187);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(234 233 220);
  --md-sys-color-surface-container-high: rgb(223 221 209);
  --md-sys-color-surface-container-highest: rgb(211 210 198);
}
