.light {
  --md-sys-color-primary: rgb(90 99 30);
  --md-sys-color-surface-tint: rgb(90 99 30);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(223 233 149);
  --md-sys-color-on-primary-container: rgb(67 75 6);
  --md-sys-color-secondary: rgb(93 97 69);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(227 229 194);
  --md-sys-color-on-secondary-container: rgb(70 73 47);
  --md-sys-color-tertiary: rgb(59 102 91);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 236 222);
  --md-sys-color-on-tertiary-container: rgb(34 78 68);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 250 237);
  --md-sys-color-on-background: rgb(27 28 20);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-on-surface: rgb(27 28 20);
  --md-sys-color-surface-variant: rgb(228 227 210);
  --md-sys-color-on-surface-variant: rgb(71 72 59);
  --md-sys-color-outline: rgb(120 120 106);
  --md-sys-color-outline-variant: rgb(200 199 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(194 205 124);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(25 30 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(67 75 6);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(26 29 7);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 73 47);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 26);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 78 68);
  --md-sys-color-surface-dim: rgb(220 218 206);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(240 238 225);
  --md-sys-color-surface-container-high: rgb(234 233 220);
  --md-sys-color-surface-container-highest: rgb(228 227 214);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(51 58 0);
  --md-sys-color-surface-tint: rgb(90 99 30);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(105 114 44);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(53 56 31);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(108 111 82);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(14 61 51);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(74 117 105);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 250 237);
  --md-sys-color-on-background: rgb(27 28 20);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-on-surface: rgb(17 18 11);
  --md-sys-color-surface-variant: rgb(228 227 210);
  --md-sys-color-on-surface-variant: rgb(54 55 43);
  --md-sys-color-outline: rgb(83 83 70);
  --md-sys-color-outline-variant: rgb(109 110 96);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 40);
  --md-sys-color-inverse-on-surface: rgb(243 241 228);
  --md-sys-color-inverse-primary: rgb(194 205 124);
  --md-sys-color-primary-fixed: rgb(105 114 44);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(81 89 21);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(108 111 82);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(84 87 60);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(74 117 105);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(49 93 81);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(200 199 187);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 244 231);
  --md-sys-color-surface-container: rgb(234 233 220);
  --md-sys-color-surface-container-high: rgb(223 221 209);
  --md-sys-color-surface-container-highest: rgb(211 210 198);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(41 47 0);
  --md-sys-color-surface-tint: rgb(90 99 30);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(69 78 8);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(43 46 22);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(72 75 49);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 51 41);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(37 81 70);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 250 237);
  --md-sys-color-on-background: rgb(27 28 20);
  --md-sys-color-surface: rgb(252 250 237);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(228 227 210);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(44 45 34);
  --md-sys-color-outline-variant: rgb(73 74 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 40);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(194 205 124);
  --md-sys-color-primary-fixed: rgb(69 78 8);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(47 54 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(72 75 49);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(49 53 28);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(37 81 70);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(9 58 48);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(186 185 173);
  --md-sys-color-surface-bright: rgb(252 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 241 228);
  --md-sys-color-surface-container: rgb(228 227 214);
  --md-sys-color-surface-container-high: rgb(214 213 200);
  --md-sys-color-surface-container-highest: rgb(200 199 187);
}
.dark {
  --md-sys-color-primary: rgb(194 205 124);
  --md-sys-color-surface-tint: rgb(194 205 124);
  --md-sys-color-on-primary: rgb(45 52 0);
  --md-sys-color-primary-container: rgb(67 75 6);
  --md-sys-color-on-primary-container: rgb(223 233 149);
  --md-sys-color-secondary: rgb(198 201 167);
  --md-sys-color-on-secondary: rgb(47 50 26);
  --md-sys-color-secondary-container: rgb(70 73 47);
  --md-sys-color-on-secondary-container: rgb(227 229 194);
  --md-sys-color-tertiary: rgb(162 208 194);
  --md-sys-color-on-tertiary: rgb(6 55 46);
  --md-sys-color-tertiary-container: rgb(34 78 68);
  --md-sys-color-on-tertiary-container: rgb(189 236 222);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 214);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(228 227 214);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(200 199 183);
  --md-sys-color-outline: rgb(145 146 131);
  --md-sys-color-outline-variant: rgb(71 72 59);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 214);
  --md-sys-color-inverse-on-surface: rgb(48 49 40);
  --md-sys-color-inverse-primary: rgb(90 99 30);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(25 30 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(67 75 6);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(26 29 7);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 73 47);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 26);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 78 68);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(14 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 20);
  --md-sys-color-surface-container: rgb(31 32 24);
  --md-sys-color-surface-container-high: rgb(42 43 34);
  --md-sys-color-surface-container-highest: rgb(53 53 45);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(216 227 144);
  --md-sys-color-surface-tint: rgb(194 205 124);
  --md-sys-color-on-primary: rgb(35 40 0);
  --md-sys-color-primary-container: rgb(141 151 76);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(220 223 188);
  --md-sys-color-on-secondary: rgb(36 39 16);
  --md-sys-color-secondary-container: rgb(144 147 116);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 230 216);
  --md-sys-color-on-tertiary: rgb(0 44 35);
  --md-sys-color-tertiary-container: rgb(109 154 141);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 214);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(222 221 204);
  --md-sys-color-outline: rgb(179 179 163);
  --md-sys-color-outline-variant: rgb(145 145 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 214);
  --md-sys-color-inverse-on-surface: rgb(42 43 34);
  --md-sys-color-inverse-primary: rgb(68 76 7);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(16 19 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(51 58 0);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(16 19 1);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 56 31);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 16);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 61 51);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(69 69 60);
  --md-sys-color-surface-container-lowest: rgb(7 8 3);
  --md-sys-color-surface-container-low: rgb(29 30 22);
  --md-sys-color-surface-container: rgb(40 40 32);
  --md-sys-color-surface-container-high: rgb(51 51 43);
  --md-sys-color-surface-container-highest: rgb(62 62 53);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(236 247 161);
  --md-sys-color-surface-tint: rgb(194 205 124);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(191 201 120);
  --md-sys-color-on-primary-container: rgb(10 13 0);
  --md-sys-color-secondary: rgb(240 243 207);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(194 197 163);
  --md-sys-color-on-secondary-container: rgb(10 13 0);
  --md-sys-color-tertiary: rgb(203 250 235);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(158 204 190);
  --md-sys-color-on-tertiary-container: rgb(0 14 10);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 214);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(242 241 223);
  --md-sys-color-outline-variant: rgb(196 195 179);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(68 76 7);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(16 19 0);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(16 19 1);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 16);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(80 81 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 32 24);
  --md-sys-color-surface-container: rgb(48 49 40);
  --md-sys-color-surface-container-high: rgb(60 60 51);
  --md-sys-color-surface-container-highest: rgb(71 71 62);
}
