//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shape';
@use '../../styles/statelayer';
@use '../../styles/typography';

@include elevation.level(0);
@include elevation.level(2);
@include elevation.level(3);

@include shape.corner('none');
@include shape.corner('extra-large');

@include statelayer.token('hover-state-layer-opacity');
@include statelayer.token('backdrop-opacity');
@include statelayer.property;

@include typography.scale('headline-small');
@include typography.scale('title-large');
@include typography.scale('title-medium');
@include typography.scale('body-medium');

:root {
    --_dialog-dir-factor: 1;
}
[dir=rtl] {
    --_dialog-dir-factor: -1;
}

dialog.micl-dialog {
    --statelayer-color: var(--md-sys-color-primary);
    --md-comp-dialog-motion-duration: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --md-comp-dialog-motion-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};

    --micl-duration: var(--md-comp-dialog-motion-duration-reverse);
    --micl-easing: #{motion.$md-sys-motion-easing-emphasized-decelerate};

    --_dialog-background-color: var(--md-comp-dialog-container-color, var(--md-sys-color-surface-container-high));
    --_padding: var(--md-comp-dialog-padding, 24px);
    --_translate: translate(calc(var(--_dialog-dir-factor, 1) * -50%), -50%);

    box-sizing: border-box;
    display: none;
    flex-direction: column;
    min-inline-size: var(--md-comp-dialog-min-width, 280px);
    max-inline-size: var(--md-comp-dialog-max-width, 560px);
    max-block-size: 100vh;
    inset-block-start: anchor(start);
    inset-inline-start: anchor(start);
    transform: var(--_translate) scale(50%);
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-radius: var(--md-comp-dialog-container-shape, var(--md-sys-shape-corner-extra-large));
    background-color: var(--_dialog-background-color);
    background-image: linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
    background-repeat: no-repeat;
    box-shadow: var(--md-comp-dialog-container-elevation, var(--md-sys-elevation-level3));
    opacity: 0;
    overflow: hidden;
    interpolate-size: allow-keywords;
    transition:
        inset-block-start var(--micl-duration) linear,
        inset-inline-start var(--micl-duration) linear,
        inline-size var(--micl-duration) linear,
        block-size var(--micl-duration) linear,
        transform var(--micl-duration) linear,
        opacity var(--micl-duration) var(--micl-easing),
        overlay var(--micl-duration) linear allow-discrete,
        display var(--micl-duration) linear allow-discrete,
        --statelayer-opacity var(--md-comp-dialog-motion-duration) linear;

    @starting-style {
        block-size: fit-content;
        inline-size: fit-content;
        inset-block-start: anchor(start);
        inset-inline-start: anchor(start);
        opacity: 0;
        transform: var(--_translate) scale(50%);
    }

    &:popover-open,
    &[open] {
        --micl-duration: var(--md-comp-dialog-motion-duration);
        --micl-easing: #{motion.$md-sys-motion-easing-emphasized-accelerate};

        display: flex;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        opacity: 1;
        transform: var(--_translate) scale(100%);

        @starting-style {
            inset-block-start: anchor(start);
            inset-inline-start: anchor(start);
            opacity: 0;
            transform: var(--_translate) scale(50%);
        }
    }
    &:not([popover]) {
        inset-block-start: 50%;
        inset-inline-start: 50%;

        @starting-style {
            inset-block-start: 50%;
            inset-inline-start: 50%;
        }

        &:popover-open,
        &[open] {
            @starting-style {
                inset-block-start: 50%;
                inset-inline-start: 50%;
            }
        }
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0);
        transition:
            background-color var(--md-comp-dialog-motion-duration) linear,
            overlay var(--md-comp-dialog-motion-duration) linear allow-discrete,
            display var(--md-comp-dialog-motion-duration) linear allow-discrete;
    }
    &[open]::backdrop {
        background-color: rgba(0, 0, 0, var(--md-sys-state-backdrop-opacity, 32%));

        @starting-style {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    &.micl-dialog--docked {
        position-anchor: auto;
        inset-block: anchor(end) auto;
        inset-inline: anchor(start) auto;
        transform: none;
        transition: none;
        position-try-fallbacks: flip-block;
    }

    .micl-dialog__headline {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        gap: 16px;
        padding-block: var(--_padding) var(--md-comp-dialog-headline-space, 16px);
        padding-inline: var(--_padding);
        background-color: transparent;

        &:has(> .micl-dialog__icon) {
            align-items: center;
        }
        .micl-dialog__icon {
            --_icon-size: var(--md-comp-dialog-icon-size, var(--md-sys-icon-size, 24px));

            inline-size: var(--_icon-size);
            block-size: var(--_icon-size);
            font-size: var(--_icon-size);
            color: var(--md-comp-dialog-icon-color, var(--md-sys-color-secondary));
        }
        :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
            @include typography.headline-small;

            flex: 1 1 100%;
            margin: 0;
            color: var(--md-comp-dialog-headline-color, var(--md-sys-color-on-surface));
        }
        .micl-dialog__subhead {
            @include typography.title-medium;

            padding-inline: var(--_padding);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--md-sys-color-on-surface)
        }
        &:has(+ .micl-dialog__actions) {
            padding-block-end: 0;
        }
    }
    .micl-dialog__supporting-text {
        @include typography.body-medium;

        color: var(--md-comp-dialog-supporting-text-color, var(--md-sys-color-on-surface-variant));
    }
    .micl-dialog__content {
        flex-shrink: 1;
        padding-inline: var(--_padding);
        overflow-y: auto;
    }
    .micl-dialog__actions {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        column-gap: 8px;
        padding: var(--_padding);
        opacity: 1;
        transition:
            opacity var(--md-comp-dialog-motion-duration) linear allow-discrete,
            overlay var(--md-comp-dialog-motion-duration) linear allow-discrete,
            display var(--md-comp-dialog-motion-duration) linear allow-discrete;
    }
}

dialog.micl-dialog.micl-dialog--fullscreen {
    @media (max-width: 560px) {
        --_dialog-background-color: var(--md-comp-full-screen-dialog-container-color, var(--md-sys-color-surface));

        inline-size: 100vw;
        block-size: 100vh;
        max-inline-size: 100vw;
        border-radius: var(--md-sys-shape-corner-none, 0px);
        box-shadow: var(--md-sys-elevation-level0);
        timeline-scope: --headlineTimeline;

        .micl-dialog__headline {
            // border-box: the 56px of the spec include the block padding
            box-sizing: border-box;
            block-size: 56px;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding-block: 4px;
            padding-inline: 8px 16px;
            animation-name: headlineScroll;
            animation-duration: 1ms;
            animation-timeline: --headlineTimeline;
            animation-fill-mode: forwards;
            animation-range: 0% 20%;
            z-index: 1;

            :is(h1, h2, h3, h4, h5, h6, .micl-heading) {
                @include typography.title-large;

                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .micl-dialog__icon {
                display:none;
            }
        }
        .micl-dialog__content {
            scroll-timeline: --headlineTimeline block;
            scroll-timeline: --headlineTimeline vertical;
        }
        .micl-dialog__actions {
            display: none;
            opacity: 0;
        }
    }
    @media (min-width: 561px) {
        .micl-dialog__fullscreen {
            display: none;
        }
    }
}

@media (max-width: 560px) {
    body:has(dialog.micl-dialog.micl-dialog--fullscreen:popover-open) {
        overflow-y: hidden;
    }
}

@keyframes headlineScroll {
    from {
        background-color: transparent;
        box-shadow: var(--md-sys-elevation-level0);
    }
    to {
        background-color: var(--md-sys-color-surface-container);
        box-shadow: var(--md-sys-elevation-level2);
    }
}
