//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/statelayer';
@use '../../styles/typography';

:root {
    --md-sys-checkbox-border-width: 2px;
    --md-sys-checkbox-check-thickness: 2px;
    --md-sys-checkbox-container-size: 18px;
    --md-sys-checkbox-state-layer-size: 40px;
}

input[type=checkbox].micl-checkbox {
    --md-sys-checkbox-motion-duration: #{motion.$md-sys-motion-expressive-slow-effects-duration};
    --md-sys-checkbox-motion-duration-reverse: #{motion.$md-sys-motion-expressive-default-effects-duration};
    --md-sys-checkbox-motion-spatial: #{motion.$md-sys-motion-expressive-fast-spatial};

    --statelayer-color: var(--md-sys-color-on-surface);

    appearance: none;
    box-sizing: border-box;
    position: relative;
    inline-size: var(--md-sys-target-size);
    min-inline-size: var(--md-sys-target-size);
    block-size: var(--md-sys-target-size);
    min-block-size: var(--md-sys-target-size);
    margin: 0;
    border: calc((var(--md-sys-target-size) - var(--md-sys-checkbox-state-layer-size)) / 2) solid transparent;
    background-clip: content-box;
    background-color: transparent;
    border-radius: var(--md-sys-shape-corner-full);
    outline-offset: -4px;

    &::before {
        --md-sys-checkbox-check-width: calc(var(--md-sys-checkbox-container-size) - 3px);
        --md-sys-checkbox-check-height: calc(0.4667 * var(--md-sys-checkbox-check-width));

        content: "";
        box-sizing: border-box;
        position: absolute;
        inline-size: var(--md-sys-checkbox-check-width);
        block-size: 0;
        inset: 0;
        inset-block-start: calc(-0.25 * var(--md-sys-checkbox-container-size));
        inset-inline-start: 1px;
        margin: auto;
        border-block-end: var(--md-sys-checkbox-check-thickness) var(--md-sys-color-on-primary) solid;
        border-inline-start: var(--md-sys-checkbox-check-thickness) var(--md-sys-color-on-primary) solid;
        transform: rotate(-45deg);
        transform-origin: center;
        clip-path: rect(0 2px 0 0);
        z-index: 1;
        transition:
          block-size var(--md-sys-motion-duration-short3) var(--md-sys-motion-duration-short3) motion.$md-sys-motion-easing-standard-decelerate,
          clip-path var(--md-sys-motion-duration-short3) motion.$md-sys-motion-easing-standard-accelerate,
          inset-block-start 0ms linear var(--md-sys-motion-duration-short3),
          inset-inline-start 0ms linear var(--md-sys-motion-duration-short3),
          border-inline-start-width 0ms linear var(--md-sys-motion-duration-short3),
          transform 0ms linear var(--md-sys-motion-duration-short3);
    }
    &::after {
        --md-sys-checkbox-background-color: transparent;
        --md-sys-checkbox-border-color: var(--md-sys-color-on-surface-variant);

        content: "";
        box-sizing: border-box;
        position: absolute;
        inline-size: var(--md-sys-checkbox-container-size);
        block-size: var(--md-sys-checkbox-container-size);
        inset: 0;
        margin: auto;
        border: var(--md-sys-checkbox-border-width) solid var(--md-sys-checkbox-border-color);
        border-radius: 2px;
        background-color: var(--md-sys-checkbox-background-color);
        transition:
            background-color var(--md-sys-checkbox-motion-duration-reverse) motion.$md-sys-motion-easing-emphasized var(--md-sys-checkbox-motion-duration-reverse),
            border-color var(--md-sys-checkbox-motion-duration-reverse) motion.$md-sys-motion-easing-emphasized var(--md-sys-checkbox-motion-duration-reverse);
    }
    &:checked,
    &:indeterminate {
        --statelayer-color: var(--md-sys-color-primary);

        &::before {
            block-size: var(--md-sys-checkbox-check-height);
            clip-path: rect(0 calc(var(--md-sys-checkbox-container-size) - 5px) 18px 0);
            transition:
                block-size var(--md-sys-motion-duration-short3) var(--md-sys-checkbox-motion-spatial),
                clip-path var(--md-sys-motion-duration-long4) var(--md-sys-motion-duration-short3) var(--md-sys-checkbox-motion-spatial);
        }
        &::after {
            --md-sys-checkbox-background-color: var(--md-sys-color-primary);
            --md-sys-checkbox-border-color: var(--md-sys-color-primary);

            transition:
                background-color var(--md-sys-checkbox-motion-duration) linear,
                border-color var(--md-sys-checkbox-motion-duration) motion.$md-sys-motion-easing-emphasized;
        }
    }
    &:indeterminate::before {
        inset-inline-start: 2px;
        border-inline-start-width: 0px;
        transform: rotate(0deg);
    }
    &.micl-checkbox--error:not(:disabled) {
        --statelayer-color: var(--md-sys-color-error);

        &::after {
            --md-sys-checkbox-border-color: var(--md-sys-color-error);
        }
        &:checked,
        &:indeterminate {
            &:hover,
            &:focus-visible,
            &:active {
                --statelayer-color: var(--md-sys-color-error);
            }
            &::before {
                color: var(--md-sys-color-on-error);
            }
            &::after {
                --md-sys-checkbox-background-color: var(--md-sys-color-error);
            }
        }
        &:not(:checked):not(:indeterminate) {
            &:hover,
            &:focus-visible,
            &:active {
                --statelayer-color: var(--md-sys-color-error);

                &::after {
                    --md-sys-checkbox-border-color: var(--md-sys-color-error);
                }
            }
        }
    }
    &:not(:disabled) {
        --micl-ripple: 1;

        background-image:
            radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
            linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        background-size: 10000%, 100%;
        cursor: pointer;
        transition:
            background-size 3000ms,
            --statelayer-opacity var(--md-sys-checkbox-motion-duration) linear;

        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);

            &:not(:checked):not(:indeterminate)::after {
                --md-sys-checkbox-border-color: var(--md-sys-color-on-surface);
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);

            outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);

            &:not(:checked):not(:indeterminate)::after {
                --md-sys-checkbox-border-color: var(--md-sys-color-on-surface);
            }
        }
        &:active {
            --statelayer-color: var(--md-sys-color-on-surface);
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);

            background-size: 0%, 100%;
            transition: background-size 0ms;

            &:not(:checked):not(:indeterminate) {
                --statelayer-color: var(--md-sys-color-primary);

                &::after {
                    --md-sys-checkbox-border-color: var(--md-sys-color-on-surface);
                }
            }
        }
    }
    &:disabled {
        opacity: 38%;

        &:checked,
        &:indeterminate {
            &::before {
                color: var(--md-sys-color-surface);
            }
            &::after {
                --md-sys-checkbox-background-color: var(--md-sys-color-on-surface);
            }
        }
        &::after {
            --md-sys-checkbox-border-color: var(--md-sys-color-on-surface);
        }
    }
}

input[type=checkbox].micl-checkbox:not(:disabled) + label,
label:has(+ input[type=checkbox].micl-checkbox:not(:disabled)) {
    cursor: pointer;
}
input[type=checkbox].micl-checkbox + label,
label:has(+ input[type=checkbox].micl-checkbox) {
    color: var(--md-sys-color-on-surface);
}

[dir=rtl] input[type=checkbox].micl-checkbox {
    &::before {
        clip-path: rect(0 18px 8px 16px);
    }
    &:checked::before {
        clip-path: rect(0 18px 8px 2px);
        transform: rotate(45deg);
    }
    &:indeterminate::before {
        clip-path: rect(0 18px 8px 2px);
        transform: rotate(0deg);
    }
}
