.dark-high-contrast {
  --md-sys-color-primary: rgb(255 241 166);
  --md-sys-color-surface-tint: rgb(214 200 112);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(210 196 109);
  --md-sys-color-on-primary-container: rgb(14 11 0);
  --md-sys-color-secondary: rgb(249 240 201);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(203 195 158);
  --md-sys-color-on-secondary-container: rgb(14 11 0);
  --md-sys-color-tertiary: rgb(208 250 222);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(164 204 178);
  --md-sys-color-on-tertiary-container: rgb(0 14 6);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(21 19 12);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 71 57);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(246 240 221);
  --md-sys-color-outline-variant: rgb(200 194 177);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(82 72 0);
  --md-sys-color-primary-fixed: rgb(243 228 137);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(214 200 112);
  --md-sys-color-on-primary-fixed-variant: rgb(21 17 0);
  --md-sys-color-secondary-fixed: rgb(236 227 189);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(207 199 162);
  --md-sys-color-on-secondary-fixed-variant: rgb(21 17 0);
  --md-sys-color-tertiary-fixed: rgb(195 236 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(167 208 182);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 10);
  --md-sys-color-surface-dim: rgb(21 19 12);
  --md-sys-color-surface-bright: rgb(83 80 70);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(33 32 23);
  --md-sys-color-surface-container: rgb(51 48 39);
  --md-sys-color-surface-container-high: rgb(62 59 50);
  --md-sys-color-surface-container-highest: rgb(73 71 61);
}
