//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

@include elevation.level(0);
@include elevation.level(1);

@include shapes.corner('small');
@include shapes.corner('medium');
@include shapes.corner('large');
@include shapes.corner('extra-large');

@include statelayer.token('hover-state-layer-opacity');
@include statelayer.token('focus-state-layer-opacity');
@include statelayer.token('pressed-state-layer-opacity');
@include statelayer.token('disabled-state-layer-opacity');
@include statelayer.token('focus-indicator-thickness');
@include statelayer.token('ripple-opacity-factor');
@include statelayer.token('ripple-duration');
@include statelayer.property;
@include statelayer.keyframes;

@include typography.scale('headline-large');
@include typography.scale('headline-small');
@include typography.scale('title-medium');
@include typography.scale('label-large');

.micl-button-text-xs,
.micl-button-text-s,
.micl-button-text-m,
.micl-button-text-l,
.micl-button-text-l,
.micl-button-text-xl,
.micl-button-elevated-xs,
.micl-button-elevated-s,
.micl-button-elevated-m,
.micl-button-elevated-l,
.micl-button-elevated-xl,
.micl-button-filled-xs,
.micl-button-filled-s,
.micl-button-filled-m,
.micl-button-filled-l,
.micl-button-filled-xl,
.micl-button-tonal-xs,
.micl-button-tonal-s,
.micl-button-tonal-m,
.micl-button-tonal-l,
.micl-button-tonal-xl,
.micl-button-outlined-xs,
.micl-button-outlined-s,
.micl-button-outlined-m,
.micl-button-outlined-l,
.micl-button-outlined-xl {
    --md-sys-button-motion-effects: #{motion.$md-sys-motion-expressive-fast-spatial};
    --md-sys-button-motion-duration: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --md-sys-button-motion-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --micl-ripple: 1;

    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: calc(var(--micl-height) / 2);
    background-image:
        radial-gradient(
            circle at var(--micl-x, center) var(--micl-y, center),
            transparent 0%,
            rgb(from var(--statelayer-color) r g b / calc(var(--statelayer-opacity) * var(--md-sys-state-ripple-opacity-factor))) 10%,
            transparent 10%
        ),
        linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
    background-repeat: no-repeat;
    background-size: 0%, 100%;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition:
        border-radius var(--md-sys-button-motion-duration) var(--md-sys-button-motion-effects),
        background-size 0ms,
        --statelayer-opacity var(--md-sys-button-motion-duration) linear;

    &:disabled {
        background-color: rgb(from var(--md-sys-color-on-surface) r g b / 10%);
        color: rgb(from var(--md-sys-color-on-surface) r g b / var(--md-sys-state-disabled-state-layer-opacity, 38%));
        box-shadow: var(--md-sys-elevation-level0);
        cursor: default;
    }
    &:not(:disabled) {
        &:focus-visible {
            outline: var(--md-sys-state-focus-indicator-thickness, 3px) solid var(--md-sys-color-secondary);
            outline-offset: 3px;
        }
        &.micl-rippling {
            animation: micl-ripple var(--md-sys-state-ripple-duration) motion.$md-sys-motion-easing-standard;
        }
    }
    .micl-button__icon {
        font-variation-settings: 'FILL' 0;
        transition: font-variation-settings var(--md-sys-button-motion-duration) linear;
    }
    &.micl-button--toggle:not(.micl-button--selected) .micl-button__icon::before {
        content: attr(data-miclicon);
    }
    &.micl-button--toggle.micl-button--selected .micl-button__icon::before {
        content: attr(data-micliconselected);
    }
}

.micl-button-text-xs,
.micl-button-elevated-xs,
.micl-button-filled-xs,
.micl-button-tonal-xs,
.micl-button-outlined-xs {
    @include typography.label-large;

    --micl-width: 32px;
    --micl-height: 32px;

    position: relative;
    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);
    min-block-size: var(--micl-height);
    column-gap: 4px;
    padding-inline: 12px;

    &::before {
        content: "";
        position: absolute;
        block-size: var(--md-sys-target-size, 48px);
        inline-size: 100%;
        min-inline-size: var(--md-sys-target-size, 48px);
        inset: calc((var(--micl-height) - var(--md-sys-target-size, 48px)) / 2) 0 0 calc((min(100%, var(--md-sys-target-size, 48px)) - var(--md-sys-target-size, 48px)) / 2);
        background-color: transparent;
    }
    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-medium);
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-medium);

        &.micl-button--toggle.micl-button--selected {
            border-radius: calc(var(--micl-height) / 2);
        }
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-small);
        }
    }
    .micl-button__icon {
        font-size: 20px;
        inline-size: 20px;
    }
}

.micl-button-text-s,
.micl-button-elevated-s,
.micl-button-filled-s,
.micl-button-tonal-s,
.micl-button-outlined-s {
    @include typography.label-large;

    --micl-width: 40px;
    --micl-height: 40px;

    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);
    min-block-size: var(--micl-height);
    column-gap: 8px;
    padding-inline: 16px;

    &::before {
        content: "";
        position: absolute;
        block-size: var(--md-sys-target-size, 48px);
        inline-size: 100%;
        min-inline-size: var(--md-sys-target-size, 48px);
        inset: calc((var(--micl-height) - var(--md-sys-target-size, 48px)) / 2) 0 0 calc((min(100%, var(--md-sys-target-size, 48px)) - var(--md-sys-target-size, 48px)) / 2);
        background-color: transparent;
    }
    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-medium);
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-medium);

        &.micl-button--toggle.micl-button--selected {
            border-radius: calc(var(--micl-height) / 2);
        }
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-small);
        }
    }
    .micl-button__icon {
        font-size: 20px;
        inline-size: 20px;
    }
}

.micl-button-text-m,
.micl-button-elevated-m,
.micl-button-filled-m,
.micl-button-tonal-m,
.micl-button-outlined-m {
    @include typography.title-medium;

    --micl-width: 56px;
    --micl-height: 56px;

    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);
    min-block-size: var(--micl-height);
    column-gap: 8px;
    padding-inline: 24px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-large);
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: calc(var(--micl-height) / 2);
        }
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-medium);
        }
    }
    .micl-button__icon {
        font-size: var(--md-sys-icon-size, 24px);
        inline-size: var(--md-sys-icon-size, 24px);
    }
}

.micl-button-text-l,
.micl-button-elevated-l,
.micl-button-filled-l,
.micl-button-tonal-l,
.micl-button-outlined-l {
    @include typography.headline-small;

    --micl-width: 96px;
    --micl-height: 96px;

    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);
    min-block-size: var(--micl-height);
    column-gap: 12px;
    padding-inline: 48px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-extra-large);
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-extra-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: calc(var(--micl-height) / 2);
        }
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-large);
        }
    }
    .micl-button__icon {
        font-size: 32px;
        inline-size: 32px;
    }
}

.micl-button-text-xl,
.micl-button-elevated-xl,
.micl-button-filled-xl,
.micl-button-tonal-xl,
.micl-button-outlined-xl {
    @include typography.headline-large;

    --micl-width: 136px;
    --micl-height: 136px;

    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);
    min-block-size: var(--micl-height);
    column-gap: 16px;
    padding-inline: 64px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-extra-large);
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-extra-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: calc(var(--micl-height) / 2);
        }
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-large);
        }
    }
    .micl-button__icon {
        font-size: 40px;
        inline-size: 40px;
    }
}

.micl-button-text-xs,
.micl-button-text-s,
.micl-button-text-m,
.micl-button-text-l,
.micl-button-text-xl {
    --statelayer-color: var(--md-sys-color-primary);

    background-color: transparent;
    color: var(--md-sys-color-primary);
    text-decoration: none;

    &:not(:disabled) {
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
    }
}

.micl-button-elevated-xs,
.micl-button-elevated-s,
.micl-button-elevated-m,
.micl-button-elevated-l,
.micl-button-elevated-xl {
    --statelayer-color: var(--md-sys-color-primary);

    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-on-primary);

            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
    }
}
.micl-button-elevated-xs {
    block-size: 32px;
    border: none;
}
.micl-button-elevated-s {
    block-size: 40px;
    border: none;
}

.micl-button-filled-xs,
.micl-button-filled-s,
.micl-button-filled-m,
.micl-button-filled-l,
.micl-button-filled-xl {
    --statelayer-color: var(--md-sys-color-on-primary);

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &.micl-button--toggle:not(.micl-button--selected) {
            --statelayer-color: var(--md-sys-color-on-surface-variant);

            background-color: var(--md-sys-color-surface-container);
            color: var(--md-sys-color-on-surface-variant);
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
    }
}

.micl-button-tonal-xs,
.micl-button-tonal-s,
.micl-button-tonal-m,
.micl-button-tonal-l,
.micl-button-tonal-xl {
    --statelayer-color: var(--md-sys-color-on-secondary-container);

    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-on-secondary);

            background-color: var(--md-sys-color-secondary);
            color: var(--md-sys-color-on-secondary);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
    }
}

.micl-button-outlined-xs,
.micl-button-outlined-s,
.micl-button-outlined-m,
.micl-button-outlined-l,
.micl-button-outlined-xl {
    --statelayer-color: var(--md-sys-color-on-surface-variant);

    background-color: transparent;
    color: var(--md-sys-color-on-surface-variant);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-inverse-on-surface);

            background-color: var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);

            .micl-button__icon {
                font-variation-settings: 'FILL' 1;
            }
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
    }
}
.micl-button-outlined-xs,
.micl-button-outlined-s,
.micl-button-outlined-m {
    border: 1px solid var(--md-sys-color-outline-variant);
}
.micl-button-outlined-l {
    border: 2px solid var(--md-sys-color-outline-variant);
}
.micl-button-outlined-xl {
    border: 3px solid var(--md-sys-color-outline-variant);
}
