.dark-medium-contrast {
  --md-sys-color-primary: rgb(237 222 132);
  --md-sys-color-surface-tint: rgb(214 200 112);
  --md-sys-color-on-primary: rgb(43 38 0);
  --md-sys-color-primary-container: rgb(159 146 65);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(229 221 183);
  --md-sys-color-on-secondary: rgb(42 38 13);
  --md-sys-color-secondary-container: rgb(152 145 112);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(189 230 203);
  --md-sys-color-on-tertiary: rgb(4 44 27);
  --md-sys-color-tertiary-container: rgb(115 153 130);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 19 12);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 71 57);
  --md-sys-color-on-surface-variant: rgb(226 220 202);
  --md-sys-color-outline: rgb(183 178 161);
  --md-sys-color-outline-variant: rgb(149 144 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(44 42 33);
  --md-sys-color-inverse-primary: rgb(82 72 0);
  --md-sys-color-primary-fixed: rgb(243 228 137);
  --md-sys-color-on-primary-fixed: rgb(21 17 0);
  --md-sys-color-primary-fixed-dim: rgb(214 200 112);
  --md-sys-color-on-primary-fixed-variant: rgb(62 54 0);
  --md-sys-color-secondary-fixed: rgb(236 227 189);
  --md-sys-color-on-secondary-fixed: rgb(21 17 0);
  --md-sys-color-secondary-fixed-dim: rgb(207 199 162);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 54 28);
  --md-sys-color-tertiary-fixed: rgb(195 236 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 10);
  --md-sys-color-tertiary-fixed-dim: rgb(167 208 182);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 61 42);
  --md-sys-color-surface-dim: rgb(21 19 12);
  --md-sys-color-surface-bright: rgb(71 68 59);
  --md-sys-color-surface-container-lowest: rgb(9 7 3);
  --md-sys-color-surface-container-low: rgb(31 30 21);
  --md-sys-color-surface-container: rgb(42 40 31);
  --md-sys-color-surface-container-high: rgb(53 51 41);
  --md-sys-color-surface-container-highest: rgb(64 62 52);
}
