.light {
  --md-sys-color-primary: rgb(78 102 41);
  --md-sys-color-surface-tint: rgb(78 102 41);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(208 237 161);
  --md-sys-color-on-primary-container: rgb(55 77 19);
  --md-sys-color-secondary: rgb(88 98 73);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(221 231 199);
  --md-sys-color-on-secondary-container: rgb(65 74 50);
  --md-sys-color-tertiary: rgb(57 102 98);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 236 230);
  --md-sys-color-on-tertiary-container: rgb(31 78 74);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(26 28 22);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(69 72 61);
  --md-sys-color-outline: rgb(117 120 108);
  --md-sys-color-outline-variant: rgb(197 200 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(241 242 230);
  --md-sys-color-inverse-primary: rgb(180 208 135);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(18 31 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(55 77 19);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(22 30 10);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(65 74 50);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 74);
  --md-sys-color-surface-dim: rgb(218 219 208);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 233);
  --md-sys-color-surface-container: rgb(238 239 227);
  --md-sys-color-surface-container-high: rgb(232 233 222);
  --md-sys-color-surface-container-highest: rgb(226 227 216);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(39 60 3);
  --md-sys-color-surface-tint: rgb(78 102 41);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(92 117 55);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(49 57 35);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(103 112 86);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(9 61 57);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 117 112);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(16 18 12);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(52 55 45);
  --md-sys-color-outline: rgb(80 84 72);
  --md-sys-color-outline-variant: rgb(107 110 98);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(241 242 230);
  --md-sys-color-inverse-primary: rgb(180 208 135);
  --md-sys-color-primary-fixed: rgb(92 117 55);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(69 92 33);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(103 112 86);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(79 88 64);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(72 117 112);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(46 92 88);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(198 199 188);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 233);
  --md-sys-color-surface-container: rgb(232 233 222);
  --md-sys-color-surface-container-high: rgb(221 222 210);
  --md-sys-color-surface-container-highest: rgb(209 210 199);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(30 50 0);
  --md-sys-color-surface-tint: rgb(78 102 41);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(57 80 22);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(39 47 26);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(67 76 53);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 50 47);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(34 80 76);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(42 45 35);
  --md-sys-color-outline-variant: rgb(71 75 63);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(180 208 135);
  --md-sys-color-primary-fixed: rgb(57 80 22);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(36 57 1);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(67 76 53);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(45 54 32);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(34 80 76);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(3 57 54);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(184 186 175);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 242 230);
  --md-sys-color-surface-container: rgb(226 227 216);
  --md-sys-color-surface-container-high: rgb(212 213 202);
  --md-sys-color-surface-container-highest: rgb(198 199 188);
}
.dark {
  --md-sys-color-primary: rgb(180 208 135);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(34 54 0);
  --md-sys-color-primary-container: rgb(55 77 19);
  --md-sys-color-on-primary-container: rgb(208 237 161);
  --md-sys-color-secondary: rgb(192 202 172);
  --md-sys-color-on-secondary: rgb(43 51 30);
  --md-sys-color-secondary-container: rgb(65 74 50);
  --md-sys-color-on-secondary-container: rgb(221 231 199);
  --md-sys-color-tertiary: rgb(160 208 202);
  --md-sys-color-on-tertiary: rgb(0 55 52);
  --md-sys-color-tertiary-container: rgb(31 78 74);
  --md-sys-color-on-tertiary-container: rgb(188 236 230);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(226 227 216);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(197 200 185);
  --md-sys-color-outline: rgb(143 146 133);
  --md-sys-color-outline-variant: rgb(69 72 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(47 49 42);
  --md-sys-color-inverse-primary: rgb(78 102 41);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(18 31 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(55 77 19);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(22 30 10);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(65 74 50);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 74);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(13 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 25);
  --md-sys-color-surface-container-high: rgb(41 43 35);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(201 230 155);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(25 42 0);
  --md-sys-color-primary-container: rgb(127 153 87);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(214 224 193);
  --md-sys-color-on-secondary: rgb(32 40 20);
  --md-sys-color-secondary-container: rgb(139 148 120);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(182 230 224);
  --md-sys-color-on-tertiary: rgb(0 43 40);
  --md-sys-color-tertiary-container: rgb(107 153 148);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(219 222 207);
  --md-sys-color-outline: rgb(176 179 165);
  --md-sys-color-outline-variant: rgb(143 146 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(56 79 21);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(10 20 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(39 60 3);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(12 19 3);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 57 35);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 61 57);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(67 69 61);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(28 30 23);
  --md-sys-color-surface-container: rgb(38 41 33);
  --md-sys-color-surface-container-high: rgb(49 51 44);
  --md-sys-color-surface-container-highest: rgb(60 63 55);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(221 250 173);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(176 204 132);
  --md-sys-color-on-primary-container: rgb(6 14 0);
  --md-sys-color-secondary: rgb(234 244 212);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(189 199 168);
  --md-sys-color-on-secondary-container: rgb(7 13 1);
  --md-sys-color-tertiary: rgb(201 250 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 204 198);
  --md-sys-color-on-tertiary-container: rgb(0 14 12);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(239 241 226);
  --md-sys-color-outline-variant: rgb(193 196 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(56 79 21);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(10 20 0);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(12 19 3);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 19);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(79 81 72);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 32 25);
  --md-sys-color-surface-container: rgb(47 49 42);
  --md-sys-color-surface-container-high: rgb(58 60 52);
  --md-sys-color-surface-container-highest: rgb(69 72 63);
}
