//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/shape';
@use '../../styles/statelayer';
@use '../../styles/typography';

@include shape.corner('small');
@include shape.corner('medium');
@include shape.corner('large');
@include shape.corner('extra-large');

@include statelayer.token('disabled-state-layer-opacity');
@include statelayer.token('focus-indicator-thickness');

@include typography.scale('label-large');

@include motion.duration('medium2');
@include motion.duration('long2');

@mixin slider-inactive() {
    block-size: var(--_track-height);
    clip-path: var(--_inactive-clip);
    color: var(--_inactive-stop-color);
    background-color: var(--_inactive-track-color);
    background-image: var(--_end-stop), var(--_stops);
}
@mixin slider-active() {
    block-size: var(--_track-height);
    clip-path: var(--_active-clip);
    color: var(--_active-stop-color);
    background-color: var(--_active-track-color);
    background-image: var(--_stops);
}
@mixin slider-thumb() {
    appearance: none;
    box-sizing: content-box;
    position: relative;
    inline-size: calc(4px - 2 * var(--_handle-inset));
    block-size: var(--_handle-height);
    inset: 0;
    inset-block-start: calc(-1 * (var(--_handle-height) - var(--_track-height) + 8px) / 2);
    padding-block: 4px;
    padding-inline: calc(6px + var(--_handle-inset));
    border: none;
    border-radius: var(--_handle-radius);
    outline: var(--_handle-outline);
    background-color: var(--_handle-color);
    background-clip: content-box;
    cursor: var(--_cursor);
    z-index: 2;
}
@mixin slider-tip() {
    @include typography.label-large;
    --_tip-space: 4px;

    content: var(--micl-slider-tip);
    box-sizing: border-box;
    position: absolute;
    inline-size: fit-content;
    min-inline-size: 48px;
    block-size: 40px;
    inset: auto;
    padding-block: 12px;
    padding-inline: 16px;
    border-radius: 20px;
    background-color: var(--md-comp-slider-value-indicator-container-color, var(--md-sys-color-inverse-surface));
    color: var(--md-comp-slider-value-indicator-label-text-color, var(--md-sys-color-inverse-on-surface));
    text-align: center;
    opacity: 0;
    z-index: 3;
    transition: opacity var(--md-sys-motion-duration-long2) motion.$md-sys-motion-easing-emphasized-decelerate;
}
@mixin slider-tip-visible() {
    opacity: 1;
    transition: opacity var(--md-sys-motion-duration-medium2) motion.$md-sys-motion-easing-emphasized-accelerate;
}

input[type=range].micl-slider-xs,
.micl-slider__container:has(> .micl-slider-xs) {
    --_handle-height: var(--md-comp-slider-handle-height, 44px);
    --_track-height: var(--md-comp-slider-track-height, 16px);
    --_track-shape: var(--md-comp-slider-track-shape, var(--md-sys-shape-corner-small));
}
input[type=range].micl-slider-s,
.micl-slider__container:has(> .micl-slider-s) {
    --_handle-height: var(--md-comp-slider-handle-height, 44px);
    --_track-height: var(--md-comp-slider-track-height, 24px);
    --_track-shape: var(--md-comp-slider-track-shape, var(--md-sys-shape-corner-small));
}
input[type=range].micl-slider-m,
.micl-slider__container:has(> .micl-slider-m) {
    --_handle-height: var(--md-comp-slider-handle-height, 52px);
    --_track-height: var(--md-comp-slider-track-height, 40px);
    --_track-shape: var(--md-comp-slider-track-shape, var(--md-sys-shape-corner-medium));
}
input[type=range].micl-slider-l,
.micl-slider__container:has(> .micl-slider-l) {
    --_handle-height: var(--md-comp-slider-handle-height, 68px);
    --_track-height: var(--md-comp-slider-track-height, 56px);
    --_track-shape: var(--md-comp-slider-track-shape, var(--md-sys-shape-corner-large));
}
input[type=range].micl-slider-xl,
.micl-slider__container:has(> .micl-slider-xl) {
    --_handle-height: var(--md-comp-slider-handle-height, 108px);
    --_track-height: var(--md-comp-slider-track-height, 96px);
    --_track-shape: var(--md-comp-slider-track-shape, var(--md-sys-shape-corner-extra-large));
}

input[type=range][class*=micl-slider-] {
    --_min: var(--micl-slider-min, attr(min type(<number>), 0));
    --_max: var(--micl-slider-max, attr(max type(<number>), 100));
    --_value: var(--micl-slider-value, attr(value type(<number>), calc((var(--_min) + var(--_max)) / 2)));
    --_fraction: calc((var(--_value) - var(--_min)) / (var(--_max) - var(--_min)));
    --_thumb-position: calc(var(--_fraction) * (100% - 16px));
    --_handle-inset: 0px;
    --_handle-outline: none;
    --_cursor: pointer;
    --_active-track-color: var(--md-comp-slider-active-track-color, var(--md-sys-color-primary));
    --_inactive-track-color: var(--md-comp-slider-inactive-track-color, var(--md-sys-color-secondary-container));
    --_handle-color: var(--md-comp-slider-handle-color, var(--md-sys-color-primary));
    --_active-stop-color: var(--md-comp-slider-active-stop-indicator-container-color, var(--md-sys-color-on-primary));
    --_inactive-stop-color: var(--md-comp-slider-inactive-stop-indicator-container-color, var(--md-sys-color-on-secondary-container));
    --_direction: to right;
    --_handle-radius: 8px / calc(6px - var(--_handle-inset));
    --_kx: 1;
    --_cx: 0px;
    --_ky: 0;
    --_cy: 50%;
    --_stops: var(--micl-slider-stops, none);
    --_stops-progress: var(--micl-slider-stops-progress, none);
    --_end-stop: radial-gradient(
        circle 2px at
        calc(var(--_kx) * (100% - 8px) + var(--_cx))
        calc(var(--_ky) * (100% - 8px) + var(--_cy)),
        currentColor 100%,
        transparent 0
    );
    --_active-fill: linear-gradient(var(--_direction), var(--_active-track-color) calc(var(--_thumb-position) - 2px), transparent 0);
    --_corner-offset: calc(var(--_fraction) * (100% - 12px) - 4px);
    --_corner-direction: to bottom;
    --_corner-start: 2px 100%;
    --_corner-end: 2px 0;
    --_corner-image:
        linear-gradient(var(--_corner-direction), transparent 2px, var(--_active-track-color) 0 calc(100% - 2px), transparent 0),
        radial-gradient(circle 2px at var(--_corner-start), var(--_active-track-color) 100%, transparent 0),
        radial-gradient(circle 2px at var(--_corner-end), var(--_active-track-color) 100%, transparent 0);
    --_corner-size: 4px 100%, 4px 2px, 4px 2px;
    --_corner-position: left var(--_corner-offset) center, left var(--_corner-offset) top 0, left var(--_corner-offset) bottom 0;
    --_inactive-clip: inset(0 0 0 calc(var(--_thumb-position) + 16px) round 2px var(--_track-shape) var(--_track-shape) 2px);
    --_active-clip: inset(0 calc(100% - var(--_thumb-position)) 0 0 round var(--_track-shape) 2px 2px var(--_track-shape));
    --_progress-inset: calc(16px * var(--_fraction));
    --_progress-radius: calc(2px + 16px * var(--_fraction)) 2px;

    appearance: none;
    position: relative;
    block-size: var(--_track-height);
    margin: 0;
    outline: none;
    border-radius: var(--_track-shape);
    background-color: transparent;
    background-image: var(--_corner-image), var(--_active-fill);
    background-size: var(--_corner-size), auto;
    background-position: var(--_corner-position), 0 0;
    background-repeat: no-repeat;
    accent-color: var(--md-sys-color-primary);

    &::before {
        @include slider-inactive;

        content: "";
        position: absolute;
        inset: 0;
    }
    &:not(:disabled)::after {
        @include slider-tip;

        inset-block-start: calc(-1 * ((var(--_handle-height) - var(--_track-height)) / 2) - 40px - var(--_tip-space));
        inset-inline-start: calc(-16px + (100% - 16px) * var(--_fraction));
    }
    &:disabled::after {
        @include slider-active;

        content: "";
        position: absolute;
        inset: 0;
    }
    &::-webkit-slider-runnable-track {
        block-size: var(--_track-height);
        color: var(--_active-stop-color);
        background-color: transparent;
        background-image: var(--_stops);
    }
    &::-moz-range-track {
        @include slider-inactive;
    }
    &::-moz-range-progress {
        box-sizing: border-box;
        block-size: var(--_track-height);
        border-inline-end: var(--_progress-inset) solid transparent;
        color: var(--_active-stop-color);
        background-clip: padding-box;
        background-color: transparent;
        background-image: var(--_stops-progress);
    }
    &::-webkit-slider-thumb {
        @include slider-thumb;
    }
    &::-moz-range-thumb {
        @include slider-thumb;
    }
    &:disabled {
        --_active-track-color: color-mix(in srgb, var(--md-sys-color-on-surface) var(--md-sys-state-disabled-state-layer-opacity), transparent);
        --_inactive-track-color: color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent);
        --_handle-color: color-mix(in srgb, var(--md-sys-color-on-surface) var(--md-sys-state-disabled-state-layer-opacity), var(--md-sys-color-surface));
        --_active-stop-color: var(--md-sys-color-inverse-on-surface);
        --_inactive-stop-color: var(--md-sys-color-on-surface);
        --_cursor: default;

        background-image: none;

        &::-webkit-slider-runnable-track {
            background-image: none;
        }
        &::-moz-range-progress {
            border-start-start-radius: var(--_track-shape);
            border-end-start-radius: var(--_track-shape);
            border-start-end-radius: var(--_progress-radius);
            border-end-end-radius: var(--_progress-radius);
            background-color: var(--_active-track-color);
        }
    }
    &:not(:disabled) {
        &:is(:active, :focus)::after {
            @include slider-tip-visible;
        }
        &:focus-visible {
            --_handle-inset: 1px;
            --_handle-outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);
        }
        &:active {
            --_handle-inset: 1px;
            --_handle-outline: none;
            --_cursor: grabbing;
        }
    }
    &.micl-slider--vertical {
        --_direction: to top;
        --_kx: 0;
        --_cx: 50%;
        --_ky: -1;
        --_cy: 100%;
        --_handle-radius: calc(6px - var(--_handle-inset)) / 8px;
        --_corner-direction: to right;
        --_corner-start: 100% 2px;
        --_corner-end: 0 2px;
        --_corner-size: 100% 4px, 2px 4px, 2px 4px;
        --_corner-position: center bottom var(--_corner-offset), left 0 bottom var(--_corner-offset), right 0 bottom var(--_corner-offset);
        --_inactive-clip: inset(0 0 calc(var(--_thumb-position) + 16px) 0 round var(--_track-shape) var(--_track-shape) 2px 2px);
        --_active-clip: inset(calc(100% - var(--_thumb-position)) 0 0 0 round 2px 2px var(--_track-shape) var(--_track-shape));
        --_progress-radius: 2px calc(2px + 16px * var(--_fraction));

        writing-mode: sideways-lr;

        &:not(:disabled)::after {
            --_tip-space: 8px;

            transform: rotate(90deg);
        }
    }
    &:dir(rtl):not(.micl-slider--vertical) {
        --_direction: to left;
        --_kx: -1;
        --_cx: 100%;
        --_corner-start: calc(100% - 2px) 100%;
        --_corner-end: calc(100% - 2px) 0;
        --_corner-position: right var(--_corner-offset) center, right var(--_corner-offset) top 0, right var(--_corner-offset) bottom 0;
        --_inactive-clip: inset(0 calc(var(--_thumb-position) + 16px) 0 0 round var(--_track-shape) 2px 2px var(--_track-shape));
        --_active-clip: inset(0 0 0 calc(100% - var(--_thumb-position)) round 2px var(--_track-shape) var(--_track-shape) 2px);
    }
}

.micl-slider__container {
    --_fraction: calc((var(--micl-slider-value) - var(--micl-slider-min)) / (var(--micl-slider-max) - var(--micl-slider-min)));

    display: grid;
    grid-template-areas: "slider-icon";
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-items: flex-start;
    anchor-scope: --micl-slider;

    &:has(> .micl-slider-m,> .micl-slider-l,> .micl-slider-xl) {
        .micl-slider__icon {
            grid-area: slider-icon;
            margin: 6px;
            font-size: var(--md-sys-icon-size, 24px);
            color: var(--md-sys-color-on-primary);
            z-index: 1;
        }
    }
    &> input[type=range] {
        grid-area: slider-icon;
        anchor-name: --micl-slider;

        &:not(:disabled)::after {
            content: none;
        }
    }
    .micl-slider__icon:has(+ input[type=range].micl-slider-xl),
    input[type=range].micl-slider-xl + .micl-slider__icon {
        margin: 8px;
        font-size: 32px;
    }
    &::after {
        @include slider-tip;

        position-anchor: --micl-slider;
        inset-block-start: calc(anchor(start) - (var(--_handle-height) - var(--_track-height)) / 2 - 40px - var(--_tip-space));
        inset-inline-start: calc(anchor(start) - 16px + (anchor-size(inline) - 16px) * var(--_fraction));
    }
    &:has(> input[type=range]:not(:disabled):is(:active, :focus))::after {
        @include slider-tip-visible;
    }
    &:has(> .micl-slider--vertical) {
        writing-mode: sideways-lr;

        &::after {
            --_tip-space: 8px;

            transform: rotate(90deg);
        }
    }
}

input[type=range].micl-slider--vertical:dir(rtl),
.micl-slider__container:dir(rtl):has(> .micl-slider--vertical) {
    writing-mode: sideways-rl;
}
input[type=range].micl-slider--vertical:dir(rtl):not(:disabled)::after,
.micl-slider__container:dir(rtl):has(> .micl-slider--vertical)::after {
    transform: rotate(-90deg);
}
