.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 229);
  --md-sys-color-surface-tint: rgb(255 182 148);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 176 139);
  --md-sys-color-on-primary-container: rgb(27 5 0);
  --md-sys-color-secondary: rgb(255 236 229);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(226 186 169);
  --md-sys-color-on-secondary-container: rgb(24 6 1);
  --md-sys-color-tertiary: rgb(251 241 182);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(205 196 140);
  --md-sys-color-on-tertiary-container: rgb(14 11 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(26 18 14);
  --md-sys-color-on-background: rgb(240 223 216);
  --md-sys-color-surface: rgb(26 18 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 229);
  --md-sys-color-outline-variant: rgb(211 190 182);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 216);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(114 56 25);
  --md-sys-color-primary-fixed: rgb(255 219 204);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 148);
  --md-sys-color-on-primary-fixed-variant: rgb(36 9 0);
  --md-sys-color-secondary-fixed: rgb(255 219 204);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(230 190 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(31 12 4);
  --md-sys-color-tertiary-fixed: rgb(238 228 169);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(209 200 143);
  --md-sys-color-on-tertiary-fixed-variant: rgb(20 17 0);
  --md-sys-color-surface-dim: rgb(26 18 14);
  --md-sys-color-surface-bright: rgb(89 78 73);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(39 30 26);
  --md-sys-color-surface-container: rgb(56 46 42);
  --md-sys-color-surface-container-high: rgb(68 57 53);
  --md-sys-color-surface-container-highest: rgb(80 68 64);
}
