.dark {
  --md-sys-color-primary: rgb(255 182 148);
  --md-sys-color-surface-tint: rgb(255 182 148);
  --md-sys-color-on-primary: rgb(84 33 4);
  --md-sys-color-primary-container: rgb(112 55 24);
  --md-sys-color-on-primary-container: rgb(255 219 204);
  --md-sys-color-secondary: rgb(230 190 173);
  --md-sys-color-on-secondary: rgb(68 42 30);
  --md-sys-color-secondary-container: rgb(92 64 51);
  --md-sys-color-on-secondary-container: rgb(255 219 204);
  --md-sys-color-tertiary: rgb(209 200 143);
  --md-sys-color-on-tertiary: rgb(54 49 7);
  --md-sys-color-tertiary-container: rgb(77 71 28);
  --md-sys-color-on-tertiary-container: rgb(238 228 169);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(26 18 14);
  --md-sys-color-on-background: rgb(240 223 216);
  --md-sys-color-surface: rgb(26 18 14);
  --md-sys-color-on-surface: rgb(240 223 216);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(215 194 186);
  --md-sys-color-outline: rgb(160 141 133);
  --md-sys-color-outline-variant: rgb(82 68 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 216);
  --md-sys-color-inverse-on-surface: rgb(56 46 42);
  --md-sys-color-inverse-primary: rgb(141 77 45);
  --md-sys-color-primary-fixed: rgb(255 219 204);
  --md-sys-color-on-primary-fixed: rgb(53 16 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 148);
  --md-sys-color-on-primary-fixed-variant: rgb(112 55 24);
  --md-sys-color-secondary-fixed: rgb(255 219 204);
  --md-sys-color-on-secondary-fixed: rgb(44 22 11);
  --md-sys-color-secondary-fixed-dim: rgb(230 190 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 64 51);
  --md-sys-color-tertiary-fixed: rgb(238 228 169);
  --md-sys-color-on-tertiary-fixed: rgb(32 28 0);
  --md-sys-color-tertiary-fixed-dim: rgb(209 200 143);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 71 28);
  --md-sys-color-surface-dim: rgb(26 18 14);
  --md-sys-color-surface-bright: rgb(66 55 50);
  --md-sys-color-surface-container-lowest: rgb(20 12 9);
  --md-sys-color-surface-container-low: rgb(34 26 22);
  --md-sys-color-surface-container: rgb(39 30 26);
  --md-sys-color-surface-container-high: rgb(50 40 36);
  --md-sys-color-surface-container-highest: rgb(61 51 46);
}
