.dark {
  --md-sys-color-primary: rgb(212 200 113);
  --md-sys-color-surface-tint: rgb(212 200 113);
  --md-sys-color-on-primary: rgb(55 49 0);
  --md-sys-color-primary-container: rgb(79 71 0);
  --md-sys-color-on-primary-container: rgb(241 228 138);
  --md-sys-color-secondary: rgb(206 199 163);
  --md-sys-color-on-secondary: rgb(52 49 23);
  --md-sys-color-secondary-container: rgb(75 71 43);
  --md-sys-color-on-secondary-container: rgb(235 227 189);
  --md-sys-color-tertiary: rgb(167 208 183);
  --md-sys-color-on-tertiary: rgb(16 55 38);
  --md-sys-color-tertiary-container: rgb(41 78 59);
  --md-sys-color-on-tertiary-container: rgb(194 236 210);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 19 12);
  --md-sys-color-on-background: rgb(231 226 213);
  --md-sys-color-surface: rgb(21 19 12);
  --md-sys-color-on-surface: rgb(231 226 213);
  --md-sys-color-surface-variant: rgb(74 71 58);
  --md-sys-color-on-surface-variant: rgb(204 198 181);
  --md-sys-color-outline: rgb(149 145 129);
  --md-sys-color-outline-variant: rgb(74 71 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 226 213);
  --md-sys-color-inverse-on-surface: rgb(50 48 39);
  --md-sys-color-inverse-primary: rgb(104 95 18);
  --md-sys-color-primary-fixed: rgb(241 228 138);
  --md-sys-color-on-primary-fixed: rgb(32 28 0);
  --md-sys-color-primary-fixed-dim: rgb(212 200 113);
  --md-sys-color-on-primary-fixed-variant: rgb(79 71 0);
  --md-sys-color-secondary-fixed: rgb(235 227 189);
  --md-sys-color-on-secondary-fixed: rgb(31 28 5);
  --md-sys-color-secondary-fixed-dim: rgb(206 199 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(75 71 43);
  --md-sys-color-tertiary-fixed: rgb(194 236 210);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 19);
  --md-sys-color-tertiary-fixed-dim: rgb(167 208 183);
  --md-sys-color-on-tertiary-fixed-variant: rgb(41 78 59);
  --md-sys-color-surface-dim: rgb(21 19 12);
  --md-sys-color-surface-bright: rgb(59 57 48);
  --md-sys-color-surface-container-lowest: rgb(16 14 7);
  --md-sys-color-surface-container-low: rgb(29 28 19);
  --md-sys-color-surface-container: rgb(33 32 23);
  --md-sys-color-surface-container-high: rgb(44 42 33);
  --md-sys-color-surface-container-highest: rgb(55 53 44);
}
