.light-medium-contrast {
  --md-sys-color-primary: rgb(61 55 0);
  --md-sys-color-surface-tint: rgb(104 95 18);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(120 110 33);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(58 55 28);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(115 110 79);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(23 61 43);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(79 117 96);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 249 235);
  --md-sys-color-on-background: rgb(29 28 19);
  --md-sys-color-surface: rgb(255 249 235);
  --md-sys-color-on-surface: rgb(19 17 10);
  --md-sys-color-surface-variant: rgb(232 226 208);
  --md-sys-color-on-surface-variant: rgb(57 54 42);
  --md-sys-color-outline: rgb(86 83 69);
  --md-sys-color-outline-variant: rgb(113 109 94);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 39);
  --md-sys-color-inverse-on-surface: rgb(246 240 227);
  --md-sys-color-inverse-primary: rgb(212 200 113);
  --md-sys-color-primary-fixed: rgb(120 110 33);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(94 86 7);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(115 110 79);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(90 85 56);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(79 117 96);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(55 92 73);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(203 198 185);
  --md-sys-color-surface-bright: rgb(255 249 235);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 243 229);
  --md-sys-color-surface-container: rgb(237 232 218);
  --md-sys-color-surface-container-high: rgb(226 221 207);
  --md-sys-color-surface-container-highest: rgb(214 209 196);
}
