//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations/layout';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

:root {
    --md-sys-list-padding: 8px;
    --md-sys-list-item-one-height: 56px;
    --md-sys-list-item-two-height: 72px;
    --md-sys-list-item-three-height: 88px;
    --md-sys-list-item-one-padding: 8px;
    --md-sys-list-item-two-padding: 8px;
    --md-sys-list-item-three-padding: 12px;
    --md-sys-list-item-space: 16px;
    --md-sys-list-item-padding-inline: 16px;
}

.micl-list {
    --md-sys-list-item-container-color: var(--md-sys-color-surface);
    --md-sys-list-motion-duration: #{motion.$md-sys-motion-expressive-default-effects-duration};
    --md-sys-accordion-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-sys-accordion-motion-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};
    --md-sys-divider-space: 1px;

    margin: 0;
    padding: var(--md-sys-list-padding) 0;
    interpolate-size: allow-keywords;
    list-style-type: none;

    &> details {
        &::details-content {
            block-size: 0;
            overflow: hidden;
            transition:
                block-size var( --md-sys-accordion-motion-duration) var(--md-sys-accordion-motion-spatial),
                content-visibility var(--md-sys-accordion-motion-duration) linear allow-discrete;
        }
        &[open]::details-content {
            block-size: auto;
        }

        &> summary.micl-list-item-one,
        &> summary.micl-list-item-two,
        &> summary.micl-list-item-three {
            position: relative;
            -webkit-tap-highlight-color: transparent;

            &::-webkit-details-marker {
                display: none;
            }
            &.micl-list-item--disabled {
                pointer-events: none;
            }
            &:not(.micl-list-item--disabled) {
                cursor: pointer;
            }
        }
        .micl-list-item__content {
            box-sizing: border-box;
            padding-inline: var(--md-sys-list-item-padding-inline);
            background-color: var(--md-sys-list-item-container-color);
            overflow: hidden;
        }
    }

    &.micl-list__divider {
        .micl-list-item-one + .micl-list-item-one,
        .micl-list-item-two + .micl-list-item-two,
        .micl-list-item-three + .micl-list-item-three,
        details + details {
            border-top: var(--md-sys-divider-thickness) solid var(--md-sys-divider-color);
        }
    }

    &:has(.micl-list-item-one[tabindex], .micl-list-item-two[tabindex], .micl-list-item-three[tabindex]) {
        .micl-list-item-one:not(:disabled):not(.micl-list-item--disabled),
        .micl-list-item-two:not(:disabled):not(.micl-list-item--disabled),
        .micl-list-item-three:not(:disabled):not(.micl-list-item--disabled) {
            cursor: pointer;

            &:hover {
                --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);

                .micl-list-item__icon {
                    font-variation-settings: 'FILL' 1;
                }
            }
            &:focus-visible {
                --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);

                outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);
                outline-offset: var(--md-sys-state-focus-indicator-inner-offset);

                .micl-list-item__icon {
                    font-variation-settings: 'FILL' 1;
                }
            }
            &:active {
                --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);

                background-size: 0%, 100%;
                transition: background-size 0ms;

                .micl-list-item__icon {
                    font-variation-settings: 'FILL' 1;
                }
            }
        }
    }
}

.micl-list-item-one,
.micl-list-item-two,
.micl-list-item-three {
    --statelayer-color: var(--md-sys-color-on-surface);
    --md-sys-list-item-thumbnail-aspect-ratio: 1.778;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: var(--md-sys-list-item-space);
    padding-inline: var(--md-sys-list-item-space);
    border: none;
    border-radius: var(--md-sys-shape-corner-none, 0px);
    outline: none;
    background-color: var(--md-sys-list-item-container-color);
    background-image:
        radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
        linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
    background-repeat: no-repeat;
    background-size: 10000%, 100%;
    list-style: none;
    transition:
        background-size 3000ms,
        --statelayer-opacity var(--md-sys-list-motion-duration) linear;

    &:not(:has(> button)) {
        --micl-ripple: 1;
    }
    &> a,
    &> button,
    &> label {
        box-sizing: border-box;
        display: inherit;
        align-items: inherit;
        column-gap: inherit;
        min-block-size: inherit;
        inline-size: 100%;
        padding-inline: var(--md-sys-list-item-space);
        border: none;
        border-radius: inherit;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
    }
    &:has(> a,> button,> label) {
        padding-inline: 0;
    }
    &:disabled,
    &.micl-list-item--disabled {
        .micl-list-item__icon,
        .micl-list-item__headline,
        .micl-list-item__supporting-text,
        .micl-list-item__text::after,
        .micl-list-item__trailing-text {
            color: rgb(from var(--md-sys-color-on-surface) r g b / 38%);
        }
        .micl-list-item__image,
        .micl-list-item__thumbnail {
            opacity: 38%;
        }
        a, button, label {
            pointer-events: none;
            cursor: auto;
        }
    }
    &:not(:disabled):not(.micl-list-item--disabled) {
        &:has(input[type=checkbox]:checked) {
            background-color: var(--md-sys-color-secondary-container);

            .micl-list-item__headline {
                color: var(--md-sys-color-on-secondary-container);
            }
            .micl-list-item__icon,
            .micl-list-item__supporting-text,
            .micl-list-item__trailing-text {
                color: var(--md-sys-color-on-surface);
            }
        }
        input[type=checkbox]:not(:disabled):hover,
        input[type=checkbox]:not(:disabled):active {
            --statelayer-opacity: 0%;

            &.micl-switch::after {
                border-color: transparent;
            }
        }
    }
}

.micl-list-item-one {
    min-block-size: var(--md-sys-list-item-one-height);

    &:not(:has(> a,> button,> label)) {
        padding-block-start: var(--md-sys-list-item-one-padding);
        padding-block-end: var(--md-sys-list-item-one-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-block-start: var(--md-sys-list-item-three-padding);
            padding-block-end: var(--md-sys-list-item-three-padding);
            padding-inline-start: 0px;
        }
    }
    &> a,
    &> button,
    &> label {
        padding-block-start: var(--md-sys-list-item-one-padding);
        padding-block-end: var(--md-sys-list-item-one-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-block-start: var(--md-sys-list-item-three-padding);
            padding-block-end: var(--md-sys-list-item-three-padding);
            padding-inline-start: 0px;
        }
    }
}
.micl-list-item-two {
    min-block-size: var(--md-sys-list-item-two-height);

    &:not(:has(> a,> button,> label)) {
        padding-block-start: var(--md-sys-list-item-two-padding);
        padding-block-end: var(--md-sys-list-item-two-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-inline-start: 0px;
            padding-block-start: 12px;
            padding-block-end: 12px;
        }
    }
    &> a,
    &> button,
    &> label {
        padding-block-start: var(--md-sys-list-item-two-padding);
        padding-block-end: var(--md-sys-list-item-two-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-inline-start: 0px;
            padding-block-start: 12px;
            padding-block-end: 12px;
        }
    }
    .micl-list-item__supporting-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    input[type=checkbox].micl-checkbox {
        block-size: 24px;
        min-block-size: 24px;
        inline-size: 24px;
        min-inline-size: 24px;
    }
}
.micl-list-item-three {
    min-block-size: var(--md-sys-list-item-three-height);
    align-items: flex-start;

    &:not(:has(> a,> button,> label)) {
        padding-block-start: var(--md-sys-list-item-three-padding);
        padding-block-end: var(--md-sys-list-item-three-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-block-start: var(--md-sys-list-item-three-padding);
            padding-block-end: var(--md-sys-list-item-three-padding);
            padding-inline-start: 0px;
        }
    }
    &> a,
    &> button,
    &> label {
        padding-block-start: var(--md-sys-list-item-three-padding);
        padding-block-end: var(--md-sys-list-item-three-padding);

        &:has(.micl-list-item__thumbnail) {
            padding-block-start: var(--md-sys-list-item-three-padding);
            padding-block-end: var(--md-sys-list-item-three-padding);
            padding-inline-start: 0px;
        }
    }
    .micl-list-item__supporting-text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    input[type=checkbox].micl-checkbox {
        block-size: 24px;
        min-block-size: 24px;
        inline-size: 24px;
        min-inline-size: 24px;
    }
}

.micl-list-item__icon {
    min-inline-size: var(--md-sys-layout-icon-size, 24px);
    font-size: var(--md-sys-layout-icon-size, 24px);
    font-variation-settings: 'FILL' 0;
    color: var(--md-sys-color-on-surface-variant);
    transition: font-variation-settings var(--md-sys-list-motion-duration) linear;
}
.micl-list-item__avatar {
    @include typography.title-medium;

    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 40px;
    min-inline-size: 40px;
    border-radius: var(--md-sys-shape-corner-full);
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
}
.micl-list-item__image {
    display: inline-block;
    block-size: 56px;
    min-inline-size: 56px;
    border-radius: var(--md-sys-shape-corner-none, 0px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.micl-list-item__thumbnail {
    display: inline-block;
    block-size: 64px;
    min-inline-size: calc(64px * var(--md-sys-list-item-thumbnail-aspect-ratio));
    border-radius: var(--md-sys-shape-corner-none, 0px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.micl-list-item__text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-inline-size: 0;
    text-align: start;

    .micl-list-item__headline {
        @include typography.body-large;

        color: var(--md-sys-color-on-surface);
    }
    .micl-list-item__supporting-text {
        @include typography.body-medium;

        color: var(--md-sys-color-on-surface-variant);
    }
}

.micl-list-item__trailing-text {
    @include typography.label-small;

    color: var(--md-sys-color-on-surface-variant);
}
