.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 211 192);
  --md-sys-color-surface-tint: rgb(255 182 148);
  --md-sys-color-on-primary: rgb(69 23 0);
  --md-sys-color-primary-container: rgb(201 126 90);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 212 194);
  --md-sys-color-on-secondary: rgb(55 32 21);
  --md-sys-color-secondary-container: rgb(173 137 121);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(231 222 163);
  --md-sys-color-on-tertiary: rgb(43 38 0);
  --md-sys-color-tertiary-container: rgb(154 146 94);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 18 14);
  --md-sys-color-on-background: rgb(240 223 216);
  --md-sys-color-surface: rgb(26 18 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(238 216 207);
  --md-sys-color-outline: rgb(194 174 165);
  --md-sys-color-outline-variant: rgb(159 140 133);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 216);
  --md-sys-color-inverse-on-surface: rgb(50 40 36);
  --md-sys-color-inverse-primary: rgb(114 56 25);
  --md-sys-color-primary-fixed: rgb(255 219 204);
  --md-sys-color-on-primary-fixed: rgb(36 9 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 148);
  --md-sys-color-on-primary-fixed-variant: rgb(92 39 9);
  --md-sys-color-secondary-fixed: rgb(255 219 204);
  --md-sys-color-on-secondary-fixed: rgb(31 12 4);
  --md-sys-color-secondary-fixed-dim: rgb(230 190 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 48 36);
  --md-sys-color-tertiary-fixed: rgb(238 228 169);
  --md-sys-color-on-tertiary-fixed: rgb(20 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(209 200 143);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 55 12);
  --md-sys-color-surface-dim: rgb(26 18 14);
  --md-sys-color-surface-bright: rgb(77 66 61);
  --md-sys-color-surface-container-lowest: rgb(13 6 4);
  --md-sys-color-surface-container-low: rgb(37 28 24);
  --md-sys-color-surface-container: rgb(47 38 34);
  --md-sys-color-surface-container-high: rgb(59 48 44);
  --md-sys-color-surface-container-highest: rgb(70 59 55);
}
