.dark-high-contrast {
  --md-sys-color-primary: rgb(241 238 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(189 189 253);
  --md-sys-color-on-primary-container: rgb(3 0 60);
  --md-sys-color-secondary: rgb(241 238 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(194 192 217);
  --md-sys-color-on-secondary-container: rgb(9 9 27);
  --md-sys-color-tertiary: rgb(255 235 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(229 181 207);
  --md-sys-color-on-tertiary-container: rgb(27 3 19);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(242 238 250);
  --md-sys-color-outline-variant: rgb(196 193 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(65 66 122);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(8 6 65);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(15 15 33);
  --md-sys-color-tertiary-fixed: rgb(255 216 236);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 7 26);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(80 79 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 31 37);
  --md-sys-color-surface-container: rgb(48 48 54);
  --md-sys-color-surface-container-high: rgb(59 59 65);
  --md-sys-color-surface-container-highest: rgb(71 70 76);
}
