.light {
  --md-sys-color-primary: rgb(88 89 146);
  --md-sys-color-surface-tint: rgb(88 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(225 223 255);
  --md-sys-color-on-primary-container: rgb(64 65 120);
  --md-sys-color-secondary: rgb(93 92 114);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(226 224 249);
  --md-sys-color-on-secondary-container: rgb(69 69 89);
  --md-sys-color-tertiary: rgb(121 83 105);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 236);
  --md-sys-color-on-tertiary-container: rgb(95 60 81);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(27 27 33);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(71 70 79);
  --md-sys-color-outline: rgb(119 118 128);
  --md-sys-color-outline-variant: rgb(200 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(243 239 247);
  --md-sys-color-inverse-primary: rgb(193 193 255);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(20 19 74);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(64 65 120);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(26 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 236);
  --md-sys-color-on-tertiary-fixed: rgb(47 17 36);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 60 81);
  --md-sys-color-surface-dim: rgb(220 217 224);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 242 250);
  --md-sys-color-surface-container: rgb(240 236 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(47 48 102);
  --md-sys-color-surface-tint: rgb(88 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(103 104 162);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(52 52 72);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(108 107 129);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(77 43 64);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(137 97 120);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(17 17 22);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(54 53 62);
  --md-sys-color-outline: rgb(82 81 91);
  --md-sys-color-outline-variant: rgb(109 108 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(243 239 247);
  --md-sys-color-inverse-primary: rgb(193 193 255);
  --md-sys-color-primary-fixed: rgb(103 104 162);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(78 79 135);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(108 107 129);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(83 83 104);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(137 97 120);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(111 73 95);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(200 197 205);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 242 250);
  --md-sys-color-surface-container: rgb(234 231 239);
  --md-sys-color-surface-container-high: rgb(223 219 227);
  --md-sys-color-surface-container-highest: rgb(211 208 216);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(37 38 92);
  --md-sys-color-surface-tint: rgb(88 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(67 67 123);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(42 42 61);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(72 71 92);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(66 34 54);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(98 62 83);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(44 43 52);
  --md-sys-color-outline-variant: rgb(73 72 81);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(193 193 255);
  --md-sys-color-primary-fixed: rgb(67 67 123);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(44 44 99);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(72 71 92);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(49 49 68);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(98 62 83);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(73 40 60);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(186 183 191);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 239 247);
  --md-sys-color-surface-container: rgb(228 225 233);
  --md-sys-color-surface-container-high: rgb(214 211 219);
  --md-sys-color-surface-container-highest: rgb(200 197 205);
}
.dark {
  --md-sys-color-primary: rgb(193 193 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(41 42 96);
  --md-sys-color-primary-container: rgb(64 65 120);
  --md-sys-color-on-primary-container: rgb(225 223 255);
  --md-sys-color-secondary: rgb(198 196 221);
  --md-sys-color-on-secondary: rgb(47 47 66);
  --md-sys-color-secondary-container: rgb(69 69 89);
  --md-sys-color-on-secondary-container: rgb(226 224 249);
  --md-sys-color-tertiary: rgb(233 185 211);
  --md-sys-color-on-tertiary: rgb(70 38 58);
  --md-sys-color-tertiary-container: rgb(95 60 81);
  --md-sys-color-on-tertiary-container: rgb(255 216 236);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(228 225 233);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(200 197 208);
  --md-sys-color-outline: rgb(145 143 154);
  --md-sys-color-outline-variant: rgb(71 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(88 89 146);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(20 19 74);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(64 65 120);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(26 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 236);
  --md-sys-color-on-tertiary-fixed: rgb(47 17 36);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 60 81);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 56 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(218 217 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(30 31 85);
  --md-sys-color-primary-container: rgb(139 139 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(220 218 243);
  --md-sys-color-on-secondary: rgb(36 36 54);
  --md-sys-color-secondary-container: rgb(144 142 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 207 232);
  --md-sys-color-on-tertiary: rgb(58 27 47);
  --md-sys-color-tertiary-container: rgb(176 132 156);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(222 219 230);
  --md-sys-color-outline: rgb(179 176 187);
  --md-sys-color-outline-variant: rgb(145 143 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(42 41 47);
  --md-sys-color-inverse-primary: rgb(65 66 122);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(8 6 65);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(47 48 102);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(15 15 33);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 52 72);
  --md-sys-color-tertiary-fixed: rgb(255 216 236);
  --md-sys-color-on-tertiary-fixed: rgb(34 7 26);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 43 64);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(69 68 74);
  --md-sys-color-surface-container-lowest: rgb(7 7 12);
  --md-sys-color-surface-container-low: rgb(29 29 35);
  --md-sys-color-surface-container: rgb(40 39 45);
  --md-sys-color-surface-container-high: rgb(51 50 56);
  --md-sys-color-surface-container-highest: rgb(62 61 67);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(241 238 255);
  --md-sys-color-surface-tint: rgb(193 193 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(189 189 253);
  --md-sys-color-on-primary-container: rgb(3 0 60);
  --md-sys-color-secondary: rgb(241 238 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(194 192 217);
  --md-sys-color-on-secondary-container: rgb(9 9 27);
  --md-sys-color-tertiary: rgb(255 235 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(229 181 207);
  --md-sys-color-on-tertiary-container: rgb(27 3 19);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(242 238 250);
  --md-sys-color-outline-variant: rgb(196 193 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(65 66 122);
  --md-sys-color-primary-fixed: rgb(225 223 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(193 193 255);
  --md-sys-color-on-primary-fixed-variant: rgb(8 6 65);
  --md-sys-color-secondary-fixed: rgb(226 224 249);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(198 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(15 15 33);
  --md-sys-color-tertiary-fixed: rgb(255 216 236);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(233 185 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 7 26);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(80 79 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 31 37);
  --md-sys-color-surface-container: rgb(48 48 54);
  --md-sys-color-surface-container-high: rgb(59 59 65);
  --md-sys-color-surface-container-highest: rgb(71 70 76);
}
