.light {
  --md-sys-color-primary: rgb(104 95 18);
  --md-sys-color-surface-tint: rgb(104 95 18);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(241 228 138);
  --md-sys-color-on-primary-container: rgb(79 71 0);
  --md-sys-color-secondary: rgb(100 95 65);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(235 227 189);
  --md-sys-color-on-secondary-container: rgb(75 71 43);
  --md-sys-color-tertiary: rgb(64 102 82);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(194 236 210);
  --md-sys-color-on-tertiary-container: rgb(41 78 59);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 249 235);
  --md-sys-color-on-background: rgb(29 28 19);
  --md-sys-color-surface: rgb(255 249 235);
  --md-sys-color-on-surface: rgb(29 28 19);
  --md-sys-color-surface-variant: rgb(232 226 208);
  --md-sys-color-on-surface-variant: rgb(74 71 58);
  --md-sys-color-outline: rgb(123 119 104);
  --md-sys-color-outline-variant: rgb(204 198 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 39);
  --md-sys-color-inverse-on-surface: rgb(246 240 227);
  --md-sys-color-inverse-primary: rgb(212 200 113);
  --md-sys-color-primary-fixed: rgb(241 228 138);
  --md-sys-color-on-primary-fixed: rgb(32 28 0);
  --md-sys-color-primary-fixed-dim: rgb(212 200 113);
  --md-sys-color-on-primary-fixed-variant: rgb(79 71 0);
  --md-sys-color-secondary-fixed: rgb(235 227 189);
  --md-sys-color-on-secondary-fixed: rgb(31 28 5);
  --md-sys-color-secondary-fixed-dim: rgb(206 199 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(75 71 43);
  --md-sys-color-tertiary-fixed: rgb(194 236 210);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 19);
  --md-sys-color-tertiary-fixed-dim: rgb(167 208 183);
  --md-sys-color-on-tertiary-fixed-variant: rgb(41 78 59);
  --md-sys-color-surface-dim: rgb(223 218 204);
  --md-sys-color-surface-bright: rgb(255 249 235);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 243 229);
  --md-sys-color-surface-container: rgb(243 238 224);
  --md-sys-color-surface-container-high: rgb(237 232 218);
  --md-sys-color-surface-container-highest: rgb(231 226 213);
}
