.dark-high-contrast {
  --md-sys-color-primary: rgb(226 242 255);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(141 202 241);
  --md-sys-color-on-primary-container: rgb(0 13 22);
  --md-sys-color-secondary: rgb(226 242 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(178 197 212);
  --md-sys-color-on-secondary-container: rgb(0 13 22);
  --md-sys-color-tertiary: rgb(244 237 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(200 189 229);
  --md-sys-color-on-tertiary-container: rgb(13 6 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(234 241 247);
  --md-sys-color-outline-variant: rgb(189 195 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 77 108);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 19 30);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(1 19 30);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(19 12 42);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(76 81 84);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 36);
  --md-sys-color-surface-container: rgb(44 49 52);
  --md-sys-color-surface-container-high: rgb(55 60 64);
  --md-sys-color-surface-container-highest: rgb(67 71 75);
}
