.dark-medium-contrast {
  --md-sys-color-primary: rgb(184 226 255);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 41 59);
  --md-sys-color-primary-container: rgb(90 152 188);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 223 238);
  --md-sys-color-on-secondary: rgb(21 40 51);
  --md-sys-color-secondary-container: rgb(128 147 161);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(226 215 255);
  --md-sys-color-on-tertiary: rgb(40 33 64);
  --md-sys-color-tertiary-container: rgb(149 139 177);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(215 221 228);
  --md-sys-color-outline: rgb(172 179 185);
  --md-sys-color-outline-variant: rgb(138 145 151);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 77 108);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 30);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 58 83);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(1 19 30);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 56 68);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(19 12 42);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(57 49 82);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(4 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 33);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
