.light {
  --md-sys-color-primary: rgb(32 100 135);
  --md-sys-color-surface-tint: rgb(32 100 135);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(198 231 255);
  --md-sys-color-on-primary-container: rgb(0 76 107);
  --md-sys-color-secondary: rgb(79 97 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(210 229 244);
  --md-sys-color-on-secondary-container: rgb(55 73 85);
  --md-sys-color-tertiary: rgb(98 89 124);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(231 222 255);
  --md-sys-color-on-tertiary-container: rgb(74 66 99);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(24 28 31);
  --md-sys-color-surface: rgb(246 250 254);
  --md-sys-color-on-surface: rgb(24 28 31);
  --md-sys-color-surface-variant: rgb(221 227 234);
  --md-sys-color-on-surface-variant: rgb(65 72 77);
  --md-sys-color-outline: rgb(113 120 126);
  --md-sys-color-outline-variant: rgb(193 199 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(145 206 245);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 45);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 107);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(10 30 40);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 23 53);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 66 99);
  --md-sys-color-surface-dim: rgb(215 218 223);
  --md-sys-color-surface-bright: rgb(246 250 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 244 248);
  --md-sys-color-surface-container: rgb(235 238 243);
  --md-sys-color-surface-container-high: rgb(229 232 237);
  --md-sys-color-surface-container-highest: rgb(223 227 231);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(0 58 83);
  --md-sys-color-surface-tint: rgb(32 100 135);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(51 115 150);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(38 56 68);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(93 111 124);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(57 49 82);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(113 104 140);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(24 28 31);
  --md-sys-color-surface: rgb(246 250 254);
  --md-sys-color-on-surface: rgb(13 18 21);
  --md-sys-color-surface-variant: rgb(221 227 234);
  --md-sys-color-on-surface-variant: rgb(48 55 60);
  --md-sys-color-outline: rgb(76 83 89);
  --md-sys-color-outline-variant: rgb(103 110 116);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(145 206 245);
  --md-sys-color-primary-fixed: rgb(51 115 150);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(15 91 125);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(93 111 124);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(69 87 100);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(113 104 140);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(88 80 114);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(195 199 203);
  --md-sys-color-surface-bright: rgb(246 250 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 244 248);
  --md-sys-color-surface-container: rgb(229 232 237);
  --md-sys-color-surface-container-high: rgb(217 221 226);
  --md-sys-color-surface-container-highest: rgb(206 210 214);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(0 48 69);
  --md-sys-color-surface-tint: rgb(32 100 135);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 79 110);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(28 46 58);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(57 75 88);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(47 39 71);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(76 68 102);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(24 28 31);
  --md-sys-color-surface: rgb(246 250 254);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(221 227 234);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(38 45 50);
  --md-sys-color-outline-variant: rgb(67 74 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(145 206 245);
  --md-sys-color-primary-fixed: rgb(0 79 110);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 55 78);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(57 75 88);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(35 53 64);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(76 68 102);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(53 46 78);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(181 185 189);
  --md-sys-color-surface-bright: rgb(246 250 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(238 241 246);
  --md-sys-color-surface-container: rgb(223 227 231);
  --md-sys-color-surface-container-high: rgb(209 213 217);
  --md-sys-color-surface-container-highest: rgb(195 199 203);
}
.dark {
  --md-sys-color-primary: rgb(145 206 245);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 52 75);
  --md-sys-color-primary-container: rgb(0 76 107);
  --md-sys-color-on-primary-container: rgb(198 231 255);
  --md-sys-color-secondary: rgb(182 201 216);
  --md-sys-color-on-secondary: rgb(32 51 62);
  --md-sys-color-secondary-container: rgb(55 73 85);
  --md-sys-color-on-secondary-container: rgb(210 229 244);
  --md-sys-color-tertiary: rgb(204 193 233);
  --md-sys-color-on-tertiary: rgb(51 44 76);
  --md-sys-color-tertiary-container: rgb(74 66 99);
  --md-sys-color-on-tertiary-container: rgb(231 222 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(223 227 231);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(193 199 206);
  --md-sys-color-outline: rgb(139 146 152);
  --md-sys-color-outline-variant: rgb(65 72 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(44 49 52);
  --md-sys-color-inverse-primary: rgb(32 100 135);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 45);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 107);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(10 30 40);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(30 23 53);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 66 99);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 31);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(184 226 255);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 41 59);
  --md-sys-color-primary-container: rgb(90 152 188);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 223 238);
  --md-sys-color-on-secondary: rgb(21 40 51);
  --md-sys-color-secondary-container: rgb(128 147 161);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(226 215 255);
  --md-sys-color-on-tertiary: rgb(40 33 64);
  --md-sys-color-tertiary-container: rgb(149 139 177);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(215 221 228);
  --md-sys-color-outline: rgb(172 179 185);
  --md-sys-color-outline-variant: rgb(138 145 151);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 77 108);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 30);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 58 83);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(1 19 30);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 56 68);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(19 12 42);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(57 49 82);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(4 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 33);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(226 242 255);
  --md-sys-color-surface-tint: rgb(145 206 245);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(141 202 241);
  --md-sys-color-on-primary-container: rgb(0 13 22);
  --md-sys-color-secondary: rgb(226 242 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(178 197 212);
  --md-sys-color-on-secondary-container: rgb(0 13 22);
  --md-sys-color-tertiary: rgb(244 237 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(200 189 229);
  --md-sys-color-on-tertiary-container: rgb(13 6 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(234 241 247);
  --md-sys-color-outline-variant: rgb(189 195 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 77 108);
  --md-sys-color-primary-fixed: rgb(198 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(145 206 245);
  --md-sys-color-on-primary-fixed-variant: rgb(0 19 30);
  --md-sys-color-secondary-fixed: rgb(210 229 244);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 216);
  --md-sys-color-on-secondary-fixed-variant: rgb(1 19 30);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(204 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(19 12 42);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(76 81 84);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 36);
  --md-sys-color-surface-container: rgb(44 49 52);
  --md-sys-color-surface-container-high: rgb(55 60 64);
  --md-sys-color-surface-container-highest: rgb(67 71 75);
}
