.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 209 212);
  --md-sys-color-surface-tint: rgb(255 178 186);
  --md-sys-color-on-primary: rgb(72 18 28);
  --md-sys-color-primary-container: rgb(202 122 131);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(252 210 213);
  --md-sys-color-on-secondary: rgb(55 31 33);
  --md-sys-color-secondary-container: rgb(172 136 138);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 213 164);
  --md-sys-color-on-tertiary: rgb(56 33 0);
  --md-sys-color-tertiary-container: rgb(175 138 93);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 223);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(237 215 216);
  --md-sys-color-outline: rgb(193 173 174);
  --md-sys-color-outline-variant: rgb(159 140 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 223);
  --md-sys-color-inverse-on-surface: rgb(49 40 40);
  --md-sys-color-inverse-primary: rgb(116 52 61);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(44 0 9);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(93 34 44);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(32 11 13);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 47 50);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(28 14 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(75 49 12);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(77 66 66);
  --md-sys-color-surface-container-lowest: rgb(13 6 6);
  --md-sys-color-surface-container-low: rgb(36 27 28);
  --md-sys-color-surface-container: rgb(47 37 38);
  --md-sys-color-surface-container-high: rgb(58 48 49);
  --md-sys-color-surface-container-highest: rgb(70 59 60);
}
