.dark-high-contrast {
  --md-sys-color-primary: rgb(255 235 236);
  --md-sys-color-surface-tint: rgb(255 178 186);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 172 181);
  --md-sys-color-on-primary-container: rgb(33 0 5);
  --md-sys-color-secondary: rgb(255 235 236);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(225 185 188);
  --md-sys-color-on-secondary-container: rgb(25 6 8);
  --md-sys-color-tertiary: rgb(255 237 219);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(228 188 139);
  --md-sys-color-on-tertiary-container: rgb(20 9 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 223);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 235 236);
  --md-sys-color-outline-variant: rgb(211 190 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(116 52 61);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(44 0 9);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(32 11 13);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 14 0);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(89 77 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(39 29 30);
  --md-sys-color-surface-container: rgb(56 46 47);
  --md-sys-color-surface-container-high: rgb(68 57 57);
  --md-sys-color-surface-container-highest: rgb(79 68 69);
}
