.dark-high-contrast {
  --md-sys-color-primary: rgb(236 247 161);
  --md-sys-color-surface-tint: rgb(194 205 124);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(191 201 120);
  --md-sys-color-on-primary-container: rgb(10 13 0);
  --md-sys-color-secondary: rgb(240 243 207);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(194 197 163);
  --md-sys-color-on-secondary-container: rgb(10 13 0);
  --md-sys-color-tertiary: rgb(203 250 235);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(158 204 190);
  --md-sys-color-on-tertiary-container: rgb(0 14 10);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 214);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(71 72 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(242 241 223);
  --md-sys-color-outline-variant: rgb(196 195 179);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(68 76 7);
  --md-sys-color-primary-fixed: rgb(223 233 149);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(194 205 124);
  --md-sys-color-on-primary-fixed-variant: rgb(16 19 0);
  --md-sys-color-secondary-fixed: rgb(227 229 194);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(198 201 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(16 19 1);
  --md-sys-color-tertiary-fixed: rgb(189 236 222);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(162 208 194);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 16);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(80 81 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 32 24);
  --md-sys-color-surface-container: rgb(48 49 40);
  --md-sys-color-surface-container-high: rgb(60 60 51);
  --md-sys-color-surface-container-highest: rgb(71 71 62);
}
