//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/typography';

:root {
    --md-sys-badge-small-size: 6px;
    --md-sys-badge-large-size: 16px;
    --md-sys-badge-large-padding: 4px;
    --md-sys-badge-inline-offset: 0px;
    --md-sys-badge-block-offset: 0px;
}

.micl-badge {
    box-sizing: border-box;
    position: fixed;
    inset: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);

    &.micl-badge--small {
        inline-size: var(--md-sys-badge-small-size);
        block-size: var(--md-sys-badge-small-size);
        inset-block-start: calc(anchor(start) + var(--md-sys-badge-block-offset));
        inset-inline-start: calc(anchor(end) - var(--md-sys-badge-small-size) + var(--md-sys-badge-inline-offset));
        padding: 0;
        border-radius: calc(var(--md-sys-badge-small-size) / 2);
    }
    &:not(.micl-badge--small) {
        @include typography.label-small;

        inline-size: fit-content;
        max-inline-size: 34px;
        min-inline-size: var(--md-sys-badge-large-size);
        block-size: var(--md-sys-badge-large-size);
        inset-block-start: calc(anchor(start) - (var(--md-sys-badge-large-size) - 14px) + var(--md-sys-badge-block-offset));
        inset-inline-start: calc(anchor(end) - 12px + var(--md-sys-badge-inline-offset));
        padding-inline: var(--md-sys-badge-large-padding);
        border-radius: calc(var(--md-sys-badge-large-size) / 2);
    }
}

@supports not (top: anchor(bottom)) {
    .micl-badge {
        position: absolute;
        inset: 0 !important;
        margin-block: calc(12px + var(--md-sys-badge-block-offset)) auto;

        &.micl-badge--small {
            margin-inline-start: calc(var(--md-sys-layout-icon-size) - var(--md-sys-badge-small-size) - var(--md-sys-badge-inline-offset));
        }
        &:not(.micl-badge--small) {
            margin-inline-start: calc(12px - var(--md-sys-badge-inline-offset));
        }
    }
}
