.light {
  --md-sys-color-primary: rgb(143 73 82);
  --md-sys-color-surface-tint: rgb(143 73 82);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 217 220);
  --md-sys-color-on-primary-container: rgb(114 51 60);
  --md-sys-color-secondary: rgb(118 86 89);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 217 220);
  --md-sys-color-on-secondary-container: rgb(92 63 66);
  --md-sys-color-tertiary: rgb(120 89 48);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 221 182);
  --md-sys-color-on-tertiary-container: rgb(93 65 27);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(34 25 26);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(34 25 26);
  --md-sys-color-surface-variant: rgb(244 221 222);
  --md-sys-color-on-surface-variant: rgb(82 67 68);
  --md-sys-color-outline: rgb(132 115 116);
  --md-sys-color-outline-variant: rgb(215 193 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 47);
  --md-sys-color-inverse-on-surface: rgb(255 237 237);
  --md-sys-color-inverse-primary: rgb(255 178 186);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(59 7 18);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(114 51 60);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(44 21 24);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 63 66);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(42 24 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 65 27);
  --md-sys-color-surface-dim: rgb(231 214 214);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 240);
  --md-sys-color-surface-container: rgb(252 234 234);
  --md-sys-color-surface-container-high: rgb(246 228 229);
  --md-sys-color-surface-container-highest: rgb(240 222 223);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(93 34 44);
  --md-sys-color-surface-tint: rgb(143 73 82);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(160 88 97);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(74 47 50);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(134 101 103);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(75 49 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(136 103 61);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(34 25 26);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(23 15 16);
  --md-sys-color-surface-variant: rgb(244 221 222);
  --md-sys-color-on-surface-variant: rgb(65 51 52);
  --md-sys-color-outline: rgb(94 79 80);
  --md-sys-color-outline-variant: rgb(122 105 106);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 47);
  --md-sys-color-inverse-on-surface: rgb(255 237 237);
  --md-sys-color-inverse-primary: rgb(255 178 186);
  --md-sys-color-primary-fixed: rgb(160 88 97);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(131 64 73);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(134 101 103);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(108 77 80);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(136 103 61);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(109 79 40);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(211 195 195);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 240);
  --md-sys-color-surface-container: rgb(246 228 229);
  --md-sys-color-surface-container-high: rgb(234 217 217);
  --md-sys-color-surface-container-highest: rgb(223 206 206);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(81 24 34);
  --md-sys-color-surface-tint: rgb(143 73 82);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(117 53 62);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(63 37 40);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(95 65 68);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(63 39 3);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(96 68 29);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(34 25 26);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(244 221 222);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(54 41 42);
  --md-sys-color-outline-variant: rgb(85 69 70);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 47);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(255 178 186);
  --md-sys-color-primary-fixed: rgb(117 53 62);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(89 31 40);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(95 65 68);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(70 43 46);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(96 68 29);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(71 45 8);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 181 182);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 237 237);
  --md-sys-color-surface-container: rgb(240 222 223);
  --md-sys-color-surface-container-high: rgb(225 208 209);
  --md-sys-color-surface-container-highest: rgb(211 195 195);
}
.dark {
  --md-sys-color-primary: rgb(255 178 186);
  --md-sys-color-surface-tint: rgb(255 178 186);
  --md-sys-color-on-primary: rgb(86 29 38);
  --md-sys-color-primary-container: rgb(114 51 60);
  --md-sys-color-on-primary-container: rgb(255 217 220);
  --md-sys-color-secondary: rgb(229 189 191);
  --md-sys-color-on-secondary: rgb(67 41 44);
  --md-sys-color-secondary-container: rgb(92 63 66);
  --md-sys-color-on-secondary-container: rgb(255 217 220);
  --md-sys-color-tertiary: rgb(232 192 142);
  --md-sys-color-on-tertiary: rgb(68 43 6);
  --md-sys-color-tertiary-container: rgb(93 65 27);
  --md-sys-color-on-tertiary-container: rgb(255 221 182);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 223);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(240 222 223);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(215 193 194);
  --md-sys-color-outline: rgb(159 140 141);
  --md-sys-color-outline-variant: rgb(82 67 68);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 223);
  --md-sys-color-inverse-on-surface: rgb(56 46 47);
  --md-sys-color-inverse-primary: rgb(143 73 82);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(59 7 18);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(114 51 60);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(44 21 24);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 63 66);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(42 24 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 65 27);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(65 55 55);
  --md-sys-color-surface-container-lowest: rgb(20 12 13);
  --md-sys-color-surface-container-low: rgb(34 25 26);
  --md-sys-color-surface-container: rgb(39 29 30);
  --md-sys-color-surface-container-high: rgb(49 40 40);
  --md-sys-color-surface-container-highest: rgb(61 50 51);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 209 212);
  --md-sys-color-surface-tint: rgb(255 178 186);
  --md-sys-color-on-primary: rgb(72 18 28);
  --md-sys-color-primary-container: rgb(202 122 131);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(252 210 213);
  --md-sys-color-on-secondary: rgb(55 31 33);
  --md-sys-color-secondary-container: rgb(172 136 138);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 213 164);
  --md-sys-color-on-tertiary: rgb(56 33 0);
  --md-sys-color-tertiary-container: rgb(175 138 93);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 223);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(237 215 216);
  --md-sys-color-outline: rgb(193 173 174);
  --md-sys-color-outline-variant: rgb(159 140 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 223);
  --md-sys-color-inverse-on-surface: rgb(49 40 40);
  --md-sys-color-inverse-primary: rgb(116 52 61);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(44 0 9);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(93 34 44);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(32 11 13);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 47 50);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(28 14 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(75 49 12);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(77 66 66);
  --md-sys-color-surface-container-lowest: rgb(13 6 6);
  --md-sys-color-surface-container-low: rgb(36 27 28);
  --md-sys-color-surface-container: rgb(47 37 38);
  --md-sys-color-surface-container-high: rgb(58 48 49);
  --md-sys-color-surface-container-highest: rgb(70 59 60);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(255 235 236);
  --md-sys-color-surface-tint: rgb(255 178 186);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 172 181);
  --md-sys-color-on-primary-container: rgb(33 0 5);
  --md-sys-color-secondary: rgb(255 235 236);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(225 185 188);
  --md-sys-color-on-secondary-container: rgb(25 6 8);
  --md-sys-color-tertiary: rgb(255 237 219);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(228 188 139);
  --md-sys-color-on-tertiary-container: rgb(20 9 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 223);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 235 236);
  --md-sys-color-outline-variant: rgb(211 190 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(116 52 61);
  --md-sys-color-primary-fixed: rgb(255 217 220);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 178 186);
  --md-sys-color-on-primary-fixed-variant: rgb(44 0 9);
  --md-sys-color-secondary-fixed: rgb(255 217 220);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(229 189 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(32 11 13);
  --md-sys-color-tertiary-fixed: rgb(255 221 182);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(232 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 14 0);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(89 77 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(39 29 30);
  --md-sys-color-surface-container: rgb(56 46 47);
  --md-sys-color-surface-container-high: rgb(68 57 57);
  --md-sys-color-surface-container-highest: rgb(79 68 69);
}
