//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';

:root {
    --md-sys-radio-border-width: 2px;
    --md-sys-radio-container-size: 20px;
    --md-sys-radio-state-layer-size: 40px;
}

input[type=radio].micl-radio {
    --md-sys-radio-motion-effects: #{motion.$md-sys-motion-expressive-slow-effects};
    --md-sys-radio-motion-duration: #{motion.$md-sys-motion-expressive-slow-effects-duration};
    --md-sys-radio-motion-duration-reverse: #{motion.$md-sys-motion-expressive-default-effects-duration};

    appearance: none;
    box-sizing: border-box;
    position: relative;
    width: var(--md-sys-target-size);
    height: var(--md-sys-target-size);
    margin: 0;
    border: calc((var(--md-sys-target-size) - var(--md-sys-radio-state-layer-size)) / 2) solid transparent;
    background-clip: content-box;
    background-color: transparent;
    border-radius: var(--md-sys-shape-corner-full);
    outline-offset: -7px;

    &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        width: var(--md-sys-radio-container-size);
        height: var(--md-sys-radio-container-size);
        inset: 0;
        margin: auto;
        padding: calc((var(--md-sys-radio-container-size) / 2) - var(--md-sys-radio-border-width));
        border: var(--md-sys-radio-border-width) solid var(--md-sys-color-on-surface-variant);
        background-color: var(--md-sys-color-primary);
        background-clip: content-box;
        border-radius: var(--md-sys-shape-corner-full);
        transition:
            padding var(--md-sys-radio-motion-duration-reverse) var(--md-sys-radio-motion-effects),
            border-color var(--md-sys-radio-motion-duration-reverse) motion.$md-sys-motion-easing-emphasized;
    }
    &:checked::after {
        border-color: var(--md-sys-color-primary);
        padding: 3px;
        transition:
            padding var(--md-sys-radio-motion-duration) var(--md-sys-radio-motion-effects),
            border-color var(--md-sys-radio-motion-duration) motion.$md-sys-motion-easing-emphasized;
    }
    &:not(:disabled) {
        --miclripple: 1;

        background-image:
            radial-gradient(circle at var(--x, center) var(--y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
            linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
        background-repeat: no-repeat;
        background-size: 10000%, 100%;
        cursor: pointer;
        transition:
            background-size 3000ms,
            --statelayer-opacity var(--md-sys-radio-motion-duration) linear;

        &:hover {
            --statelayer-color: var(--md-sys-color-on-surface);
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);

            &:checked {
                --statelayer-color: var(--md-sys-color-primary);
            }
            &::after {
                border-color: var(--md-sys-color-on-surface);
            }
            &:checked::after {
                border-color: var(--md-sys-color-primary);
            }
        }
        &:focus-visible {
            --statelayer-color: var(--md-sys-color-on-surface);
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);

            outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);

            &:checked {
                --statelayer-color: var(--md-sys-color-primary);
            }
            &::after {
                border-color: var(--md-sys-color-on-surface);
            }
            &:checked::after {
                border-color: var(--md-sys-color-primary);
            }
        }
        &:active {
            --statelayer-color: var(--md-sys-color-on-surface);
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);

            background-size: 0%, 100%;
            transition: background-size 0ms;

            &:checked {
                --statelayer-color: var(--md-sys-color-primary);
            }
            &::after {
                border-color: var(--md-sys-color-on-surface);
            }
            &:checked::after {
                border-color: var(--md-sys-color-primary);
            }
        }
    }
    &:disabled {
        opacity: 38%;

        &::after {
            border-color: var(--md-sys-color-on-surface);
        }
        &:checked::after {
            background-color: var(--md-sys-color-on-surface);
        }
    }
}

input[type=radio].micl-radio:not(:disabled) + label,
label:has(+ input[type=radio].micl-radio:not(:disabled)) {
    cursor: pointer;
}
input[type=radio].micl-radio + label,
label + input[type=radio].micl-radio {
    color: var(--md-sys-color-on-surface);
}
