//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../foundations/layout';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';
@use '../../styles/typography';

.micl-navigationrail {
    --md-comp-nav-rail-spring-buffer: 100px;
    --md-comp-nav-rail-divider-thickness: 0px;
    --md-comp-nav-rail-motion-spatial: #{motion.$md-sys-motion-expressive-slow-spatial};
    --md-comp-nav-rail-motion-duration: #{motion.$md-sys-motion-expressive-slow-spatial-duration};
    --md-comp-nav-rail-motion-duration-reverse: #{motion.$md-sys-motion-expressive-default-spatial-duration};
    --md-comp-nav-rail-morph-duration: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --md-comp-nav-rail-morph-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};

    --_navigationrail-current-max-width: var(--md-comp-nav-rail-collapsed-container-width, 96px);
    --_navigationrail-current-min-width: var(--md-comp-nav-rail-collapsed-container-width, 96px);
    --_navigationrail-item-direction: column;
    --_navigationrail-item-width: var(--md-comp-nav-rail-item-short-container-height, 56px);
    --_navigationrail-item-target-height: var(--_navigationrail-item-base-height);

    --_navigationrail-content-gap: var(--md-comp-nav-rail-item-container-vertical-space, 6px);
    --_navigationrail-morph-speed: var(--md-comp-nav-rail-morph-duration-reverse);
    --_navigationrail-container-delay: calc(var(--_navigationrail-morph-speed) / 2);
    --_navigationrail-item-delay: 0ms;
    --_navigationrail-text-animation: none;
    --_navigationrail-expanded-text-margin: calc(var(--md-comp-nav-rail-item-active-indicator-icon-label-space, 8px) - 16px);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    block-size: 100vh;
    min-block-size: 100%;
    margin-block: 0;
    margin-inline: calc(-1 * var(--md-sys-layout-window-margin, 0px)) auto;
    padding-block: var(--md-comp-nav-rail-collapsed-top-space, 44px) 0;
    padding-inline: 0;
    background-color: var(--md-comp-nav-rail-collapsed-container-color, var(--md-sys-color-surface));
    border: none;
    border-radius: var(--md-comp-nav-rail-collapsed-container-shape, 0px);
    box-shadow: var(--md-comp-nav-rail-collapsed-container-elevation, var(--md-sys-elevation-level0));
    opacity: 100%;
    overflow: hidden;
    z-index: 9;
    interpolate-size: allow-keywords;

    transition:
        min-inline-size var(--_navigationrail-morph-speed) var(--_navigationrail-container-delay) linear,
        max-inline-size var(--_navigationrail-morph-speed) var(--_navigationrail-container-delay) linear,
        padding-block-start var(--_navigationrail-morph-speed) var(--_navigationrail-container-delay) linear;
    min-inline-size: var(--_navigationrail-current-min-width);
    max-inline-size: var(--_navigationrail-current-max-width);

    &> .micl-navigationrail__headline {
        padding-inline-start: 28px;
    }

    &> .micl-navigationrail__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: flex-start;
        inline-size: 100%;
        row-gap: var(--_navigationrail-content-gap);
        padding-block: var(--md-comp-nav-rail-item-header-space-minimum, 40px) 16px;
        padding-inline: 20px 0;

        overflow: hidden auto;
        transition: row-gap var(--_navigationrail-morph-speed) linear;

        &> a.micl-navigationrail__item:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);
        }

        &> a.micl-navigationrail__item {
            --micl-ripple: 1;
            --statelayer-color: var(--md-sys-color-on-secondary-container);
            --_navigationrail-item-base-height: var(--md-comp-nav-rail-item-short-container-height, 56px);
            --_navigationrail-item-margin-bottom: 0px;
            --_navigationrail-item-padding-block: 12px;

            box-sizing: border-box;
            display: flex;
            position: relative;
            align-items: center;
            row-gap: var(--md-comp-nav-rail-collapsed-item-vertical-space, 4px);
            outline: none;
            text-decoration: none;
            cursor: pointer;

            overflow: visible;
            background-color: transparent;
            background-image:
                radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
                linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
            background-repeat: no-repeat;
            background-size: 10000%, 100%;

            &:has(.micl-navigationrail__text) {
                --_navigationrail-item-base-height: var(--md-comp-nav-rail-item-vertical-active-indicator-height, 32px);
                --_navigationrail-item-margin-bottom: 40px;
                --_navigationrail-item-padding-block: 0px;
            }
            &:not(:has(.micl-navigationrail__icon)) {
                --_navigationrail-item-base-height: var(--md-comp-nav-rail-item-short-container-height, 56px);
                --_navigationrail-item-margin-bottom: 0px;
                --_navigationrail-item-padding-block: 0px;

                justify-content: center;

                .micl-navigationrail__text {
                    inline-size: fit-content;
                    max-inline-size: 100%;
                    margin: 0;
                    padding-inline: 8px;

                    text-align: start;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    animation: none !important;

                    transition:
                        padding-inline calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                        margin-inline calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear;
                }
            }

            inline-size: var(--_navigationrail-item-width);
            block-size: var(--_navigationrail-item-target-height, var(--_navigationrail-item-base-height));
            margin-block-end: var(--_navigationrail-item-target-margin, var(--_navigationrail-item-margin-bottom));
            padding-block: var(--_navigationrail-item-target-padding, var(--_navigationrail-item-padding-block));
            flex-direction: var(--_navigationrail-item-direction);

            border-radius: calc(var(--_navigationrail-item-target-height, var(--_navigationrail-item-base-height)) / 2);

            transition:
                inline-size calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                block-size calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                margin-block-end calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                padding-block calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                border-radius calc(var(--_navigationrail-morph-speed) / 2) var(--_navigationrail-item-delay) linear,
                flex-direction 0s calc(var(--_navigationrail-morph-speed) / 2) linear allow-discrete,
                background-color calc(var(--_navigationrail-morph-speed) / 2) linear,
                background-size 3000ms linear,
                --statelayer-opacity var(--md-comp-nav-rail-motion-duration) linear;

            .micl-navigationrail__icon {
                font-size: var(--md-comp-nav-rail-item-icon-size, var(--md-sys-icon-size));
                inline-size: var(--md-comp-nav-rail-item-icon-size, var(--md-sys-icon-size));
                margin: 0;
                padding-block: 4px;
                padding-inline: 16px;
                color: var(--md-sys-color-on-surface-variant);
                font-variation-settings: 'FILL' 0;
            }
            .micl-navigationrail__text {
                @include typography.label-medium;
                min-block-size: var(--md-sys-typescale-label-medium-line-height);
                margin: 4px 0px 0px 0px;
                color: var(--md-sys-color-on-surface-variant);
                overflow: hidden;
                animation: var(--_navigationrail-text-animation);
            }

            &:hover {
                --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);
            }
            &:active {
                --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
                background-size: 0%, 100%;
                transition-duration: 0ms, 0ms, 0ms, calc(var(--_navigationrail-morph-speed) / 2), 0ms, var(--md-comp-nav-rail-motion-duration);
            }
        }

        &> a.micl-navigationrail__item[aria-current="page"] {
            background-color: var(--md-sys-color-secondary-container);

            .micl-navigationrail__icon {
                color: var(--md-sys-color-on-secondary-container);
                font-variation-settings: 'FILL' 1;
            }
            .micl-navigationrail__text {
                color: var(--md-sys-color-secondary);
            }
        }
    }

    &[open] {
        border-start-end-radius: var(--md-comp-nav-rail-expanded-modal-container-shape, var(--md-sys-shape-corner-large));
        border-end-end-radius: var(--md-comp-nav-rail-expanded-modal-container-shape, var(--md-sys-shape-corner-large));
        box-shadow: var(--md-comp-nav-rail-expanded-modal-container-elevation, var(--md-sys-elevation-level2));
        background-color: var(--md-comp-nav-rail-expanded-modal-container-color, var(--md-sys-color-surface-container));
        transition:
            opacity var(--md-comp-nav-rail-motion-duration) linear,
            margin-inline-start var(--md-comp-nav-rail-motion-duration) var(--md-comp-nav-rail-motion-spatial),
            overlay var(--md-comp-nav-rail-motion-duration) linear allow-discrete,
            display var(--md-comp-nav-rail-motion-duration) linear allow-discrete;

        &::backdrop {
            background-color: rgba(0, 0, 0, var(--md-sys-state-backdrop-opacity, 32%));
            @starting-style { background-color: rgba(0, 0, 0, 0); }
        }
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0);
        transition:
            background-color var(--md-comp-nav-rail-motion-duration) linear,
            overlay var(--md-comp-nav-rail-motion-duration) linear allow-discrete,
            display var(--md-comp-nav-rail-motion-duration) linear allow-discrete;
    }
}

dialog.micl-navigationrail,
nav.micl-navigationrail:has(> .micl-navigationrail__headline .micl-button--toggle.micl-button--selected) {
    --_navigationrail-current-max-width: var(--md-comp-nav-rail-expanded-container-width-maximum, 360px);
    --_navigationrail-current-min-width: var(--md-comp-nav-rail-expanded-container-width-minimum, 220px);
    --_navigationrail-item-direction: row;
    --_navigationrail-item-width: fit-content;

    --_navigationrail-item-target-height: var(--md-comp-nav-rail-item-short-container-height, 56px);
    --_navigationrail-item-target-margin: 0px;
    --_navigationrail-item-target-padding: 16px;

    --_navigationrail-content-gap: 0px;
    --_navigationrail-morph-speed: var(--md-comp-nav-rail-morph-duration);
    --_navigationrail-container-delay: 0ms;
    --_navigationrail-item-delay: calc(var(--_navigationrail-morph-speed) / 2);
    --_navigationrail-text-animation: var(--_navigationrail-morph-speed) linear forwards navigationrail-text-to-expanded;

    padding-block: var(--md-comp-nav-rail-expanded-top-space, 44px) 0;
    border-radius: var(--md-comp-nav-rail-expanded-container-shape, 0px);
    box-shadow: var(--md-comp-nav-rail-expanded-container-elevation, var(--md-sys-elevation-level0));
    background-color: var(--md-comp-nav-rail-expanded-container-color, var(--md-sys-color-surface));

    & > .micl-navigationrail__content > a.micl-navigationrail__item {
        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            inset-inline-end: calc(-1 * (var(--md-comp-nav-rail-expanded-container-width-maximum, 360px) - 16px - 100%));
            background-color: transparent;
        }
        .micl-navigationrail__text {
            @include typography.label-large;
            margin-inline-start: var(--_navigationrail-expanded-text-margin);
            padding-inline-end: 16px;
        }

        &:not(:has(.micl-navigationrail__icon)) .micl-navigationrail__text {
            margin-inline-start: 0px;
            padding-inline-start: 16px;
        }
    }
}

nav.micl-navigationrail:has(> .micl-navigationrail__headline .micl-button--toggle.micl-button--toggled:not(.micl-button--selected)) {
    --_navigationrail-morph-speed: var(--md-comp-nav-rail-morph-duration-reverse);
    --_navigationrail-text-animation: var(--_navigationrail-morph-speed) linear forwards navigationrail-text-to-collapsed;
}

nav.micl-navigationrail {
    position: sticky;
    float: inline-start;
    inset: unset;
    inset-block-start: 0;
    inset-inline-start: 0;
    border-inline-end: var(--md-comp-nav-rail-divider-thickness, 0px) solid var(--md-comp-nav-rail-divider-color, var(--md-sys-divider-color));
}

dialog.micl-navigationrail {
    display: none;
    min-inline-size: calc(var(--md-comp-nav-rail-expanded-container-width-minimum, 220px) + var(--md-comp-nav-rail-spring-buffer));
    max-inline-size: calc(var(--md-comp-nav-rail-expanded-container-width-maximum, 360px) + var(--md-comp-nav-rail-spring-buffer));
    margin-inline-start: calc(-1 * (var(--md-comp-nav-rail-expanded-container-width-maximum, 360px) + var(--md-comp-nav-rail-spring-buffer)));
    padding-inline: var(--md-comp-nav-rail-spring-buffer) 0;
    opacity: 0%;

    transition:
        opacity var(--md-comp-nav-rail-motion-duration-reverse) linear,
        margin-inline-start var(--md-comp-nav-rail-motion-duration-reverse) var(--md-comp-nav-rail-motion-spatial),
        overlay var(--md-comp-nav-rail-motion-duration-reverse) linear allow-discrete,
        display var(--md-comp-nav-rail-motion-duration-reverse) linear allow-discrete;

    &[open] {
        display: flex;
        margin-inline-start: calc(-1 * var(--md-comp-nav-rail-spring-buffer));
        opacity: 100%;

        @starting-style {
            margin-inline-start: calc(-1 * (var(--md-comp-nav-rail-expanded-container-width-maximum, 360px) + var(--md-comp-nav-rail-spring-buffer)));
            opacity: 0%;
        }
    }
}

@keyframes navigationrail-text-to-collapsed {
    0% {
        @include typography.label-large;
        margin-block-start: 0;
        margin-inline-start: var(--_navigationrail-expanded-text-margin);
        padding-inline-end: 16px;
        opacity: 100%
    }
    49.9% {
        @include typography.label-large;
        margin-block-start: 0;
        margin-inline-start: var(--_navigationrail-expanded-text-margin);
        padding-inline-end: 16px;
        opacity: 0%;
    }
    50.1% {
        @include typography.label-medium;
        min-block-size: var(--md-sys-typescale-label-medium-line-height);
        margin-block-start: -16px;
        margin-inline-start: 0px;
        padding-inline-end: 0px;
        opacity: 0%;
    }
    100% {
        @include typography.label-medium;
        min-block-size: var(--md-sys-typescale-label-medium-line-height);
        margin-block-start: 4px;
        margin-inline-start: 0px;
        padding-inline-end: 0px;
        opacity: 100%;
    }
}

@keyframes navigationrail-text-to-expanded {
    0% {
        @include typography.label-medium;
        min-block-size: var(--md-sys-typescale-label-medium-line-height);
        margin-block-start: 4px;
        margin-inline-start: 0px;
        padding-inline-end: 0px;
        opacity: 100%;
    }
    49.9% {
        @include typography.label-medium;
        min-block-size: var(--md-sys-typescale-label-medium-line-height);
        margin-block-start: -16px;
        margin-inline-start: 0px;
        padding-inline-end: 0px;
        opacity: 0%;
    }
    50.1% {
        @include typography.label-large;
        margin-block-start: 0px;
        margin-inline-start: var(--_navigationrail-expanded-text-margin);
        padding-inline-end: 16px;
        opacity: 0%;
    }
    100% {
        @include typography.label-large;
        margin-block-start: 0px;
        margin-inline-start: var(--_navigationrail-expanded-text-margin);
        padding-inline-end: 16px;
        opacity: 100%;
    }
}