//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations/layout/tokens' as layout;
@use '../../styles/elevation';
@use '../../styles/statelayer';
@use '../navigationrail/navitem';

@include elevation.level(0);
@include elevation.level(2);

@include statelayer.token('hover-state-layer-opacity');
@include statelayer.token('focus-state-layer-opacity');
@include statelayer.token('pressed-state-layer-opacity');
@include statelayer.token('ripple-opacity-factor');
@include statelayer.token('ripple-duration');
@include statelayer.property;
@include statelayer.keyframes;

nav.micl-navigationbar {
    --_navbar-container-height: var(--md-comp-nav-bar-container-height, 64px);
    --_navbar-item-height: var(--md-comp-nav-bar-item-vertical-active-indicator-height, 32px);
    --_navbar-item-offset: 6px;
    --_navbar-badge-position: absolute;
    --_navbar-badge-align: auto;
    --_navbar-badge-margin: 0px;

    box-sizing: border-box;
    position: fixed;
    inset-block: auto 0;
    inset-inline: 0;
    padding-block-end: env(safe-area-inset-bottom);
    background-color: var(--md-comp-nav-bar-container-color, var(--md-sys-color-surface-container));
    box-shadow: var(--md-comp-nav-bar-container-elevation, var(--md-sys-elevation-level2));
    border-radius: var(--md-comp-nav-bar-container-shape, 0px);
    z-index: 9;

    &> .micl-navigationbar__content {
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        block-size: var(--_navbar-container-height);
        column-gap: var(--md-comp-nav-bar-item-between-space, 0px);
        padding-block-start: var(--_navbar-item-offset);

        &> a.micl-navigationbar__item {
            @extend %micl-navitem;

            anchor-scope: --micl-navigationbar-icon;

            --_navitem-state-layer-color: var(--md-comp-nav-bar-item-state-layer-color, var(--md-sys-color-on-secondary-container));
            --_navitem-inactive-icon-color: var(--md-comp-nav-bar-item-inactive-icon-color, var(--md-sys-color-on-surface-variant));
            --_navitem-inactive-label-color: var(--md-comp-nav-bar-item-inactive-label-text-color, var(--md-sys-color-on-surface-variant));
            --_navitem-active-indicator-color: var(--md-comp-nav-bar-item-active-indicator-color, var(--md-sys-color-secondary-container));
            --_navitem-active-icon-color: var(--md-comp-nav-bar-item-active-icon-color, var(--md-sys-color-on-secondary-container));
            --_navitem-active-label-color: var(--md-comp-nav-bar-item-active-label-text-color, var(--md-sys-color-secondary));

            flex-direction: column;
            inline-size: var(--md-comp-nav-bar-item-vertical-active-indicator-width, 56px);
            block-size: var(--_navbar-item-height);
            border-radius: var(--md-comp-nav-bar-item-active-indicator-shape, calc(var(--_navbar-item-height) / 2));

            &::before {
                content: "";
                position: absolute;
                inset-inline: 0;
                inset-block:
                    calc(-1 * var(--_navbar-item-offset))
                    calc(var(--_navbar-item-offset) + var(--_navbar-item-height) - var(--_navbar-container-height));
                background-color: transparent;
            }

            .micl-badge {
                position-anchor: --micl-navigationbar-icon;
            }
            .micl-badge--trailing {
                position: var(--_navbar-badge-position);
                flex-shrink: 0;
                align-self: var(--_navbar-badge-align);
                margin-inline-start: var(--_navbar-badge-margin);
            }

            .micl-navigationbar__icon {
                @extend %micl-navitem-icon;
                anchor-name: --micl-navigationbar-icon;
                font-size: var(--md-comp-nav-bar-item-icon-size, var(--md-sys-icon-size));
                inline-size: var(--md-comp-nav-bar-item-icon-size, var(--md-sys-icon-size));
                padding-inline: 16px;
            }
            .micl-navigationbar__text {
                @extend %micl-navitem-text;
                min-inline-size: 0;
                max-inline-size: 100%;
                margin-block-start: var(--md-comp-nav-bar-item-vertical-active-indicator-icon-label-space, var(--md-comp-nav-bar-item-active-indicator-icon-label-space, 4px));
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &> a.micl-navigationbar__item[aria-current="page"] {
            @extend %micl-navitem-current;

            .micl-navigationbar__icon {
                @extend %micl-navitem-current-icon;
            }
            .micl-navigationbar__text {
                @extend %micl-navitem-current-text;
            }
        }
    }

    &.micl-navigationbar--tall {
        --_navbar-container-height: var(--md-comp-nav-bar-tall-container-height, 80px);
        --_navbar-item-offset: 14px;
    }

    &.micl-navigationbar--horizontal {
        --_navbar-item-height: var(--md-comp-nav-bar-item-horizontal-active-indicator-height, 40px);
        --_navbar-item-offset: calc((var(--_navbar-container-height) - var(--_navbar-item-height)) / 2);
        --_navbar-badge-position: static;
        --_navbar-badge-align: center;
        --_navbar-badge-margin: var(--md-comp-badge-trailing-space, 4px);
    }
    &.micl-navigationbar--horizontal > .micl-navigationbar__content {
        align-items: center;
        padding-block-start: 0;

        &> a.micl-navigationbar__item {
            flex-direction: row;
            min-inline-size: 0;
            inline-size: fit-content;
            max-inline-size: 100%;
            block-size: var(--_navbar-item-height);
            border-radius: var(--md-comp-nav-bar-item-active-indicator-shape, calc(var(--_navbar-item-height) / 2));

            .micl-navigationbar__icon {
                flex-shrink: 0;
                padding-inline:
                    var(--md-comp-nav-bar-item-horizontal-active-indicator-leading-space, 16px)
                    var(--md-comp-nav-bar-item-horizontal-active-indicator-icon-label-space, var(--md-comp-nav-bar-item-active-indicator-icon-label-space, 4px));
            }
            .micl-navigationbar__text {
                margin-block-start: 0;
                padding-inline-end: var(--md-comp-nav-bar-item-horizontal-active-indicator-trailing-space, 16px);
            }
            .micl-navigationbar__text:has(+ .micl-badge--trailing) {
                padding-inline-end: 0;
            }
            .micl-badge--trailing {
                margin-inline-end: var(--md-comp-nav-bar-item-horizontal-active-indicator-trailing-space, 16px);
            }
        }
    }
}

body:has(nav.micl-navigationbar) {
    padding-block-end: calc(var(--md-comp-nav-bar-container-height, 64px) + env(safe-area-inset-bottom));
}
body:has(nav.micl-navigationbar--tall) {
    padding-block-end: calc(var(--md-comp-nav-bar-tall-container-height, 80px) + env(safe-area-inset-bottom));
}

$_breakpoints: (
    medium:   layout.$md-sys-breakpoint-medium-min,
    expanded: layout.$md-sys-breakpoint-expanded-min,
);

@each $name, $min in $_breakpoints {
    @media (min-width: $min) {
        nav.micl-navigationbar--bar-to-#{$name} {
            --_navbar-container-height: var(--md-comp-nav-rail-item-container-height, 64px);
            --_navbar-item-offset: 0px;

            display: flex;
            flex-direction: column;
            position: sticky;
            float: inline-start;
            inset: unset;
            inset-block-start: 0;
            inline-size: var(--md-comp-nav-rail-collapsed-container-width, 96px);
            block-size: 100dvh;
            min-block-size: 100%;
            margin-inline: calc(-1 * var(--md-sys-layout-window-margin, 0px)) auto;
            padding-block: var(--md-comp-nav-rail-collapsed-top-space, 44px) 0;
            background-color: var(--md-comp-nav-rail-collapsed-container-color, var(--md-sys-color-surface));
            box-shadow: var(--md-comp-nav-rail-collapsed-container-elevation, var(--md-sys-elevation-level0));
            border-radius: var(--md-comp-nav-rail-collapsed-container-shape, 0px);
            border-inline-end: var(--md-comp-nav-rail-divider-thickness, 0px) solid var(--md-comp-nav-rail-divider-color, var(--md-comp-divider-color, var(--md-sys-color-outline-variant, gray)));
            overflow: hidden;

            &> .micl-navigationbar__content {
                flex: 1 1 auto;
                flex-direction: column;
                justify-content: flex-start;
                inline-size: 100%;
                block-size: auto;
                row-gap: var(--md-comp-nav-rail-item-container-vertical-space, 4px);
                padding-block: 0 16px;
                padding-inline: calc((var(--md-comp-nav-rail-collapsed-container-width, 96px) - var(--md-comp-nav-bar-item-vertical-active-indicator-width, 56px)) / 2);
                overflow: hidden auto;

                &> a.micl-navigationbar__item {
                    margin-block-end: calc(var(--md-comp-nav-rail-item-container-height, 64px) - var(--md-comp-nav-bar-item-vertical-active-indicator-height, 32px));

                    .micl-navigationbar__text {
                        margin-block-start: var(--md-comp-nav-rail-collapsed-item-vertical-space, 4px);
                    }
                }
            }
        }

        body.micl-window:has(nav.micl-navigationbar--bar-to-#{$name}) {
            padding-block-end: var(--md-sys-layout-window-margin, 0px);
        }
        body:not(.micl-window):has(nav.micl-navigationbar--bar-to-#{$name}) {
            padding-block-end: 0;
        }
    }
}
