//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.


body {
    --md-comp-divider-color: var(--md-sys-color-outline-variant, gray);
}

.micl-divider,
.micl-divider-inset,
.micl-divider-inset-start,
.micl-divider-inset-end {
    margin-block: calc(var(--md-comp-divider-space, 4px) - 0.5px);
    margin-inline: 0;
    border: none;
    border-block-start: var(--md-comp-divider-thickness, 1px) solid var(--md-comp-divider-color);
    list-style: none;
}

.micl-divider-inset {
    margin-inline: var(--md-comp-divider-inset-margin, 16px);
}

.micl-divider-inset-start {
    margin-inline-start: var(--md-comp-divider-inset-margin, 16px);
}

.micl-divider-inset-end {
    margin-inline-end: var(--md-comp-divider-inset-margin, 16px);
}

.micl-divider-vertical {
    min-block-size: 100%;
    inline-size: 0;
    margin-block: 0;
    margin-inline: calc(2 * var(--md-comp-divider-space, 4px));
    border: none;
    border-inline-start: var(--md-comp-divider-thickness, 1px) solid var(--md-comp-divider-color);
}
