//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';

@include motion.duration('long2');

.micl-stepper {
    --_stepper-motion-spatial: var(--md-comp-stepper-motion-spatial, #{motion.$md-sys-motion-easing-emphasized});
    --_stepper-motion-duration: var(--md-comp-stepper-motion-duration, var(--md-sys-motion-duration-long2));
    --_stepper-dir: 1;

    --_stepper-dot-size: var(--md-comp-stepper-dot-size, 12px);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: var(--md-sys-padding-xl, 24px);
    margin: 0;

    &:dir(rtl) {
        --_stepper-dir: -1;
    }

    .micl-stepper__header {
        --_stepper-dot-size: var(--md-comp-stepper-header-dot-size, 24px);

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-block: 0;
        margin-inline: calc(-1 * var(--md-comp-stepper-header-outset, 12px));
        padding: 0;
        list-style: none;
        counter-reset: dotnumber;
        anchor-scope: all;

        button {
            position: static;
            anchor-name: var(--micl-stepper-anchor);

            &::before {
                inset: auto;
                inset-block-start: calc(anchor(var(--micl-stepper-anchor) center) - var(--md-sys-state-target-size, 48px) / 2);
                inset-inline-start: anchor(var(--micl-stepper-anchor) start);
                inset-inline-end: anchor(var(--micl-stepper-anchor) end);
                inline-size: auto;
            }
        }
        li:not(:first-child) > button::after {
            content: "";
            position: absolute;
            inset-block-start: calc(anchor(var(--micl-stepper-anchor) center) - 0.5px);
            inset-inline-start: anchor(var(--micl-stepper-prev) end);
            inset-inline-end: anchor(var(--micl-stepper-anchor) start);
            block-size: 1px;
            background-color: var(--md-comp-divider-color, var(--md-sys-color-outline-variant));
            pointer-events: none;
        }
        .micl-stepper__progress-dot::before {
            content: counter(dotnumber, var(--md-comp-stepper-counter-style, decimal));
        }
    }
    .micl-stepper__steps {
        display: grid;
        grid-template-areas: "stepper-steps";
        overflow-x: clip;

        .micl-stepper__step {
            grid-area: stepper-steps;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            margin: 0;
            padding: 0;
            border: none;
            opacity: 0%;
            transform: translateX(calc(var(--_stepper-dir) * 100%));
            transition:
                visibility var(--_visibility-duration, var(--_stepper-motion-duration)) linear,
                opacity var(--_stepper-motion-duration) linear,
                transform var(--_stepper-motion-duration) var(--_stepper-motion-spatial);

            &:has(~ .micl-stepper__step[aria-current=step]) {
                transform: translateX(calc(var(--_stepper-dir) * -100%));
            }
            &[aria-current=step] {
                --_visibility-duration: 0s;

                visibility: visible;
                opacity: 100%;
                transform: none;
            }
            &:focus-visible {
                outline: none;
            }
        }
    }
    .micl-stepper__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        inline-size: 100%;
        align-items: center;

        &>:first-child,
        &>:last-child {
            display: flex;
            flex: 1 1 0;
            column-gap: var(--md-sys-padding-xs, 8px)
        }
        &>:last-child {
            justify-content: flex-end;
        }
    }
    .micl-stepper__progress-dots {
        display: flex;
        align-items: center;
        column-gap: var(--md-comp-stepper-dot-space, 4px);
    }
    .micl-stepper__progress-dot {
        block-size: var(--_stepper-dot-size);
        inline-size: var(--_stepper-dot-size);
        min-inline-size: var(--_stepper-dot-size);
        line-height: var(--_stepper-dot-size);
        border-radius: calc(var(--_stepper-dot-size) / 2);
        text-align: center;
        background-color: var(--md-comp-stepper-dot-color, var(--md-sys-color-surface-container-highest));
        color: var(--md-comp-stepper-dot-label-color, var(--md-sys-color-on-surface-variant));
        counter-increment: dotnumber 1;
    }
    @each $state, $color, $label in (done, tertiary-container, on-tertiary-container), (current, primary, on-primary) {
        :is(.micl-stepper__progress--#{$state}.micl-stepper__progress-dot, .micl-stepper__progress--#{$state} .micl-stepper__progress-dot) {
            background-color: var(--md-comp-stepper-dot-#{$state}-color, var(--md-sys-color-#{$color}));
            color: var(--md-comp-stepper-dot-#{$state}-label-color, var(--md-sys-color-#{$label}));
        }
    }

    @media (forced-colors: active) {
        .micl-stepper__header li:not(:first-child) > button::after {
            background-color: CanvasText;
        }
        .micl-stepper__progress-dot {
            outline: 1px solid CanvasText;
            outline-offset: -1px;
        }
        @each $state, $color, $label in (done, CanvasText, Canvas), (current, Highlight, HighlightText) {
            :is(.micl-stepper__progress--#{$state}.micl-stepper__progress-dot, .micl-stepper__progress--#{$state} .micl-stepper__progress-dot) {
                forced-color-adjust: none;
                outline-color: $color;
                background-color: $color;
                color: $label;
            }
        }
    }

}

.micl-stepper__action--hidden, .micl-stepper--hidden {
    display: none !important;
}
