#settings-directionality {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-block: 24px 4px;
}
h1 {
    color: var(--md-sys-color-on-surface);
}
pre {
    width: 100%;
    margin: 0;
    overflow: auto;
}
.docs-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 16px;
    row-gap: 16px;
}
.docs-code {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}
