.light {
  --md-sys-color-primary: rgb(52 105 63);
  --md-sys-color-surface-tint: rgb(52 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(182 241 187);
  --md-sys-color-on-primary-container: rgb(27 81 41);
  --md-sys-color-secondary: rgb(81 99 81);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(211 232 209);
  --md-sys-color-on-secondary-container: rgb(57 75 58);
  --md-sys-color-tertiary: rgb(57 101 109);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 234 244);
  --md-sys-color-on-tertiary-container: rgb(31 77 85);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(24 29 24);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(65 73 65);
  --md-sys-color-outline: rgb(114 121 112);
  --md-sys-color-outline-variant: rgb(193 201 190);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 234);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 33 10);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(27 81 41);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(15 31 17);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 75 58);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 85);
  --md-sys-color-surface-dim: rgb(215 219 211);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 237);
  --md-sys-color-surface-container: rgb(235 239 231);
  --md-sys-color-surface-container-high: rgb(229 233 225);
  --md-sys-color-surface-container-highest: rgb(224 228 220);
}
.light-medium-contrast {
  --md-sys-color-primary: rgb(4 63 26);
  --md-sys-color-surface-tint: rgb(52 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(67 120 77);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(41 58 43);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(95 114 95);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(9 60 68);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 116 124);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(14 18 14);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(49 56 48);
  --md-sys-color-outline: rgb(77 84 76);
  --md-sys-color-outline-variant: rgb(104 111 102);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 234);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(67 120 77);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(42 95 54);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(95 114 95);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(71 89 72);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(72 116 124);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(47 91 99);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(195 200 192);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 237);
  --md-sys-color-surface-container: rgb(229 233 225);
  --md-sys-color-surface-container-high: rgb(218 222 214);
  --md-sys-color-surface-container-highest: rgb(207 211 203);
}
.light-high-contrast {
  --md-sys-color-primary: rgb(0 52 19);
  --md-sys-color-surface-tint: rgb(52 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(30 83 43);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(31 48 33);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(60 78 61);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 49 56);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(34 79 87);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(39 46 39);
  --md-sys-color-outline-variant: rgb(68 75 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(30 83 43);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 60 23);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(60 78 61);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(38 55 39);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(34 79 87);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(3 56 64);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(182 186 178);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(238 242 234);
  --md-sys-color-surface-container: rgb(224 228 220);
  --md-sys-color-surface-container-high: rgb(209 214 206);
  --md-sys-color-surface-container-highest: rgb(195 200 192);
}
.dark {
  --md-sys-color-primary: rgb(155 212 160);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 57 22);
  --md-sys-color-primary-container: rgb(27 81 41);
  --md-sys-color-on-primary-container: rgb(182 241 187);
  --md-sys-color-secondary: rgb(184 204 182);
  --md-sys-color-on-secondary: rgb(35 52 37);
  --md-sys-color-secondary-container: rgb(57 75 58);
  --md-sys-color-on-secondary-container: rgb(211 232 209);
  --md-sys-color-tertiary: rgb(161 206 215);
  --md-sys-color-on-tertiary: rgb(0 54 62);
  --md-sys-color-tertiary-container: rgb(31 77 85);
  --md-sys-color-on-tertiary-container: rgb(189 234 244);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(224 228 220);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(193 201 190);
  --md-sys-color-outline: rgb(139 147 137);
  --md-sys-color-outline-variant: rgb(65 73 65);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(45 50 44);
  --md-sys-color-inverse-primary: rgb(52 105 63);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 33 10);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(27 81 41);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(15 31 17);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 75 58);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 85);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(54 58 53);
  --md-sys-color-surface-container-lowest: rgb(11 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 49);
}
.dark-medium-contrast {
  --md-sys-color-primary: rgb(176 234 181);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 45 15);
  --md-sys-color-primary-container: rgb(102 157 110);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(205 226 203);
  --md-sys-color-on-secondary: rgb(25 41 27);
  --md-sys-color-secondary-container: rgb(130 150 130);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 228 237);
  --md-sys-color-on-tertiary: rgb(0 42 49);
  --md-sys-color-tertiary-container: rgb(108 152 160);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 222 212);
  --md-sys-color-outline: rgb(173 180 170);
  --md-sys-color-outline-variant: rgb(139 146 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(28 82 42);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 21 5);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(4 63 26);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(5 20 8);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 58 43);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 24);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 60 68);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 46);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
}
.dark-high-contrast {
  --md-sys-color-primary: rgb(195 255 200);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(151 208 157);
  --md-sys-color-on-primary-container: rgb(0 15 3);
  --md-sys-color-secondary: rgb(225 246 223);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(180 200 178);
  --md-sys-color-on-secondary-container: rgb(1 14 4);
  --md-sys-color-tertiary: rgb(208 247 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(157 202 211);
  --md-sys-color-on-tertiary-container: rgb(0 13 17);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(235 242 231);
  --md-sys-color-outline-variant: rgb(189 197 186);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(28 82 42);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 5);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(5 20 8);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 24);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(76 81 75);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 33 28);
  --md-sys-color-surface-container: rgb(45 50 44);
  --md-sys-color-surface-container-high: rgb(56 61 55);
  --md-sys-color-surface-container-highest: rgb(67 72 66);
}
