//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/motion';
@use '../../styles/shape';
@use '../../styles/statelayer';
@include motion.token('expressive-fast-spatial', 'expressive-fast-spatial-duration');

$iconbuttons: '[class*="micl-iconbutton-"]';
$disabled: ':is(:disabled, :has(> :disabled))';
$enabled: ':not(:disabled, :has(> :disabled))';
$focused: ':is(:focus-visible, :has(input:focus-visible))';
$selected: '.micl-button--toggle:is([aria-pressed="true"], :has(input:checked))';
$unselected: '.micl-button--toggle:not([aria-pressed="true"], :has(input:checked))';

@include shape.corner('small');
@include shape.corner('medium');
@include shape.corner('large');
@include shape.corner('extra-large');

@include statelayer.token('hover-state-layer-opacity');
@include statelayer.token('focus-state-layer-opacity');
@include statelayer.token('pressed-state-layer-opacity');
@include statelayer.token('focus-indicator-thickness');
@include statelayer.token('ripple-opacity-factor');
@include statelayer.token('ripple-duration');
@include statelayer.property;
@include statelayer.keyframes;

#{$iconbuttons} {
    --_button-motion-effects: var(--md-comp-icon-button-motion-effects, var(--md-sys-motion-expressive-fast-spatial));
    --_button-motion-duration: var(--md-comp-icon-button-motion-duration, var(--md-sys-motion-expressive-fast-spatial-duration));
    --micl-ripple: 1;

    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--micl-width);
    min-inline-size: var(--micl-width);
    block-size: var(--micl-height);

    --_shape-round: calc(min(var(--micl-width), var(--micl-height)) / 2);

    padding: 0;
    border: none;
    border-radius: var(--_shape-round);
    background-color: transparent;
    @include statelayer.layer;
    -webkit-tap-highlight-color: transparent;
    font-variation-settings: 'FILL' 0;
    text-decoration: none;
    cursor: pointer;
    transition:
        border-radius var(--_button-motion-duration) var(--_button-motion-effects),
        inline-size var(--_button-motion-duration) var(--_button-motion-effects),
        font-variation-settings var(--_button-motion-duration) linear,
        background-size 0ms,
        --statelayer-opacity var(--_button-motion-duration) linear;

    &#{$disabled} {
        cursor: default;
    }
    &#{$enabled} {
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity, 8%);
        }
        &#{$focused} {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity, 10%);

            z-index: 1;
            @include statelayer.focus-indicator;
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity, 10%);
        }
        &.micl-rippling {
            animation: micl-ripple calc(var(--md-sys-state-ripple-duration) * 1.333);
        }
    }
    &.micl-button--toggle > input {
        position: absolute;
        inset: 0;
        margin: 0;
        opacity: 0;
        cursor: inherit;
    }
    &:hover#{$enabled},
    &#{$selected} {
        font-variation-settings: 'FILL' 1;
    }
    &#{$unselected}::after {
        content: attr(data-miclicon) / "";
    }
    &#{$selected}::after {
        content: attr(data-micliconselected) / "";
    }

    &#{$selected} {
        border-radius: var(--_shape-square);
    }
    &.micl-iconbutton--narrow {
        --micl-width: var(--_iconbutton-width-narrow);
    }
    &.micl-iconbutton--wide {
        --micl-width: var(--_width-wide);
    }
    &.micl-button--square {
        border-radius: var(--_shape-square);

        &#{$selected} {
            border-radius: var(--_shape-round);
        }
    }
    &#{$enabled}:active {
        &,
        &.micl-button--square {
            border-radius: var(--_button-shape-pressed);
        }
    }
}

:is(.micl-iconbutton-standard-xs, .micl-iconbutton-filled-xs, .micl-iconbutton-tonal-xs, .micl-iconbutton-outlined-xs) {
    @extend %micl-target;

    --micl-width: 32px;
    --micl-height: 32px;
    --_iconbutton-width-narrow: 28px;
    --_width-wide: 40px;
    --_shape-square: var(--md-sys-shape-corner-medium);
    --_button-shape-pressed: var(--md-sys-shape-corner-small);

    font-size: 20px;
}

:is(.micl-iconbutton-standard-s, .micl-iconbutton-filled-s, .micl-iconbutton-tonal-s, .micl-iconbutton-outlined-s) {
    @extend %micl-target;

    --micl-width: 40px;
    --micl-height: 40px;
    --_iconbutton-width-narrow: 32px;
    --_width-wide: 52px;
    --_shape-square: var(--md-sys-shape-corner-medium);
    --_button-shape-pressed: var(--md-sys-shape-corner-small);

    font-size: var(--md-sys-icon-size, 24px);
}

:is(.micl-iconbutton-standard-m, .micl-iconbutton-filled-m, .micl-iconbutton-tonal-m, .micl-iconbutton-outlined-m) {
    --micl-width: 56px;
    --micl-height: 56px;
    --_iconbutton-width-narrow: 48px;
    --_width-wide: 72px;
    --_shape-square: var(--md-sys-shape-corner-large);
    --_button-shape-pressed: var(--md-sys-shape-corner-medium);

    font-size: var(--md-sys-icon-size, 24px);
}

:is(.micl-iconbutton-standard-l, .micl-iconbutton-filled-l, .micl-iconbutton-tonal-l, .micl-iconbutton-outlined-l) {
    --micl-width: 96px;
    --micl-height: 96px;
    --_iconbutton-width-narrow: 64px;
    --_width-wide: 128px;
    --_shape-square: var(--md-sys-shape-corner-extra-large);
    --_button-shape-pressed: var(--md-sys-shape-corner-large);

    font-size: 32px;
}

:is(.micl-iconbutton-standard-xl, .micl-iconbutton-filled-xl, .micl-iconbutton-tonal-xl, .micl-iconbutton-outlined-xl) {
    --micl-width: 136px;
    --micl-height: 136px;
    --_iconbutton-width-narrow: 104px;
    --_width-wide: 184px;
    --_shape-square: var(--md-sys-shape-corner-extra-large);
    --_button-shape-pressed: var(--md-sys-shape-corner-large);

    font-size: 40px;
}

[class*="micl-iconbutton-standard-"] {
    --statelayer-color: var(--md-sys-color-on-surface-variant);

    color: var(--md-comp-icon-button-icon-color, var(--md-sys-color-on-surface-variant));

    &#{$disabled} {
        background-color: transparent;
        color: var(--md-comp-icon-button-disabled-icon-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-icon-button-disabled-icon-opacity, 38%)));
    }
    &#{$enabled} {
        &#{$selected} {
            --statelayer-color: var(--md-sys-color-primary);

            color: var(--md-comp-icon-button-selected-icon-color, var(--md-sys-color-primary));
        }
    }
}

[class*="micl-iconbutton-filled-"] {
    --statelayer-color: var(--md-sys-color-on-primary);

    background-color: var(--md-comp-filled-icon-button-container-color, var(--md-sys-color-primary));
    color: var(--md-comp-filled-icon-button-icon-color, var(--md-sys-color-on-primary));

    &#{$disabled} {
        background-color: var(--md-comp-filled-icon-button-disabled-container-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-filled-icon-button-disabled-container-opacity, 10%)));
        color: var(--md-comp-filled-icon-button-disabled-icon-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-filled-icon-button-disabled-icon-opacity, 38%)));
    }
    &#{$enabled} {
        &#{$unselected} {
            --statelayer-color: var(--md-sys-color-on-surface-variant);

            background-color: var(--md-comp-filled-icon-button-unselected-container-color, var(--md-sys-color-surface-container));
            color: var(--md-comp-filled-icon-button-unselected-icon-color, var(--md-sys-color-on-surface-variant));
        }
    }
}

[class*="micl-iconbutton-tonal-"] {
    --statelayer-color: var(--md-sys-color-on-secondary-container);

    background-color: var(--md-comp-filled-tonal-icon-button-container-color, var(--md-sys-color-secondary-container));
    color: var(--md-comp-filled-tonal-icon-button-icon-color, var(--md-sys-color-on-secondary-container));

    &#{$disabled} {
        background-color: var(--md-comp-filled-tonal-icon-button-disabled-container-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-filled-tonal-icon-button-disabled-container-opacity, 10%)));
        color: var(--md-comp-filled-tonal-icon-button-disabled-icon-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-filled-tonal-icon-button-disabled-icon-opacity, 38%)));
    }
    &#{$enabled} {
        &#{$selected} {
            --statelayer-color: var(--md-sys-color-on-secondary);

            background-color: var(--md-comp-filled-tonal-icon-button-selected-container-color, var(--md-sys-color-secondary));
            color: var(--md-comp-filled-tonal-icon-button-selected-icon-color, var(--md-sys-color-on-secondary));
        }
    }
}

[class*="micl-iconbutton-outlined-"] {
    --statelayer-color: var(--md-sys-color-on-surface-variant);

    background-color: transparent;
    color: var(--md-comp-outlined-icon-button-icon-color, var(--md-sys-color-on-surface-variant));

    &#{$disabled} {
        background-color: transparent;
        color: var(--md-comp-outlined-icon-button-disabled-icon-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-outlined-icon-button-disabled-icon-opacity, 38%)));

        &#{$selected} {
            border-color: transparent;
            background-color: var(--md-comp-outlined-icon-button-selected-disabled-container-color, rgb(from var(--md-sys-color-on-surface) r g b / var(--md-comp-outlined-icon-button-selected-disabled-container-opacity, 10%)));
        }
    }
    &#{$enabled} {
        &#{$selected} {
            --statelayer-color: var(--md-sys-color-inverse-on-surface);

            border-color: transparent;
            background-origin: border-box;
            background-color: var(--md-comp-outlined-icon-button-selected-container-color, var(--md-sys-color-inverse-surface));
            color: var(--md-comp-outlined-icon-button-selected-icon-color, var(--md-sys-color-inverse-on-surface));
        }
    }
}
.micl-iconbutton-outlined-xs,
.micl-iconbutton-outlined-s,
.micl-iconbutton-outlined-m {
    border: 1px solid var(--md-comp-outlined-icon-button-outline-color, var(--md-sys-color-outline-variant));
}
.micl-iconbutton-outlined-l {
    border: 2px solid var(--md-comp-outlined-icon-button-outline-color, var(--md-sys-color-outline-variant));
}
.micl-iconbutton-outlined-xl {
    border: 3px solid var(--md-comp-outlined-icon-button-outline-color, var(--md-sys-color-outline-variant));
}

@media (forced-colors: active) {
    #{$iconbuttons}#{$selected} {
        forced-color-adjust: none;
        color: HighlightText !important;
        border-color: Highlight !important;
        background-color: Highlight !important;
    }
}
