//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/statelayer';

button.micl-iconbutton-standard-xs,
button.micl-iconbutton-standard-s,
a.micl-iconbutton-standard-s,
button.micl-iconbutton-standard-m,
a.micl-iconbutton-standard-m,
button.micl-iconbutton-standard-l,
button.micl-iconbutton-standard-xl,
button.micl-iconbutton-filled-xs,
button.micl-iconbutton-filled-s,
button.micl-iconbutton-filled-m,
button.micl-iconbutton-filled-l,
button.micl-iconbutton-filled-xl,
button.micl-iconbutton-tonal-xs,
button.micl-iconbutton-tonal-s,
button.micl-iconbutton-tonal-m,
button.micl-iconbutton-tonal-l,
button.micl-iconbutton-tonal-xl,
button.micl-iconbutton-outlined-xs,
button.micl-iconbutton-outlined-s,
button.micl-iconbutton-outlined-m,
button.micl-iconbutton-outlined-l,
button.micl-iconbutton-outlined-xl {
    --md-sys-iconbutton-motion-effects: #{motion.$md-sys-motion-expressive-fast-spatial};
    --md-sys-iconbutton-motion-duration: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --md-sys-iconbutton-motion-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --micl-ripple: 1;

    padding: 0;
    border: none;
    border-radius: var(--md-sys-shape-corner-full);
    background-color: transparent;
    background-image:
        radial-gradient(circle at var(--micl-x, center) var(--micl-y, center), transparent 0%, rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)) 10%, transparent 10%),
        linear-gradient(rgb(from var(--statelayer-color) r g b / var(--statelayer-opacity)));
    background-repeat: no-repeat;
    background-size: 10000%, 100%;
    color: var(--md-sys-color-on-surface-variant);
    cursor: pointer;
    font-variation-settings: 'FILL' 0;
    transition:
        border-radius var(--md-sys-iconbutton-motion-duration) var(--md-sys-iconbutton-motion-effects),
        font-variation-settings var(--md-sys-iconbutton-motion-duration) linear,
        background-size 3000ms,
        --statelayer-opacity var(--md-sys-iconbutton-motion-duration) linear;

    &:disabled {
        background-color: rgb(from var(--md-sys-color-on-surface) r g b / 10%);
        color: rgb(from var(--md-sys-color-on-surface) r g b / 38%);
        box-shadow: var(--md-sys-elevation-level0);
        cursor: default;
    }
    &:not(:disabled) {
        &:focus-visible {
            outline: var(--md-sys-state-focus-indicator-thickness) solid var(--md-sys-color-secondary);
            outline-offset: 3px;
        }
        &:active {
            background-size: 0%, 100%;
            transition: background-size 0ms;
        }
    }
    &:hover:not(:disabled),
    &.micl-button--toggle.micl-button--selected {
        font-variation-settings: 'FILL' 1;
    }
}

button.micl-iconbutton-standard-xs,
button.micl-iconbutton-filled-xs,
button.micl-iconbutton-tonal-xs,
button.micl-iconbutton-outlined-xs {
    position: relative;
    inline-size: 32px;
    min-inline-size: 32px;
    block-size: 32px;
    font-size: 20px;

    &::before {
        content: "";
        position: absolute;
        block-size: var(--md-sys-target-size);
        inline-size: var(--md-sys-target-size);
        inset: calc((32px - var(--md-sys-target-size)) / 2) 0 0 calc((32px - var(--md-sys-target-size)) / 2);
        background-color: transparent;
    }
    &.micl-button--toggle.micl-button--selected {
        // border-radius: var(--md-sys-shape-corner-medium);
        border-radius: var(--md-sys-shape-corner-large);
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-small);
        }
    }
    &.micl-iconbutton--narrow {
        inline-size: 28px;
        min-inline-size: 28px;
        border-radius: 14px;

        &::before {
            inset: calc((32px - var(--md-sys-target-size)) / 2) 0 0 calc((28px - var(--md-sys-target-size)) / 2);
        }
    }
    &.micl-iconbutton--wide {
        inline-size: 40px;
        min-inline-size: 40px;
        border-radius: 16px;

        &::before {
            inset: calc((32px - var(--md-sys-target-size)) / 2) 0 0 calc((40px - var(--md-sys-target-size)) / 2);
        }
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-medium);

        &.micl-button--toggle.micl-button--selected {
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

button.micl-iconbutton-standard-s,
a.micl-iconbutton-standard-s,
button.micl-iconbutton-filled-s,
button.micl-iconbutton-tonal-s,
button.micl-iconbutton-outlined-s {
    position: relative;
    inline-size: 40px;
    min-inline-size: 40px;
    block-size: 40px;
    font-size: 24px;

    &::before {
        content: "";
        position: absolute;
        block-size: var(--md-sys-target-size);
        inline-size: var(--md-sys-target-size);
        inset: calc((40px - var(--md-sys-target-size)) / 2) 0 0 calc((40px - var(--md-sys-target-size)) / 2);
        background-color: transparent;
    }
    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-medium);
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-small);
        }
    }
    &.micl-iconbutton--narrow {
        inline-size: 32px;
        min-inline-size: 32px;
        border-radius: 16px;

        &::before {
            inset: calc((40px - var(--md-sys-target-size)) / 2) 0 0 calc((32px - var(--md-sys-target-size)) / 2);
        }
    }
    &.micl-iconbutton--wide {
        inline-size: 52px;
        min-inline-size: 52px;
        border-radius: 20px;

        &::before {
            inline-size: 52px;
            inset: calc((40px - var(--md-sys-target-size)) / 2) 0 0 0;
        }
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-medium);

        &.micl-button--toggle.micl-button--selected {
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

button.micl-iconbutton-standard-m,
a.micl-iconbutton-standard-m,
button.micl-iconbutton-filled-m,
button.micl-iconbutton-tonal-m,
button.micl-iconbutton-outlined-m {
    inline-size: 56px;
    min-inline-size: 56px;
    block-size: 56px;
    font-size: 24px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-large);
    }
    &:not(:disabled) {
        &:active {
            // border-radius: var(--md-sys-shape-corner-small);
            border-radius: var(--md-sys-shape-corner-medium);
        }
    }
    &.micl-iconbutton--narrow {
        inline-size: var(--md-sys-target-size);
        min-inline-size: var(--md-sys-target-size);
        border-radius: calc(var(--md-sys-target-size) / 2);
    }
    &.micl-iconbutton--wide {
        inline-size: 72px;
        min-inline-size: 72px;
        border-radius: 36px;
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

button.micl-iconbutton-standard-l,
button.micl-iconbutton-filled-l,
button.micl-iconbutton-tonal-l,
button.micl-iconbutton-outlined-l {
    inline-size: 96px;
    min-inline-size: 96px;
    block-size: 96px;
    font-size: 32px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-extra-large);
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-large);
        }
    }
    &.micl-iconbutton--narrow {
        inline-size: 64px;
        min-inline-size: 64px;
        border-radius: 32px;
    }
    &.micl-iconbutton--wide {
        inline-size: 128px;
        min-inline-size: 128px;
        border-radius: 64px;
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-extra-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

button.micl-iconbutton-standard-xl,
button.micl-iconbutton-filled-xl,
button.micl-iconbutton-tonal-xl,
button.micl-iconbutton-outlined-xl {
    inline-size: 136px;
    min-inline-size: 136px;
    block-size: 136px;
    font-size: 40px;

    &.micl-button--toggle.micl-button--selected {
        border-radius: var(--md-sys-shape-corner-extra-large);
    }
    &:not(:disabled) {
        &:active {
            border-radius: var(--md-sys-shape-corner-large);
        }
    }
    &.micl-iconbutton--narrow {
        inline-size: 104px;
        min-inline-size: 104px;
        border-radius: 52px;
    }
    &.micl-iconbutton--wide {
        inline-size: 184px;
        min-inline-size: 184px;
        border-radius: 92px;
    }
    &.micl-button--square {
        border-radius: var(--md-sys-shape-corner-extra-large);

        &.micl-button--toggle.micl-button--selected {
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

button.micl-iconbutton-standard-xs,
button.micl-iconbutton-standard-s,
a.micl-iconbutton-standard-s,
button.micl-iconbutton-standard-m,
a.micl-iconbutton-standard-m,
button.micl-iconbutton-standard-l,
button.micl-iconbutton-standard-xl {
    --statelayer-color: var(--md-sys-color-on-surface-variant);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-primary);

            color: var(--md-sys-color-primary);
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
        }
    }
}


button.micl-iconbutton-filled-xs,
button.micl-iconbutton-filled-s,
button.micl-iconbutton-filled-m,
button.micl-iconbutton-filled-l,
button.micl-iconbutton-filled-xl {
    --statelayer-color: var(--md-sys-color-on-primary);

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &:not(:disabled) {
        &.micl-button--toggle:not(.micl-button--selected) {
            --statelayer-color: var(--md-sys-color-on-surface-variant);

            background-color: var(--md-sys-color-surface-container);
            color: var(--md-sys-color-on-surface-variant);
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
        }
    }
}

button.micl-iconbutton-tonal-xs,
button.micl-iconbutton-tonal-s,
button.micl-iconbutton-tonal-m,
button.micl-iconbutton-tonal-l,
button.micl-iconbutton-tonal-xl {
    --statelayer-color: var(--md-sys-color-on-secondary-container);

    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-on-secondary);

            background-color: var(--md-sys-color-secondary);
            color: var(--md-sys-color-on-secondary);
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
        }
    }
}

button.micl-iconbutton-outlined-xs,
button.micl-iconbutton-outlined-s,
button.micl-iconbutton-outlined-m,
button.micl-iconbutton-outlined-l,
button.micl-iconbutton-outlined-xl {
    --statelayer-color: var(--md-sys-color-on-surface-variant);

    background-color: transparent;
    color: var(--md-sys-color-on-surface-variant);

    &.micl-iconbutton-outlined-xs,
    &.micl-iconbutton-outlined-s {
        // border-color: var(--md-sys-color-outline);
        box-shadow: inset 1px 0px var(--md-sys-color-outline-variant),
                    inset -1px 0px var(--md-sys-color-outline-variant),
                    inset 0px -1px var(--md-sys-color-outline-variant),
                    inset 0px 1px var(--md-sys-color-outline-variant);
    }
    &.micl-iconbutton-outlined-m {
        // border: 1px solid var(--md-sys-color-outline);
        border: 1px solid var(--md-sys-color-outline-variant);
    }
    &.micl-iconbutton-outlined-l {
        // border: 2px solid var(--md-sys-color-outline);
        border: 2px solid var(--md-sys-color-outline-variant);
    }
    &.micl-iconbutton-outlined-xl {
        // border: 3px solid var(--md-sys-color-outline);
        border: 3px solid var(--md-sys-color-outline-variant);
    }
    &:not(:disabled) {
        &.micl-button--toggle.micl-button--selected {
            --statelayer-color: var(--md-sys-color-inverse-on-surface);

            background-color: var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);
        }
        &:hover {
            --statelayer-opacity: var(--md-sys-state-hover-state-layer-opacity);
        }
        &:focus-visible {
            --statelayer-opacity: var(--md-sys-state-focus-state-layer-opacity);
        }
        &:active {
            --statelayer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
        }
    }
}
