//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

$md-sys-shape-corner-none: 0px;
$md-sys-shape-corner-extra-small: 4px;
$md-sys-shape-corner-small: 8px;
$md-sys-shape-corner-medium: 12px;
$md-sys-shape-corner-large: 16px;
$md-sys-shape-corner-large-increased: 20px;
$md-sys-shape-corner-extra-large: 28px;
$md-sys-shape-corner-extra-large-increased: 32px;
$md-sys-shape-corner-extra-extra-large: 48px;
$md-sys-shape-corner-full: 50%;

:root {
    --md-sys-shape-corner-none: #{$md-sys-shape-corner-none};
    --md-sys-shape-corner-extra-small: #{$md-sys-shape-corner-extra-small};
    --md-sys-shape-corner-small: #{$md-sys-shape-corner-small};
    --md-sys-shape-corner-medium: #{$md-sys-shape-corner-medium};
    --md-sys-shape-corner-large: #{$md-sys-shape-corner-large};
    --md-sys-shape-corner-large-increased: #{$md-sys-shape-corner-large-increased};
    --md-sys-shape-corner-extra-large: #{$md-sys-shape-corner-extra-large};
    --md-sys-shape-corner-extra-large-increased: #{$md-sys-shape-corner-extra-large-increased};
    --md-sys-shape-corner-extra-extra-large: #{$md-sys-shape-corner-extra-extra-large};
    --md-sys-shape-corner-full: #{$md-sys-shape-corner-full};
}
