.dark-high-contrast {
  --md-sys-color-primary: rgb(221 250 173);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(176 204 132);
  --md-sys-color-on-primary-container: rgb(6 14 0);
  --md-sys-color-secondary: rgb(234 244 212);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(189 199 168);
  --md-sys-color-on-secondary-container: rgb(7 13 1);
  --md-sys-color-tertiary: rgb(201 250 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 204 198);
  --md-sys-color-on-tertiary-container: rgb(0 14 12);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(239 241 226);
  --md-sys-color-outline-variant: rgb(193 196 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(56 79 21);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(10 20 0);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(12 19 3);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 19);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(79 81 72);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 32 25);
  --md-sys-color-surface-container: rgb(47 49 42);
  --md-sys-color-surface-container-high: rgb(58 60 52);
  --md-sys-color-surface-container-highest: rgb(69 72 63);
}
