.dark-medium-contrast {
  --md-sys-color-primary: rgb(201 230 155);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(25 42 0);
  --md-sys-color-primary-container: rgb(127 153 87);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(214 224 193);
  --md-sys-color-on-secondary: rgb(32 40 20);
  --md-sys-color-secondary-container: rgb(139 148 120);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(182 230 224);
  --md-sys-color-on-tertiary: rgb(0 43 40);
  --md-sys-color-tertiary-container: rgb(107 153 148);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(219 222 207);
  --md-sys-color-outline: rgb(176 179 165);
  --md-sys-color-outline-variant: rgb(143 146 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(56 79 21);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(10 20 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(39 60 3);
  --md-sys-color-secondary-fixed: rgb(221 231 199);
  --md-sys-color-on-secondary-fixed: rgb(12 19 3);
  --md-sys-color-secondary-fixed-dim: rgb(192 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 57 35);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 61 57);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(67 69 61);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(28 30 23);
  --md-sys-color-surface-container: rgb(38 41 33);
  --md-sys-color-surface-container-high: rgb(49 51 44);
  --md-sys-color-surface-container-highest: rgb(60 63 55);
}
