.light-medium-contrast {
  --md-sys-color-primary: rgb(39 60 3);
  --md-sys-color-surface-tint: rgb(78 102 41);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(92 117 55);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(49 57 35);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(103 112 86);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(9 61 57);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 117 112);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(16 18 12);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(52 55 45);
  --md-sys-color-outline: rgb(80 84 72);
  --md-sys-color-outline-variant: rgb(107 110 98);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(241 242 230);
  --md-sys-color-inverse-primary: rgb(180 208 135);
  --md-sys-color-primary-fixed: rgb(92 117 55);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(69 92 33);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(103 112 86);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(79 88 64);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(72 117 112);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(46 92 88);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(198 199 188);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 233);
  --md-sys-color-surface-container: rgb(232 233 222);
  --md-sys-color-surface-container-high: rgb(221 222 210);
  --md-sys-color-surface-container-highest: rgb(209 210 199);
}
