//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';

:root {
    --md-sys-menu-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-sys-menu-motion-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};
    --md-sys-menu-motion-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};
    --md-sys-menu-width-max: 280px;
    --md-sys-menu-width-min: 112px;
}

.micl-menu[popover] {
    position: absolute;
    inset: unset;
    inset-block-start: anchor(end);
    inset-inline-start: anchor(start);
    position-try: most-block-size flip-block, flip-inline;
    min-inline-size: var(--md-sys-menu-width-min, 112px);
    max-inline-size: var(--md-sys-menu-width-max, 280px);
    padding: 0;
    border: none;
    border-radius: var(--md-sys-shape-corner-extra-small);
    outline: none;
    background-color: var(--md-sys-color-surface-container);
    box-shadow: var(--md-sys-elevation-level2);
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: left top;
    transition:
        opacity var(--md-sys-menu-motion-duration-reverse) linear,
        transform var(--md-sys-menu-motion-duration-reverse) var(--md-sys-menu-motion-spatial),
        overlay var(--md-sys-menu-motion-duration-reverse) linear allow-discrete,
        display var(--md-sys-menu-motion-duration-reverse) linear allow-discrete;

    &:popover-open {
        opacity: 1;
        transform: scaleY(1);
        transition:
            opacity var(--md-sys-menu-motion-duration) motion.$md-sys-motion-easing-emphasized-decelerate,
            transform var(--md-sys-menu-motion-duration) var(--md-sys-menu-motion-spatial),
            overlay var(--md-sys-menu-motion-duration) linear allow-discrete,
            display var(--md-sys-menu-motion-duration) linear allow-discrete;

        @starting-style {
            opacity: 0;
            transform: scaleY(0);
        }
        &::backdrop {
            background-color: rgba(0, 0, 0, 0.2);

            @starting-style {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0);
        transition:
            background-color var(--md-sys-menu-motion-duration) linear,
            overlay var(--md-sys-menu-motion-duration) linear allow-discrete,
            display var(--md-sys-menu-motion-duration) linear allow-discrete;
    }

    &> .micl-list {
        --md-sys-list-item-one-height: 48px;
        --md-sys-list-item-one-padding: 0;
        --md-sys-list-item-two-padding: 0;
        --md-sys-list-item-space: 12px;
        --md-sys-list-item-container-color: var(--md-sys-color-surface-container);

        .micl-list-item-one,
        .micl-list-item-two,
        .micl-list-item-three {
            &> .micl-menu[popover] {
                transform: scaleX(0);

                &:popover-open {
                    transform: scaleX(1);

                    @starting-style {
                        transform: scaleX(0);
                    }
                }
                &:popover-open {
                    &::backdrop {
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }
}

[dir=rtl] .micl-menu[popover] > .micl-list button[popovertarget] .micl-list-item__icon {
    transform: rotate(180deg);
}
