//
// Copyright © 2025 Hermana AS
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@use '../../foundations';
@use '../../styles/elevation';
@use '../../styles/motion';
@use '../../styles/shapes';
@use '../../styles/typography';

:root {
    --md-comp-menu-width-max: 320px;
    --md-comp-menu-width-min: 112px;
}

$menu-padding-block: 4px;
$item-classes: ':is(.micl-list-item-one, .micl-list-item-two, .micl-list-item-three)';

@mixin menu-color-set(
    $variant,
    $container,
    $on-container,
    $on-container-strong,
    $on-icon-active,
    $selected-container,
    $on-selected
) {
    --md-comp-list-item-container-color: var(--md-comp-menu-#{$variant}-menu-item-container-color, #{$container});
    --md-comp-list-item-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-label-text-color, #{$on-container});
    --md-comp-list-item-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-leading-icon-color, #{$on-container});
    --md-comp-list-item-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-supporting-text-color, #{$on-container});
    --md-comp-list-item-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-trailing-icon-color, #{$on-container});
    --md-comp-list-item-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-trailing-supporting-text-color, #{$on-container});

    --md-comp-list-item-disabled-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-disabled-label-text-color, #{$on-container-strong});
    --md-comp-list-item-disabled-label-text-opacity: var(--md-comp-menu-#{$variant}-menu-item-disabled-label-text-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-disabled-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-disabled-leading-icon-color, #{$on-container-strong});
    --md-comp-list-item-disabled-leading-icon-opacity: var(--md-comp-menu-#{$variant}-menu-item-disabled-leading-icon-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-disabled-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-disabled-supporting-text-color, #{$on-container-strong});
    --md-comp-list-item-disabled-supporting-text-opacity: var(--md-comp-menu-#{$variant}-menu-item-disabled-supporting-text-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-disabled-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-disabled-trailing-icon-color, #{$on-container-strong});
    --md-comp-list-item-disabled-trailing-icon-opacity: var(--md-comp-menu-#{$variant}-menu-item-disabled-trailing-icon-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-disabled-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-disabled-trailing-supporting-text-color, #{$on-container-strong});
    --md-comp-list-item-disabled-trailing-supporting-text-opacity: var(--md-comp-menu-#{$variant}-menu-item-disabled-trailing-supporting-text-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));

    --md-comp-list-item-focus-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-focused-label-text-color, #{$on-container-strong});
    --md-comp-list-item-focus-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-focused-leading-icon-color, #{$on-icon-active});
    --md-comp-list-item-focus-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-focused-state-layer-color, #{$on-container-strong});
    --md-comp-list-item-focus-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-focused-state-layer-opacity, var(--md-sys-state-focus-state-layer-opacity, 10%));
    --md-comp-list-item-focus-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-focused-supporting-text-color, #{$on-container});
    --md-comp-list-item-focus-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-focused-trailing-icon-color, #{$on-icon-active});
    --md-comp-list-item-focus-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-focused-trailing-supporting-text-color, #{$on-container});

    --md-comp-list-item-hover-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-label-text-color, #{$on-container-strong});
    --md-comp-list-item-hover-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-leading-icon-color, #{$on-icon-active});
    --md-comp-list-item-hover-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-state-layer-color, #{$on-container-strong});
    --md-comp-list-item-hover-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-hovered-state-layer-opacity, var(--md-sys-state-hover-state-layer-opacity, 8%));
    --md-comp-list-item-hover-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-supporting-text-color, #{$on-container});
    --md-comp-list-item-hover-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-trailing-icon-color, #{$on-icon-active});
    --md-comp-list-item-hover-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-hovered-trailing-supporting-text-color, #{$on-container});

    --md-comp-list-item-pressed-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-label-text-color, #{$on-container-strong});
    --md-comp-list-item-pressed-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-leading-icon-color, #{$on-icon-active});
    --md-comp-list-item-pressed-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-state-layer-color, #{$on-container-strong});
    --md-comp-list-item-pressed-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-pressed-state-layer-opacity, var(--md-sys-state-pressed-state-layer-opacity, 10%));
    --md-comp-list-item-pressed-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-supporting-text-color, #{$on-container});
    --md-comp-list-item-pressed-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-trailing-icon-color, #{$on-icon-active});
    --md-comp-list-item-pressed-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-pressed-trailing-supporting-text-color, #{$on-container});

    --md-comp-list-item-selected-container-color: var(--md-comp-menu-#{$variant}-menu-item-selected-container-color, #{$selected-container});
    --md-comp-list-item-selected-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-label-text-color, #{$on-selected});
    --md-comp-list-item-selected-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-leading-icon-color, #{$on-selected});
    --md-comp-list-item-selected-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-supporting-text-color, #{$on-selected});
    --md-comp-list-item-selected-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-trailing-icon-color, #{$on-selected});
    --md-comp-list-item-selected-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-trailing-supporting-text-color, #{$on-selected});

    --md-comp-list-item-selected-disabled-container-color: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-container-color, #{$selected-container});
    --md-comp-list-item-selected-disabled-container-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-container-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-selected-disabled-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-label-text-color, #{$on-selected});
    --md-comp-list-item-selected-disabled-label-text-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-label-text-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-selected-disabled-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-leading-icon-color, #{$on-selected});
    --md-comp-list-item-selected-disabled-leading-icon-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-leading-icon-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-selected-disabled-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-trailing-icon-color, #{$on-selected});
    --md-comp-list-item-selected-disabled-trailing-icon-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-trailing-icon-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));
    --md-comp-list-item-selected-disabled-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-trailing-supporting-text-color, #{$on-selected});
    --md-comp-list-item-selected-disabled-trailing-supporting-text-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-disabled-trailing-supporting-text-opacity, var(--md-sys-state-disabled-state-layer-opacity, 38%));

    --md-comp-list-item-selected-focus-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-label-text-color, #{$on-selected});
    --md-comp-list-item-selected-focus-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-leading-icon-color, #{$on-selected});
    --md-comp-list-item-selected-focus-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-state-layer-color, #{$on-selected});
    --md-comp-list-item-selected-focus-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-state-layer-opacity, var(--md-sys-state-focus-state-layer-opacity, 10%));
    --md-comp-list-item-selected-focus-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-supporting-text-color, #{$on-selected});
    --md-comp-list-item-selected-focus-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-trailing-icon-color, #{$on-selected});
    --md-comp-list-item-selected-focus-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-focused-trailing-supporting-text-color, #{$on-selected});

    --md-comp-list-item-selected-hover-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-label-text-color, #{$on-selected});
    --md-comp-list-item-selected-hover-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-leading-icon-color, #{$on-selected});
    --md-comp-list-item-selected-hover-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-state-layer-color, #{$on-selected});
    --md-comp-list-item-selected-hover-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-state-layer-opacity, var(--md-sys-state-hover-state-layer-opacity, 8%));
    --md-comp-list-item-selected-hover-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-supporting-text-color, #{$on-selected});
    --md-comp-list-item-selected-hover-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-trailing-icon-color, #{$on-selected});
    --md-comp-list-item-selected-hover-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-hovered-trailing-supporting-text-color, #{$on-selected});

    --md-comp-list-item-selected-pressed-label-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-label-text-color, #{$on-selected});
    --md-comp-list-item-selected-pressed-leading-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-leading-icon-color, #{$on-selected});
    --md-comp-list-item-selected-pressed-state-layer-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-state-layer-color, #{$on-selected});
    --md-comp-list-item-selected-pressed-state-layer-opacity: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-state-layer-opacity, var(--md-sys-state-pressed-state-layer-opacity, 10%));
    --md-comp-list-item-selected-pressed-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-supporting-text-color, #{$on-selected});
    --md-comp-list-item-selected-pressed-trailing-icon-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-trailing-icon-color, #{$on-selected});
    --md-comp-list-item-selected-pressed-trailing-supporting-text-color: var(--md-comp-menu-#{$variant}-menu-item-selected-pressed-trailing-supporting-text-color, #{$on-selected});
}

.micl-menu[popover], select {
    --md-comp-menu-motion-effects: #{motion.$md-sys-motion-expressive-fast-effects};
    --md-comp-menu-motion-effects-duration: #{motion.$md-sys-motion-expressive-default-effects-duration};
    --md-comp-menu-motion-effects-duration-reverse: #{motion.$md-sys-motion-expressive-default-effects-duration};
    --md-comp-menu-motion-spatial: #{motion.$md-sys-motion-expressive-default-spatial};
    --md-comp-menu-motion-spatial-duration: #{motion.$md-sys-motion-expressive-default-spatial-duration};
    --md-comp-menu-motion-spatial-duration-reverse: #{motion.$md-sys-motion-expressive-fast-spatial-duration};

    --md-comp-list-container-shape: var(--md-comp-menu-active-container-shape, var(--md-comp-menu-container-shape, var(--md-sys-shape-corner-large, 16px)));

    --md-comp-list-item-container-expressive-shape: var(--md-comp-menu-item-shape, var(--md-sys-shape-corner-small, 8px));
    --md-comp-list-item-container-selected-expressive-shape: var(--md-comp-menu-item-selected-shape, var(--md-sys-shape-corner-large, 16px));

    --md-comp-list-item-between-space: 12px;
    --md-comp-list-item-leading-space: calc(var(--md-comp-menu-item-leading-space, 16px) - #{$menu-padding-block});
    --md-comp-list-item-leading-icon-expressive-size: var(--md-comp-menu-item-leading-icon-size, 20px);
    --md-comp-list-item-trailing-icon-expressive-size: var(--md-comp-menu-item-trailing-icon-size, 20px);
    --md-comp-list-item-trailing-space: calc(var(--md-comp-menu-item-trailing-space, 16px) - #{$menu-padding-block});
    --md-comp-list-item-top-space: var(--md-comp-menu-item-top-space, 8px);
    --md-comp-list-item-bottom-space: var(--md-comp-menu-item-bottom-space, 8px);
    --md-comp-list-item-one-line-container-height: var(--md-comp-menu-item-height, 44px);
    --md-comp-list-item-two-line-container-height: var(--md-comp-menu-item-height, 44px);
    --md-comp-list-item-three-line-container-height: var(--md-comp-menu-item-height, 44px);

    --md-comp-list-item-focus-indicator-color: var(--md-comp-menu-item-focus-indicator-color, var(--md-sys-color-secondary));
    --md-comp-list-item-focus-indicator-offset: var(--md-comp-menu-item-focus-indicator-offset, var(--md-sys-state-focus-indicator-inner-offset, -3px));
    --md-comp-list-item-focus-indicator-thickness: var(--md-comp-menu-item-focus-indicator-thickness, var(--md-sys-state-focus-indicator-thickness, 3px));

    @include menu-color-set(
        'standard',
        var(--md-sys-color-surface-container-low),
        var(--md-sys-color-on-surface-variant),
        var(--md-sys-color-on-surface),
        var(--md-sys-color-on-surface-variant),
        var(--md-sys-color-tertiary-container),
        var(--md-sys-color-on-tertiary-container)
    );

    .micl-menu__section {
        @include typography.label-small;

        padding-block: var(--md-comp-menu-section-label-top-space, 8px) var(--md-comp-menu-section-label-bottom-space, 8px);
        padding-inline: var(--md-comp-list-item-leading-space, 16px) var(--md-comp-list-item-trailing-space, 16px);
        color: var(--md-comp-menu-standard-section-label-text-color, var(--md-sys-color-on-surface-variant));
    }
    &.micl-menu--vibrant .micl-menu__section {
        color: var(--md-comp-menu-vibrant-section-label-text-color, var(--md-sys-color-on-tertiary-container));
    }
    .micl-list-item__text {
        @include typography.label-large;

        .micl-list-item__supporting-text {
            @include typography.body-small;
        }
    }
    .micl-list-item__trailing-text {
        @include typography.label-large;
    }
}

.micl-menu[popover] {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: unset;
    inset-block-start: anchor(end);
    inset-inline-start: anchor(start);
    position-try-order: most-block-size;
    position-try-fallbacks: flip-block, flip-inline;
    min-inline-size: var(--md-comp-menu-width-min, 112px);
    max-inline-size: var(--md-comp-menu-width-max, 320px);
    gap: var(--md-comp-menu-gap, 2px);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0;
    overflow: visible;
    transform: scaleY(0);
    transform-origin: center top;
    transition:
        opacity var(--md-comp-menu-motion-spatial-duration-reverse) linear,
        transform var(--md-comp-menu-motion-spatial-duration-reverse) var(--md-comp-menu-motion-spatial),
        overlay var(--md-comp-menu-motion-spatial-duration-reverse) linear allow-discrete,
        display var(--md-comp-menu-motion-spatial-duration-reverse) linear allow-discrete;

    &:popover-open {
        opacity: 1;
        transform: scaleY(1);
        transition:
            opacity var(--md-comp-menu-motion-spatial-duration) motion.$md-sys-motion-easing-emphasized-decelerate,
            transform var(--md-comp-menu-motion-spatial-duration) var(--md-comp-menu-motion-spatial),
            overlay var(--md-comp-menu-motion-spatial-duration) linear allow-discrete,
            display var(--md-comp-menu-motion-spatial-duration) linear allow-discrete;

        @starting-style {
            opacity: 0;
            transform: scaleY(0);
        }
        &::backdrop {
            background-color: rgba(0, 0, 0, var(--md-sys-state-backdrop-opacity, 32%));

            @starting-style {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0);
        transition:
            background-color var(--md-comp-menu-motion-effects-duration) linear,
            overlay var(--md-comp-menu-motion-effects-duration) linear allow-discrete,
            display var(--md-comp-menu-motion-effects-duration) linear allow-discrete;
    }

    .micl-list {
        padding: var(--md-comp-menu-group-padding, 4px) $menu-padding-block;
        row-gap: 2px;
        background-color: var(--md-comp-menu-standard-container-color, var(--md-sys-color-surface-container-low));
        box-shadow: var(--md-comp-menu-container-elevation, var(--md-sys-elevation-level2));
        transition: border-radius var(--md-comp-menu-motion-effects-duration-reverse) linear;

        &+ .micl-list {
            border-start-start-radius: var(--md-comp-menu-group-shape, var(--md-sys-shape-corner-small, 8px));
            border-start-end-radius: var(--md-comp-menu-group-shape, var(--md-sys-shape-corner-small, 8px));
        }
        &:has(+ .micl-list) {
            border-end-start-radius: var(--md-comp-menu-group-shape, var(--md-sys-shape-corner-small, 8px));
            border-end-end-radius: var(--md-comp-menu-group-shape, var(--md-sys-shape-corner-small, 8px));
        }

        #{$item-classes} > .micl-menu[popover] {
            transform: scaleX(0);

            &:popover-open {
                transform: scaleX(1);

                @starting-style {
                    transform: scaleX(0);
                }
                &::backdrop {
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }
    &:has(.micl-menu:popover-open) > .micl-list {
        --md-comp-list-container-shape: var(--md-comp-menu-inactive-container-shape, var(--md-sys-shape-corner-small, 8px));
    }

    &.micl-menu--vibrant > .micl-list {
        @include menu-color-set(
            'vibrant',
            var(--md-sys-color-tertiary-container),
            var(--md-sys-color-on-tertiary-container),
            var(--md-sys-color-on-tertiary-container),
            var(--md-sys-color-tertiary),
            var(--md-sys-color-tertiary),
            var(--md-sys-color-on-tertiary)
        );

        background-color: var(--md-comp-menu-vibrant-container-color, var(--md-sys-color-tertiary-container));
    }
}

[dir=rtl] .micl-menu[popover] > .micl-list button[popovertarget] .micl-list-item__icon {
    transform: rotate(180deg);
}
