.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 233);
  --md-sys-color-surface-tint: rgb(255 180 168);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 174 162);
  --md-sys-color-on-primary-container: rgb(34 0 0);
  --md-sys-color-secondary: rgb(255 236 233);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(227 185 178);
  --md-sys-color-on-secondary-container: rgb(25 6 4);
  --md-sys-color-tertiary: rgb(255 238 208);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(218 192 137);
  --md-sys-color-on-tertiary-container: rgb(17 10 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 223 220);
  --md-sys-color-surface: rgb(26 17 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 65);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 233);
  --md-sys-color-outline-variant: rgb(212 190 186);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 223 220);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(116 53 44);
  --md-sys-color-primary-fixed: rgb(255 218 212);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-primary-fixed-variant: rgb(44 1 1);
  --md-sys-color-secondary-fixed: rgb(255 218 212);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(32 11 8);
  --md-sys-color-tertiary-fixed: rgb(251 223 166);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(222 196 140);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 16 0);
  --md-sys-color-surface-dim: rgb(26 17 16);
  --md-sys-color-surface-bright: rgb(90 77 75);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(39 29 28);
  --md-sys-color-surface-container: rgb(57 46 44);
  --md-sys-color-surface-container-high: rgb(68 57 55);
  --md-sys-color-surface-container-highest: rgb(80 68 66);
}
